<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <ng-container *ngIf="activeTabMigrationID() === 0">
            <p>
                This page displays a list of config migrations. The migration moves the entities from the Kea JSON
                configuration to the Kea database. The migration is a one-time but time-consuming operation. On this
                page, you can monitor the progress of the migration.
            </p>
        </ng-container>
        <ng-container *ngIf="activeTabMigrationID() !== 0">
            <p>
                This page displays the details of the specific migration. You can monitor the progress of the migration
                and cancel it if necessary.
            </p>
        </ng-container>
    </div>
</app-breadcrumbs>

<app-tab-view
    routePath="/config-migrations/"
    [entityProvider]="migrationProvider"
    firstTabTitle="Config Migrations"
    [entityTitleProvider]="tabTitleProvider"
    [entitiesTable]="migrationsTableComponent()?.table"
    (activeTabChange)="activeTabMigrationID.set($event)"
>
    <ng-template #firstTab>
        <app-config-migration-table
            (cancelMigration)="onCancelMigration($event)"
            (clearMigrations)="onClearFinishedMigrations()"
        ></app-config-migration-table>
    </ng-template>
    <ng-template #entityTab let-migration let-onRefreshMigration="updateTabEntityFn">
        <app-config-migration-tab
            [migration]="migration"
            (cancelMigration)="onCancelMigration($event)"
            (refreshMigration)="onRefreshMigration($event)"
        ></app-config-migration-tab>
    </ng-template>
</app-tab-view>
