<p-tabs [(value)]="activeTabEntityID" (valueChange)="onActiveTabChange($event)">
    <p-tablist>
        @if (firstTabTemplate()) {
            <p-tab
                [value]="0"
                [routerLink]="firstTabRoute()"
                [queryParams]="firstTabQueryParams()"
                [fragment]="tabNavigationRouteFragment()"
                >{{ firstTabTitle() }}</p-tab
            >
        }
        @for (tab of openTabs; track tab.value) {
            <p-tab [value]="tab.value" [routerLink]="tab.route">
                @if (tab.icon) {
                    <span [ngClass]="tab.icon"></span>
                }
                {{ tab.title }}
                @if (closableTabs()) {
                    <p-button
                        icon="pi pi-times"
                        (click)="closeTab(tab.value)"
                        size="small"
                        [rounded]="true"
                        severity="secondary"
                        [text]="true"
                    />
                }
            </p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        @if (firstTabTemplate()) {
            <p-tabpanel [value]="0">
                <ng-container *ngTemplateOutlet="firstTabTemplate()"></ng-container>
            </p-tabpanel>
        }

        @for (tab of openTabs; track tab.value) {
            <p-tabpanel [value]="tab.value">
                @if (entityTabTemplate() && tab.tabType === TabType.Display) {
                    <ng-container
                        *ngTemplateOutlet="
                            entityTabTemplate();
                            context: {
                                $implicit: tab.entity,
                                updateTabTitleFn: onUpdateTabTitle,
                                updateTabEntityFn: onUpdateTabEntity,
                                beginEntityEditFn: onBeginEntityEdit,
                                deleteEntityFn: onDeleteEntity,
                            }
                        "
                    ></ng-container>
                } @else if (formTabTemplate() && (tab.tabType === TabType.New || tab.tabType === TabType.Edit)) {
                    <ng-container
                        *ngTemplateOutlet="
                            formTabTemplate();
                            context: {
                                $implicit: tab.entity,
                                tabForm: tab.form,
                                tabType: tab.tabType,
                                destroyFormFn: onDestroyForm,
                                submitFormFn: onSubmitForm,
                                cancelFormFn: onCancelForm,
                            }
                        "
                    ></ng-container>
                }
            </p-tabpanel>
        }
    </p-tabpanels>
</p-tabs>
