<div class="grid m-0">
    <div appAccessEntity="app" appAccessType="update" [appHideIfNoAccess]="true">
        <app-rename-app-dialog
            [appId]="appTab.app.id"
            [appName]="appTab.app.name"
            [existingApps]="existingApps"
            [existingMachines]="existingMachines"
            [visible]="appRenameDialogVisible"
            (submitted)="handleRenameDialogSubmitted($event)"
            (hidden)="handleRenameDialogHidden()"
        >
        </app-rename-app-dialog>
    </div>
    <div class="pl-0 pr-0 pb-4 col-12">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="flex justify-content-between flex-wrap gap-2 w-full">
                    <div class="text-2xl font-bold text-primary-600">
                        <i class="fa fa-server pr-2"></i> {{ appTab.app.name }}
                        <p-button
                            *ngIf="!showRenameDialogClicked"
                            icon="pi pi-pencil"
                            styleClass="ml-1"
                            id="rename-app-icon"
                            (onClick)="showRenameAppDialog()"
                            appAccessEntity="app"
                            appAccessType="update"
                            [rounded]="true"
                            [text]="true"
                            severity="secondary"
                        />
                        <p-progressSpinner
                            *ngIf="showRenameDialogClicked"
                            [style]="{ width: '25px', height: '25px' }"
                            styleClass="gray-spinner ml-3"
                            strokeWidth="6"
                        ></p-progressSpinner>
                    </div>
                    <button
                        type="button"
                        pButton
                        label="Refresh App"
                        id="refresh-app-button"
                        icon="pi pi-refresh"
                        (click)="refreshAppState()"
                    ></button>
                </div>
            </ng-template>
            <app-app-overview [app]="appTab.app"></app-app-overview>
        </p-panel>
    </div>
    <div class="p-0 col-12">
        <p-tabView [activeIndex]="activeTabIndex">
            <p-tabPanel *ngFor="let daemon of daemons; let i = index" [selected]="i === activeTabIndex">
                <ng-template pTemplate="header">
                    <div>
                        <span
                            class="{{ daemonStatusIconName(daemon) }}"
                            style="font-size: 1.6em; vertical-align: bottom"
                        ></span>
                        <span style="margin-right: 0.5em; font-weight: bold">
                            {{ daemon.name | daemonNiceName }}
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div class="grid p-0">
                        <div *ngIf="daemon.statusErred" class="col-12 sm:col-10 md:col-6">
                            <p-message severity="error" [text]="daemonStatusErrorText(daemon)"></p-message>
                        </div>

                        <div class="col-12 xl:col-7">
                            <ng-container [ngSwitch]="appTab.app.type">
                                <!-- BIND9 -->
                                <app-bind9-daemon
                                    *ngSwitchCase="'bind9'"
                                    [appId]="appTab.app.id"
                                    [daemon]="daemon"
                                ></app-bind9-daemon>
                                <!-- PowerDNS -->
                                <app-pdns-daemon *ngSwitchCase="'pdns'" [daemon]="daemon"></app-pdns-daemon>
                            </ng-container>
                        </div>
                        <!-- Events -->
                        <div class="col-12 xl:col-5">
                            <h3 class="underlined">Events</h3>
                            <app-events-panel
                                #eventsTable
                                [filter]="{
                                    machine: appTab.app.machine.id,
                                    appType: appTab.app.type,
                                }"
                            ></app-events-panel>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
