@keyframes p-progress-spinner-color
    0%
        stroke: var(--gray-400)
    100%
        stroke: var(--gray-400)

:host ::ng-deep .leases-search-spinner
  margin-left: 15px
  margin-right: 15px

// Set max-width to prevent horizontal overflow.
:host ::ng-deep .max-w-100vw
  // full viewport width minus some space for margins and paddings
  max-width: calc(100vw - 2.5rem)