<div class="login-screen__wrapper">
    <div class="login-screen">
        <div class="login-screen__content">
            <div class="login-screen__logo">
                <img src="assets/stork-logo-big.png" />
                <a href="https://stork.isc.org" target="blank" class="no-underline">Stork</a>
            </div>
            <div class="login-screen__version">version: {{ version }}</div>

            <div class="login-screen-intro">
                Dashboard for
                <a href="https://kea.isc.org" target="blank">ISC Kea</a>
                and
                <a href="https://bind.isc.org" target="blank">ISC BIND 9</a>
            </div>

            <div class="login-screen__authentication">
                <p-progressSpinner
                    class="login-screen__authentication-loader"
                    *ngIf="!authenticationMethods"
                ></p-progressSpinner>
                <form [formGroup]="loginForm" *ngIf="authenticationMethods">
                    <div class="login-screen__authentication-selector" *ngIf="authenticationMethods.length > 1">
                        <p-selectButton
                            name="authenticationMethod"
                            id="authenticationMethod"
                            formControlName="authenticationMethod"
                            [options]="authenticationMethods"
                            [(ngModel)]="authenticationMethod"
                        >
                            <ng-template let-item pTemplate>
                                <img
                                    src="/assets/authentication-methods/{{ item.id }}.png"
                                    (error)="onMissingIcon($event)"
                                />
                                <span>{{ item.name }}</span>
                            </ng-template>
                        </p-selectButton>
                        <p>
                            {{ authenticationMethod.description }}
                        </p>
                    </div>
                    <div class="login-screen__authentication-inputs">
                        <div *ngIf="authenticationMethod.formLabelIdentifier" class="p-float-label">
                            <input
                                type="text"
                                name="identifier"
                                id="identifier"
                                formControlName="identifier"
                                pInputText
                                autofocus
                            />
                            <label htmlFor="identifier">{{ authenticationMethod.formLabelIdentifier }}</label>
                        </div>
                        <div *ngIf="authenticationMethod.formLabelSecret" class="p-float-label">
                            <input
                                type="password"
                                name="secret"
                                id="secret"
                                formControlName="secret"
                                (keyup)="keyUp($event)"
                                [feedback]="false"
                                pPassword
                            />
                            <label htmlFor="secret">{{ authenticationMethod.formLabelSecret }}</label>
                        </div>
                        <div>
                            <button
                                pButton
                                id="sign-in-button"
                                type="button"
                                label="Sign In"
                                (click)="signIn()"
                                [disabled]="!loginForm.valid"
                            ></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="login-screen__footer">Copyright 2019-2023 by ISC. All Rights Reserved.</div>
    </div>
</div>
