:host ::ng-deep .shared-parameters-table .p-datatable-tbody tr
    &:last-child
        td
            border-bottom: none
    td
        border-top: none
        border-left: none
        border-right: none
        border-bottom: 1px solid var(--surface-200)
        vertical-align: top
        padding-top: 1rem
        padding-bottom: 1rem

:host ::ng-deep .shared-parameters-table .p-datatable-thead tr th
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid var(--surface-200)

    &:first-child
        width: 20%

    &:last-child
        width: 10%