<p-table
    *ngIf="parameterNames.length > 0; else noRowsBlock"
    [value]="parameterNames"
    styleClass="shared-parameters-table"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>Unlock</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-parameterName let-rowgroup="rowgroup">
        <ng-container
            [ngTemplateOutlet]="parameterRow"
            [ngTemplateOutletContext]="{
                parameterName: parameterName,
                controls: getParameterFormControls(parameterName)
            }"
        >
        </ng-container>
    </ng-template>
</p-table>
<ng-template [formGroup]="formGroup" #parameterRow let-parameterName="parameterName" let-controls="controls">
<!--    class="text-primary-500" -->
    <tr  [formGroupName]="parameterName">
        <td class="font-semibold text-color-secondary">
            {{ uncamelCase(parameterName) }}
        </td>
        <td formArrayName="values">
            <ng-container *ngFor="let control of controls.get('values').controls; let index = index">
                <div
                    *ngIf="index === 0 || (controls.get('unlocked').value && index < servers.length)"
                    class="flex align-items-center pb-2 flex-wrap gap-2"
                >
                    <ng-container [ngSwitch]="controls.data?.type">
                        <ng-container *ngSwitchCase="'string'">
                            <p-dropdown
                                *ngIf="controls.data?.values?.length > 0; else noValuesCase"
                                [autoDisplayFirst]="false"
                                [options]="controls.data.values"
                                [showClear]="true"
                                [formControlName]="index"
                                styleClass="w-full"
                                placeholder="(not specified)"
                            >
                            </p-dropdown>
                            <ng-template #noValuesCase>
                                <app-array-value-set-form
                                    *ngIf="controls.data?.isArray; else noArrayCase"
                                    [classFormControl]="control"
                                >
                                </app-array-value-set-form>
                                <ng-template #noArrayCase>
                                    <input pInputText [formControlName]="index" class="" />
                                </ng-template>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngSwitchCase="'boolean'">
                            <p-triStateCheckbox ngDefaultControl [formControlName]="index"> </p-triStateCheckbox>
                        </ng-container>
                        <ng-container *ngSwitchCase="'number'">
                            <p-inputNumber
                                ngDefaultControl
                                [min]="controls.data.min"
                                [max]="controls.data.max"
                                [minFractionDigits]="0"
                                [maxFractionDigits]="controls.data.fractionDigits"

                                styleClass="w-full"
                                locale="en-US"
                                [formControlName]="index"
                            >
<!--                                inputStyleClass="w-full" -->
                            </p-inputNumber>
                        </ng-container>
                        <ng-container *ngSwitchCase="'client-classes'">
                            <app-dhcp-client-class-set-form
                                [classFormControl]="control"
                                [clientClasses]="clientClasses"
                                [floatingPlaceholder]="false"
                                styleClass="w-1"
                            >
                            </app-dhcp-client-class-set-form>
                        </ng-container>
                        <ng-container *ngSwitchDefault> Something else </ng-container>
                    </ng-container>
                    <span *ngIf="controls.get('unlocked').value && servers.length > index" class="pl-2">
                        <p-tag [severity]="getServerTagSeverity(index)">
                            {{ servers[index] }}
                        </p-tag>
                    </span>
                    <button
                        pRipple
                        pButton
                        [disabled]="control.value === null"
                        label="Clear"
                        class="p-button-text p-button-sm"
                        type="button"
                        (click)="control.setValue(null)"
                    ></button>
                </div>
                <small *ngIf="control.invalid && (control.dirty || control.touched)" class="p-error block pb-3"
                    >{{ controls.data.invalidText }}
                </small>
            </ng-container>
        </td>
        <td>
            <p-checkbox formControlName="unlocked" [binary]="true"> </p-checkbox>
        </td>
    </tr>
</ng-template>
<ng-template #noRowsBlock>
    <span>No parameters configured.</span>
</ng-template>
