<div [formGroup]="formGroup">
    <p-fieldset legend="Address Range" styleClass="mt-4">
        <div class="flex mt-4 mb-2 align-items-center flex-wrap gap-2 row-gap-5" formGroupName="range">
            <p-floatlabel class="flex-auto">
                <input [id]="uuids.poolStart" pInputText formControlName="start" class="max-w-form" />
                <label [for]="uuids.poolStart">First Address</label>
            </p-floatlabel>
            <div>:</div>
            <p-floatlabel class="flex-auto">
                <input [id]="uuids.poolEnd" pInputText formControlName="end" class="max-w-form" />
                <label [for]="uuids.poolEnd">Last Address</label>
            </p-floatlabel>
        </div>
        @for (control of ['start', 'end']; track control) {
            @if (
                formGroup.get('range').get(control).invalid &&
                (formGroup.get('range').get(control).dirty || formGroup.get('range').get(control).touched) &&
                formGroup.get('range').get(control).hasError('ipInSubnet')
            ) {
                <small class="app-error block">{{ formGroup.get('range').get(control).errors.ipInSubnet }} </small>
            }
        }
        @for (err of ['addressBounds', 'ipRangeOverlaps']; track err) {
            @if (formGroup.get('range').invalid && formGroup.get('range').hasError(err)) {
                <small class="app-error block">{{ formGroup.get('range').errors[err] }} </small>
            }
        }
    </p-fieldset>
    <p-fieldset legend="Assignments" styleClass="mt-4">
        <div class="mt-4">
            <p-floatlabel class="block mt-4 mb-2">
                <p-multiSelect
                    [inputId]="uuids.selectedDaemonGroups"
                    optionLabel="label"
                    optionValue="index"
                    [options]="selectableGroups"
                    formControlName="selectedDaemonGroups"
                    display="chip"
                    [showToggleAll]="false"
                    styleClass="adaptive-chips-background"
                    class="max-w-form"
                    (onChange)="onDaemonGroupsChange($event)"
                >
                </p-multiSelect>
                <label [for]="uuids.selectedDaemonGroups">DHCP Server Groups</label>
                <span class="ml-2">
                    <app-help-tip subject="DHCP servers selection">
                        <p>
                            The location where the edited subnet information is saved depends on the loaded Kea hooks.
                            If <span class="monospace">libdhcp_cb_cmds</span> is loaded, Stork updates the Config
                            Backend database. If <span class="monospace">libdhcp_subnet_cmds</span> is loaded, Stork
                            updates subnet data in the Kea JSON configuration file.
                        </p>
                        <p>
                            If both <span class="monospace">libdhcp_subnet_cmds</span> and
                            <span class="monospace">libdhcp_cb_cmds</span> hooks are loaded, Stork updates the subnet
                            configuration in the Config Backend database, and leaves the JSON configuration unchanged.
                            It conforms to the Kea behavior that prioritizes configuration specified in the Config
                            Backend over the configuration sourced from the JSON file.
                        </p>
                        <p>
                            If some daemons have the <span class="monospace">libdhcp_cb_cmds</span> hook loaded, they
                            are connected to the same Config Backend database, and share the same server tag, then they
                            cannot be configured individually. In this case, they are grouped into a single position in
                            the server selection list. Such a group is labeled with the server tag, the group's first
                            server label, and the number of daemons in the group. The configuration changes are applied
                            to all daemons in the group.
                        </p>
                    </app-help-tip>
                </span>
            </p-floatlabel>
            @if (
                formGroup.get('selectedDaemonGroups').invalid &&
                (formGroup.get('selectedDaemonGroups').dirty || formGroup.get('selectedDaemonGroups').touched)
            ) {
                <small class="app-error block">At least one server must be selected. </small>
            }
        </div>
    </p-fieldset>
    <p-fieldset legend="Pool DHCP Parameters" styleClass="mt-4">
        <app-shared-parameters-form [servers]="daemonGroupLabels" [formGroup]="formGroup.get('parameters')">
        </app-shared-parameters-form>
    </p-fieldset>
    <p-fieldset [formGroup]="formGroup.get('options')" legend="Pool DHCP Options" styleClass="mt-4">
        <div class="flex mt-2 pb-4">
            <p-checkbox formControlName="unlocked" [binary]="true"> </p-checkbox>
            <div class="flex ml-2 font-semibold">Unlock setting DHCP options for individual servers.</div>
        </div>
        @for (optionSet of formGroup.get('options.data')?.controls; track optionSet; let i = $index) {
            @if (i === 0 || formGroup.get('options.unlocked')?.value) {
                <div class="mb-3 mt-3">
                    @if (formGroup.get('options.unlocked')?.value) {
                        <div class="pb-5">
                            @if (formGroup.get('options.data')?.length > 1) {
                                <p-divider align="center">
                                    <p-tag [severity]="getServerTagSeverity(i)">
                                        {{ daemonGroupLabels[i] }}
                                    </p-tag>
                                </p-divider>
                            }
                        </div>
                    }
                    <app-dhcp-option-set-form
                        [v6]="v6"
                        [formArray]="optionSet"
                        (optionAdd)="onOptionAdd(i)"
                    ></app-dhcp-option-set-form>
                </div>
            }
        }
    </p-fieldset>
</div>
