<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>
            This page displays a list of the most recent events. There are three event urgency levels: info, warning,
            and error.
        </p>
        <p>
            Events pertaining to the particular entities, e.g. machines or applications, provide a link to a web page
            containing information about the given object.
        </p>
    </div>
</app-breadcrumbs>

<div style="margin-top: 20px">
    <app-events-panel
        #eventsTable
        ui="table"
        [filter]="{ level: 0, machine: machineId, appType: appType, daemonType: daemonType, user: userId }"
    ></app-events-panel>
</div>
