<h3>Overview</h3>
<div class="grid">
    <div class="col-12 sm:col-3 pb-0 font-medium">Version</div>
    <div class="col-12 sm:col-9">
        {{ daemon.version }}
    </div>
    <div class="col-12 sm:col-3 pb-0 font-medium">Uptime</div>
    <div class="col-12 sm:col-9">{{ daemon.uptime | duration }}</div>
    <div class="col-12 sm:col-3 pb-0 font-medium">URL</div>
    <div class="col-12 sm:col-9">
        {{ daemon.url | placeholder: 'N/A' }}
    </div>
    <div class="col-12 sm:col-3 pb-0 font-medium">Config URL</div>
    <div class="col-12 sm:col-9">
        {{ daemon.configUrl | placeholder: 'N/A' }}
    </div>
    <div class="col-12 sm:col-3 pb-0 font-medium">Zones URL</div>
    <div class="col-12 sm:col-9">
        {{ daemon.zonesUrl | placeholder: 'N/A' }}
    </div>
    <div class="col-12 sm:col-3 pb-0 font-medium">Autoprimaries URL</div>
    <div class="col-12 sm:col-9">
        {{ daemon.autoprimariesUrl | placeholder: 'N/A' }}
    </div>
</div>
