<div class="grid">
    <div class="col-12 md:col-6">
        <h3 class="underlined">Overview</h3>
        <div class="grid">
            <div class="col-12 sm:col-3 pb-0 font-medium">Version</div>
            <div class="col-12 sm:col-9">
                {{ daemon.version }}
            </div>
            <div class="col-12 sm:col-3 pb-0 font-medium">Uptime</div>
            <div class="col-12 sm:col-9">{{ daemon.uptime | duration }}</div>
            <div class="col-12 sm:col-3 pb-0 font-medium">URL</div>
            <div class="col-12 sm:col-9">
                {{ daemon.url | placeholder: 'N/A' }}
            </div>
            <div class="col-12 sm:col-3 pb-0 font-medium">Config URL</div>
            <div class="col-12 sm:col-9">
                {{ daemon.configUrl | placeholder: 'N/A' }}
            </div>
            <div class="col-12 sm:col-3 pb-0 font-medium">Zones URL</div>
            <div class="col-12 sm:col-9">
                {{ daemon.zonesUrl | placeholder: 'N/A' }}
            </div>
            <div class="col-12 sm:col-3 pb-0 font-medium">Autoprimaries URL</div>
            <div class="col-12 sm:col-9">
                {{ daemon.autoprimariesUrl | placeholder: 'N/A' }}
            </div>
            <span class="col-12 mt-2 mb-2 pl-1 pb-2 border-bottom-1 surface-border font-bold text-lg">
                Access points
            </span>
            <app-access-points [daemon]="daemon" class="col-12"></app-access-points>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <h3 class="underlined">Events</h3>
        <app-events-panel [filter]="{ machine: daemon.machine?.id, daemonId: daemon.id }"></app-events-panel>
    </div>
</div>
