<p-table
    [value]="checkers"
    [loading]="loading"
    responsiveLayout="scroll"
    ngClass="{{ minimal ? 'picker--minimal' : '' }}"
>
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-mt-1 p-ai-center">
            Checkers list
            <app-help-tip title="Checkers list">
                <p>Lorem ipsum</p>
            </app-help-tip>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>State</th>
            <th>Name</th>
            <th class="picker__description-column">Description</th>
            <th class="picker__selector-column">Selectors</th>
            <th class="picker__trigger-column">Triggers</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-checker>
        <tr>
            <td
                class="picker__state-cell"
                [ngClass]="
                    checker.state === 'enabled'
                        ? 'picker__state-cell--enabled'
                        : checker.state === 'disabled'
                        ? 'picker__state-cell--disabled'
                        : checker.enabled
                        ? 'picker__state-cell--inherit-enabled'
                        : 'picker__state-cell--inherit-disabled'
                "
            >
                <ng-container [ngTemplateOutlet]="stateSelector" [ngTemplateOutletContext]="{ checker: checker }">
                </ng-container>
            </td>
            <td>{{ checker.name }}</td>
            <td class="picker__description-column">
                <p>
                    {{ getCheckerDescription(checker.name) }}
                </p>
            </td>
            <td class="picker__chip-cell picker__selector-column">
                <div class="chips">
                    <p-chip
                        label="{{ selector }}"
                        icon="{{ getSelectorIcon(selector) }}"
                        *ngFor="let selector of checker.selectors"
                    ></p-chip>
                </div>
            </td>
            <td class="picker__chip-cell picker__trigger-column">
                <div class="chips">
                    <p-chip
                        label="{{ trigger }}"
                        icon="{{ getTriggerIcon(trigger) }}"
                        *ngFor="let trigger of checker.triggers"
                    ></p-chip>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr class="picker__empty">
            <td colspan="100%">There are no checkers.</td>
        </tr>
    </ng-template>
</p-table>

<!-- State selector - tri-state checkbox -->
<ng-template #stateSelector let-checker="checker">
    <div class="form-check">
        <input
            class="form-check-input"
            name="select-{{ checker.name }}"
            id="select-{{ checker.name }}"
            type="checkbox"
            [checked]="checker.state === 'enabled'"
            [indeterminate]="checker.state === 'inherit'"
            (change)="onCheckerStateChange($event, checker)"
        />
        <label class="form-check-label" for="select-{{ checker.name }}">
            {{ checker.state }}
            <span class="picker__state-inherit-status" *ngIf="checker.state === 'inherit'">
                ({{ checker.enabled ? 'enabled' : 'disabled' }})
            </span>
        </label>
    </div>
</ng-template>
