.container
    white-space: nowrap

    abbr
        // Add a slight spacing between text and underline to avoid overlapping
        // a dotted line on the text
        text-underline-offset: 0.15rem

.label
    // Use cursive for labels.
    font-style: italic
    //Use a less prominent color than for the main value.
    color: var(--text-color-secondary)
