<p-table *ngIf="rows.length > 0; else noRowsBlock" [value]="rows" dataKey="name" styleClass="cascaded-parameters-table">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th *ngFor="let dataSet of data">
                {{ dataSet.name }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-expanded="expanded">
        <tr class="text-blue-500">
            <td>
                <div class="flex align-items-center">
                    <button
                        type="button"
                        pButton
                        pRipple
                        [pRowToggler]="row"
                        class="p-button-text p-button-rounded p-button-plain mr-2"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    ></button>
                    <span>{{ row.name }}</span>
                </div>
            </td>
            <td *ngFor="let parameter of row.parameters">
                <span>
                    {{ parameter.effective ?? '(unspecified)' }}
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-row>
        <tr *ngFor="let level of levels; let i = index">
            <td>
                {{ level }}
            </td>
            <td *ngFor="let parameter of row.parameters; let j = index">
                <span>
                    {{ row.parameters[j].values[i] ?? '(unspecified)' }}
                </span>
                <span *ngIf="level === row.parameters[j].level" class="fa-solid fa-check"></span>
            </td>
        </tr>
    </ng-template>
</p-table>
<ng-template #noRowsBlock>
    <span>No parameters configured.</span>
</ng-template>
