<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <div class="flex align-items-center flex-auto">
        <div *ngIf="filterTextFormatErrors?.length > 0">
            <small *ngFor="let err of filterTextFormatErrors" class="p-error block">{{ err }}</small>
        </div>
    </div>
    <p-button
        *ngIf="unauthorizedMachinesDisplayed()"
        [disabled]="selectedMachines?.length === 0"
        label="Authorize selected"
        icon="pi pi-lock"
        styleClass="block p-button-primary no-underline"
        (onClick)="onAuthorizeSelectedMachinesClicked(selectedMachines)"
        id="authorize-selected-button"
    ></p-button>
    <p-button
        label="Refresh List"
        icon="pi pi-refresh"
        styleClass="block p-button-primary no-underline"
        (onClick)="reloadData(machinesTable)"
    ></p-button>
</div>
<p-table
    #machinesTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    (onStateRestore)="stateRestored($event, machinesTable)"
    (onStateSave)="stateSaved(machinesTable)"
    (onFilter)="onFilter()"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    stateStorage="session"
    [stateKey]="stateKey"
    [currentPageReportTemplate]="currentPageReportTemplate"
    styleClass="p-datatable-striped"
    [(selection)]="selectedMachines"
    (selectionChange)="onSelectionChange($event)"
    [selectAll]="selectAll"
    (selectAllChange)="onSelectAllChange($event)"
>
    <ng-template pTemplate="caption">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-filter"></i>
                    <span class="font-bold">Filters</span>
                    <p-tag
                        icon="pi pi-check"
                        value="Filter applied"
                        severity="success"
                        *ngIf="hasFilter(machinesTable)"
                        [rounded]="true"
                    ></p-tag>
                    <app-help-tip subject="Filtering" id="filtering-help-button">
                        <p>
                            Machines in the table below can be filtered by entering text in the search box; the table
                            shows all machines matching the filter text. The currently supported fields for filtering
                            are:
                        </p>
                        <ul>
                            <li>Address</li>
                            <li>Agent Version</li>
                            <li>Hostname</li>
                            <li>OS</li>
                            <li>Platform</li>
                            <li>Platform Family</li>
                            <li>Platform Version</li>
                            <li>Kernel Version</li>
                            <li>Kernel Arch</li>
                            <li>Virtualization System</li>
                            <li>Virtualization Role</li>
                            <li>Host ID</li>
                        </ul>
                        <p *ngIf="!hasPrefilter()">
                            Authorized and unauthorized machines can be filtered out by using
                            <b>Authorized machines checkbox</b> filter.
                        </p>
                    </app-help-tip>
                </div>
            </ng-template>
            <div class="flex flex-wrap gap-3 row-gap-5 mt-3 align-items-center">
                <button
                    pButton
                    label="Clear"
                    [class.p-button-warning]="hasFilter(machinesTable)"
                    [class.p-button-secondary]="!hasFilter(machinesTable)"
                    icon="pi pi-filter-slash"
                    (click)="clearFilters(machinesTable)"
                    [disabled]="!hasFilter(machinesTable)"
                ></button>
                <div class="flex-auto"></div>
                <p-columnFilter
                    field="authorized"
                    matchMode="equals"
                    [showMenu]="false"
                    [showClearButton]="!hasPrefilter()"
                    [hidden]="hasPrefilter()"
                >
                    <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                        <label for="authorized-input">Authorized machines</label>
                        <p-triStateCheckbox
                            inputId="authorized-input"
                            (onChange)="filterTable($event.value, filterConstraint)"
                            [ngModel]="value"
                            [disabled]="hasPrefilter()"
                            styleClass="ml-2"
                        ></p-triStateCheckbox>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="text" matchMode="contains" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="filterTable($event.target.value, filterConstraint)"
                                [ngModel]="value"
                                placeholder="Search machines"
                            />
                        </span>
                    </ng-template>
                </p-columnFilter>
            </div>
        </p-panel>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="unauthorizedMachinesDisplayed()" class="w-4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="w-8rem">Hostname</th>
            <th class="w-10rem">
                Location
                <app-help-tip subject="Location" id="location-help-button">
                    <p>
                        This specifies where the server can reach the agent as a hostname:tcp-port pair (e.g.
                        localhost:8888).
                    </p></app-help-tip
                >
            </th>
            <th *ngIf="unauthorizedMachinesDisplayed()" class="min-w-8rem">
                Agent Token
                <app-help-tip subject="Agent Token" id="agent-token-help-button">
                    <p>
                        This is a token generated by an agent during its first startup. Verify that the value visible
                        here is the same as the agent token present in the agent's logs or in
                        <span style="font-family: monospace">/var/lib/stork-agent/tokens/agent-token.txt</span>.
                    </p>
                </app-help-tip>
            </th>
            <ng-container *ngIf="authorizedMachinesDisplayed()">
                <th class="w-4rem">Agent Version</th>
                <th class="w-4rem">App(s) Version</th>
                <th class="w-7rem">Daemons</th>
                <th class="w-4rem">CPUs</th>
                <th class="w-8rem">
                    CPU Load
                    <app-help-tip subject="CPU Load" id="cpu-load-help-button">
                        <p>
                            These three numbers are CPU load averages for the last 1 minute, 5 minutes, and 15 minutes.
                            This is the usual syntax used by the <b>top</b> command.
                        </p>

                        <p>
                            High load averages imply that a system is overloaded. A value of 1.00 means one CPU core is
                            fully utilized. For example, if your system has load of 1.22 and you have only one CPU core,
                            the system is overloaded. However, if the load is 1.22 with four cores, your system is
                            working at slightly over 30% of its capacity.
                        </p>
                    </app-help-tip>
                </th>
                <th class="w-5rem">Total Memory [GB]</th>
                <th class="w-7rem">Memory Usage [%]</th>
                <th class="hiding-column w-6rem">Uptime</th>
                <th class="hiding-column w-6rem">
                    Last Refreshed
                    <app-help-tip subject="Last Refreshed" id="last-refreshed-help-button"
                        ><p>
                            This shows when the machine status was last retrieved. Click the blue button in the Action
                            column and select <b>Refresh</b> to update.
                        </p></app-help-tip
                    >
                </th>
                <th class="w-13rem">Error</th>
            </ng-container>
            <th class="w-4rem">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
        <tr>
            <td *ngIf="unauthorizedMachinesDisplayed()">
                <p-tableCheckbox [value]="m" [disabled]="m.authorized"></p-tableCheckbox>
            </td>
            <td>
                <a routerLink="/machines/{{ m.id }}">{{ m.hostname || m.address }}</a>
            </td>
            <td>{{ m.address }}:{{ m.agentPort }}</td>
            <td *ngIf="unauthorizedMachinesDisplayed()" [class.word-break-all]="authorizedMachinesDisplayed()">
                <ng-container *ngIf="!m.authorized">
                    {{ m.agentToken }}
                </ng-container>
            </td>
            <ng-container *ngIf="authorizedMachinesDisplayed()">
                <td>
                    <ng-container *ngIf="m.authorized">
                        {{ m.agentVersion }}
                        <app-version-status app="stork" [version]="m.agentVersion"></app-version-status>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="m.authorized">
                        <ng-container *ngFor="let a of m.apps"
                            ><app-version-status
                                [app]="a.type"
                                [version]="a.version"
                                [showAppName]="true"
                            ></app-version-status
                        ></ng-container>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="m.authorized">
                        <div *ngFor="let a of m.apps">
                            <app-app-daemons-status [app]="a"></app-app-daemons-status>
                        </div>
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="m.authorized">{{ m.cpus }}</ng-container>
                </td>
                <td>
                    <ng-container *ngIf="m.authorized">{{ m.cpusLoad }}</ng-container>
                </td>
                <td>
                    <ng-container *ngIf="m.authorized">{{ m.memory }}</ng-container>
                </td>
                <td>
                    <ng-container *ngIf="m.authorized">
                        <p-progressBar *ngIf="m.usedMemory" [value]="m.usedMemory"></p-progressBar
                    ></ng-container>
                </td>
                <td class="hiding-column">
                    <ng-container *ngIf="m.authorized">{{ m.uptime || '?' }} days</ng-container>
                </td>
                <td class="hiding-column">
                    <ng-container *ngIf="m.authorized">
                        {{ m.lastVisitedAt | localtime | placeholder: 'never' }}</ng-container
                    >
                </td>
                <td>
                    <ng-container *ngIf="m.authorized">
                        <p-message *ngIf="m.error" severity="error" text="{{ m.error }}"></p-message
                    ></ng-container>
                </td>
            </ng-container>
            <td>
                <button
                    type="button"
                    pButton
                    icon="pi pi-bars"
                    id="show-machines-menu-{{ m.id }}"
                    (click)="onMachineMenuDisplayClicked($event, m)"
                ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3">
                <i class="pi pi-info-circle text-2xl text-primary vertical-align-middle font-bold"></i>
                No machines found.
                <span *ngIf="hasFilter(machinesTable)">
                    Clear filtering and try again.
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearFilters(machinesTable)"
                    ></button>
                </span>
                <div class="mt-3">
                    <i class="pi pi-info-circle text-xl text-primary-600 vertical-align-middle"></i>
                    Information about adding new machines to the Stork server is available after clicking on the
                    <b>Installing Stork Agent on a New Machine</b> button above.
                </div>
                <div *ngIf="validFilter?.authorized === true && unauthorizedMachinesCount > 0">
                    <i class="pi pi-info-circle text-xl text-primary-600 vertical-align-middle"></i>
                    There {{ unauthorizedMachinesCount === 1 ? 'is' : 'are' }}
                    <b class="text-xl text-red-500">{{ unauthorizedMachinesCount }}</b>
                    unauthorized machine{{ unauthorizedMachinesCount > 1 ? 's' : '' }}. Check
                    {{ unauthorizedMachinesCount === 1 ? 'it' : 'them' }} by selecting the <b>Unauthorized</b> button
                    above.
                </div>
                <div *ngIf="validFilter?.authorized === false && unauthorizedMachinesCount === 0">
                    <i class="pi pi-info-circle text-xl text-primary-600 vertical-align-middle"></i>
                    There are no machines waiting for authorization. Select the <b>Authorized</b>
                    button above to see all authorized machines.
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'machine' }}
    </ng-template>
</p-table>
