<div style="margin-left: 40px; margin-top: 40px; width: 500px" class="grid">
    <div class="col-12">
        <p-message
            severity="warn"
            text="HTTP Error 403 Forbidden. Access to this page is forbidden for the current
                  user. If you think you should have access to this page, please contact
                  your system administrator to verify your permissions."
        >
        </p-message>
    </div>
    <div class="col-12">
        <a routerLink="/">Go to Dashboard page</a>
    </div>
</div>
