<div class="flex justify-content-center min-h-screen">
    <div class="ml-2 mt-2 max-w-50rem">
        <p-message severity="error">
            <div class="flex flex-column gap-3 text-xl">
                <div class="flex justify-content-top">
                    <span class="text-3xl flex-1">Forbidden</span>
                    <span class="text-sm flex-0">HTTP 403 Forbidden</span>
                </div>
                <div>
                    Access to the page or to the API endpoint is forbidden for the current user. If you think you should
                    have the access, please contact your system administrator to verify your permissions
                </div>
                <a class="text-xl" routerLink="/">Go to Dashboard page</a>
            </div>
        </p-message>
    </div>
</div>
