
// main div
.utilization
  display: inline-block
  position: relative
  width: 10em
  background-color: #ddd
  border-radius: 4px
  margin-right: 5px

// percentage div
.utilization .bar
  background-color: #abffa8
  height: 20px
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px

// label centrally
.utilization .label
  position: absolute
  left: 0
  width: 100%
  padding: 3px 4px
