<input
    type="text"
    pInputText
    placeholder="Search"
    [(ngModel)]="searchText"
    (keyup)="searchRecords($event)"
    class="w-5rem sm:w-8rem xl:w-auto"
/>

<p-popover #searchResultsBox styleClass="global-search">
    <div class="flex align-items-center gap-2 flex-wrap">
        @if (searchResults.subnets.items.length > 0) {
            <div style="margin-right: 20px; min-width: 9em">
                <h4>Subnets</h4>
                @for (sn of searchResults.subnets.items; track sn) {
                    <div>[{{ sn.id }}] {{ sn.subnet }}</div>
                }
                <div style="margin-top: 10px">
                    <a routerLink="/dhcp/subnets" [queryParams]="{ text: searchText }">more</a>
                </div>
            </div>
        }
        @if (searchResults.sharedNetworks.items.length > 0) {
            <div style="margin-right: 20px; min-width: 9em">
                <h4>Shared Networks</h4>
                @for (net of searchResults.sharedNetworks.items; track net) {
                    <div>[{{ net.id }}] {{ net.name }}</div>
                }
                <div style="margin-top: 10px">
                    <a routerLink="/dhcp/shared-networks" [queryParams]="{ text: searchText }">more</a>
                </div>
            </div>
        }
        @if (searchResults.hosts.items.length > 0) {
            <div style="margin-right: 20px; min-width: 17em">
                <h4>Hosts</h4>
                @for (h of searchResults.hosts.items; track h) {
                    <div>
                        [{{ h.id }}]
                        @for (i of h.hostIdentifiers; track i) {
                            <span>
                                {{ i.idType + '=' + i.idHexValue }}
                            </span>
                        }
                    </div>
                }
                <div style="margin-top: 10px">
                    <a routerLink="/dhcp/hosts" [queryParams]="{ text: searchText }">more</a>
                </div>
            </div>
        }
        @if (searchResults.machines.items.length > 0) {
            <div style="margin-right: 20px; min-width: 9em">
                <h4>Machines</h4>
                @for (m of searchResults.machines.items; track m) {
                    <div>
                        <a routerLink="/machines/{{ m.id }}">[{{ m.id }}] {{ m.hostname || m.address }}</a>
                    </div>
                }
                <div style="margin-top: 10px">
                    <a routerLink="/machines/all" [queryParams]="{ text: searchText }">more</a>
                </div>
            </div>
        }
        @if (searchResults.daemons.items.length > 0) {
            <div id="daemons-div" style="margin-right: 20px; min-width: 9em">
                <h4>Daemons</h4>
                @for (d of searchResults.daemons.items; track d) {
                    <div>
                        <app-entity-link entity="daemon" [attrs]="d"></app-entity-link>
                    </div>
                }
                <!-- TODO: not supported yet <div style="margin-top: 10px;"><a >more</a></div> -->
            </div>
        }
        @if (searchResults.users.items.length > 0) {
            <div style="margin-right: 20px; min-width: 7em">
                <h4>Users</h4>
                @for (u of searchResults.users.items; track u) {
                    <div>[{{ u.id }}] {{ u.email || u.login }}</div>
                }
                <div style="margin-top: 10px">
                    <a routerLink="/users/" [queryParams]="{ text: searchText }">more</a>
                </div>
            </div>
        }
        @if (searchResults.groups.items.length > 0) {
            <div style="min-width: 9em">
                <h4>Groups</h4>
                @for (g of searchResults.groups.items; track g) {
                    <div>[{{ g.id }}] {{ g.name }}</div>
                }
                <!-- TODO: not supported yet <div style="margin-top: 10px;"><a >more</a></div> -->
            </div>
        }

        @if (noResults()) {
            <div style="margin-right: 20px; min-width: 9em">No results</div>
        }
    </div>
</p-popover>
