<p-panel>
    <p-header>
        <div style="display: flex; justify-content: space-between;">
            <span class="ui-panel-title" style="font-size: 1.8em; display: inline-block; margin-top: 2px;">Events</span>
            <p-button icon="pi pi-refresh" (click)="refreshEvents()"></p-button>
        </div>
    </p-header>
    <div style="max-height: calc(100vh - 10rem); overflow-y: auto; margin: 0 -0.8em 0 0;">
        <table class="events-table">
            <tr *ngFor="let ev of events.items">
                <td style="width: 6em;">{{ ev.createdAt | localtime }}</td>
                <td *ngIf="ev.level === undefined || ev.level === 0" style="font-size: 1.5em; color: #4da5f0;">
                    <i class="pi pi-info-circle"></i>
                </td>
                <td *ngIf="ev.level === 1" style="font-size: 1.5em; color: orange;">
                    <i class="pi pi-exclamation-triangle"></i>
                </td>
                <td *ngIf="ev.level === 2" style="font-size: 1.5em; color: red;">
                    <i class="pi pi-exclamation-circle"></i>
                </td>
                <td><app-event-text [text]="ev.text"></app-event-text></td>
            </tr>
        </table>
    </div>
</p-panel>
