<table *ngIf="app" class="access-point-list">
    <tr>
        <td class="access-point-list__label">Hosted on machine:</td>
        <td>
            <a routerLink="/machines/{{ app.machine.id }}">{{ app.machine.address }}</a>
        </td>
    </tr>
    <tr *ngFor="let ap of app.accessPoints">
        <td class="access-point-list__label p-capitalize-first">{{ ap.type }} access point:</td>
        <td>
            {{ formatAddress(ap.address) }}:{{ ap.port }}
            <span
                *ngIf="ap.useSecureProtocol"
                class="access-point-list__icon--secured pi pi-lock"
                pTooltip="secured connection"
            ></span>
            <span
                *ngIf="!ap.useSecureProtocol"
                class="access-point-list__icon--unsecured pi pi-lock-open"
                pTooltip="unsecured connection"
            ></span>
            <span class="ml-2" *ngIf="canShowKeys">
                Key:
                <!-- Control is not clicked yet. -->
                <!-- Or control is clicked and key is loading. -->
                <button
                    pButton
                    class="p-button-text p-button-plain p-0"
                    icon="fas fa-eye-slash"
                    (click)="onAuthenticationKeyRequest(ap)"
                    [loading]="isKeyLoading(ap)"
                    *ngIf="!isKeyFetched(ap)"
                ></button>
                <!-- Control is clicked and key is loaded. -->
                <ng-container *ngIf="isKeyFetched(ap) && !isKeyEmpty(ap)">
                    {{ getKey(ap) }}
                </ng-container>
                <!-- Key is loaded but is has no value. -->
                <ng-container *ngIf="isKeyFetched(ap) && isKeyEmpty(ap)"> (no value) </ng-container>
            </span>
        </td>
    </tr>
</table>
