<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays the DHCP parameters and options configured at the global level.</p>
    </div>
</app-breadcrumbs>
<div class="mt-2 mb-4">
    @if (daemonId) {
        <a routerLink="/daemons/{{ daemonId }}">
            <span class="fa fa-arrow-left"></span>
            <span class="ml-2">Back to {{ daemonLabel ?? 'Daemon' }}</span>
        </a>
    }
</div>
@if (loaded) {
    <div>
        @if (edit) {
            <app-kea-global-configuration-form
                [daemonId]="daemonId"
                (formCancel)="onFormCancel()"
                (formSubmit)="onFormSubmit()"
            ></app-kea-global-configuration-form>
        } @else {
            <app-kea-global-configuration-view
                [dhcpParameters]="dhcpParameters"
                [dhcpOptions]="dhcpOptions"
                [disableEdit]="disableEdit"
                (editBegin)="onEditBegin()"
            ></app-kea-global-configuration-view>
        }
    </div>
} @else {
    <p-progressSpinner></p-progressSpinner>
}
