<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays configured global DHCP parameters.</p>
    </div>
</app-breadcrumbs>
<div *ngIf="loaded; else showSpinner">
    <p-fieldset legend="DHCP Parameters">
        <app-cascaded-parameters-board
            [levels]="['Global']"
            [data]="dhcpParameters"
            [excludedParameters]="excludedParameters"
            [formatComplexTypes]="true"
        ></app-cascaded-parameters-board>
    </p-fieldset>
</div>
<ng-template #showSpinner>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
