<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays configured global DHCP parameters.</p>
    </div>
</app-breadcrumbs>
<div class="mt-2 mb-4">
    <a *ngIf="appId" routerLink="/apps/kea/{{ appId }}" [queryParams]="{ daemon: daemonName }">
        <span class="fa fa-arrow-left"></span>
        <span style="margin-left: 5px">Back to {{ appName }}</span>
    </a>
</div>
<div *ngIf="loaded; else showSpinner">
    <p-fieldset legend="Global DHCP Parameters">
        <app-cascaded-parameters-board
            [levels]="['Global']"
            [data]="dhcpParameters"
            [excludedParameters]="excludedParameters"
            [formatComplexTypes]="true"
        ></app-cascaded-parameters-board>
    </p-fieldset>
</div>
<ng-template #showSpinner>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
