<form *ngIf="!form.initError; else showInitError" [formGroup]="formGroup">
    <p-fieldset legend="Assignments" styleClass="p-mt-4">
        <div class="p-grid host-form-abs-width">
            <div class="p-col-12 p-mb-3">
                <p-checkbox label="Global reservation" formControlName="globalReservation" [binary]="true"></p-checkbox>
            </div>
            <div class="p-col-10 p-mb-3">
                <span class="p-float-label">
                    <p-multiSelect
                        inputId="servers-select"
                        optionLabel="label"
                        optionValue="id"
                        [options]="form.filteredDaemons"
                        formControlName="selectedDaemons"
                        display="chip"
                        [showToggleAll]="false"
                        styleClass="full-width"
                        (onChange)="onDaemonsChange()"
                    >
                    </p-multiSelect>
                    <label for="servers-select">DHCP Servers</label>
                </span>
                <small
                    *ngIf="
                        formGroup.controls['selectedDaemons'].invalid &&
                        formGroup.controls['selectedDaemons'].dirty &&
                        formGroup.controls['selectedDaemons'].touched
                    "
                    class="p-error block"
                    >At least one server must be selected.
                </small>
            </div>
            <div *ngIf="!formGroup.get('globalReservation').value" class="p-col-8">
                <span class="p-float-label">
                    <p-dropdown
                        inputId="subnets-dropdown"
                        optionLabel="subnet"
                        optionValue="id"
                        [autoDisplayFirst]="false"
                        [options]="form.filteredSubnets"
                        formControlName="selectedSubnet"
                        [showClear]="true"
                        styleClass="full-width"
                    >
                    </p-dropdown>
                    <label for="subnets-dropdown">Subnet</label>
                </span>
                <small
                    *ngIf="
                        formGroup.controls['selectedSubnet'].invalid &&
                        formGroup.controls['selectedSubnet'].dirty &&
                        formGroup.controls['selectedSubnet'].touched
                    "
                    class="p-error block"
                    >Subnet must be selected if the reservation is not global.
                </small>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset legend="DHCP Identifier" styleClass="p-mt-4">
        <div formGroupName="hostIdGroup" class="p-grid host-form-abs-width">
            <div class="p-col-3">
                <p-dropdown [options]="hostIdTypes" formControlName="idType" styleClass="full-width"> </p-dropdown>
            </div>
            <div class="p-col-3">
                <p-dropdown [options]="hostIdFormats" formControlName="idFormat" styleClass="full-width"> </p-dropdown>
            </div>
            <div class="p-col-6">
                <input
                    *ngIf="formGroup.get('hostIdGroup.idFormat').value === 'hex'; else hostIdFormatText"
                    pInputText
                    formControlName="idInputHex"
                    class="full-width"
                    placeholder="e.g. 01:02:03:04:05:06"
                />
                <ng-template #hostIdFormatText>
                    <input
                        pInputText
                        formControlName="idInputText"
                        class="full-width"
                        placeholder="text identifier format"
                    />
                </ng-template>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset legend="IP Reservations" styleClass="p-mt-4">
        <div formArrayName="ipGroups" class="p-grid host-form-abs-width">
            <ng-container *ngFor="let ipGroup of ipGroups.controls; index as i" class="p-mt-3">
                <ng-container [formGroup]="ipGroup" class="p-d-flex p-ai-start">
                    <div class="p-col-3">
                        <p-dropdown [options]="ipTypes" formControlName="ipType" styleClass="full-width"> </p-dropdown>
                    </div>
                    <ng-container [ngSwitch]="ipGroup.value.ipType">
                        <div *ngSwitchCase="'ipv4'" class="p-col-8">
                            <input
                                *ngSwitchCase="'ipv4'"
                                pInputText
                                formControlName="inputIPv4"
                                class="full-width"
                                placeholder="e.g. 10.0.0.1"
                            />
                        </div>
                        <div *ngSwitchCase="'ia_na'" class="p-col-8">
                            <input
                                *ngSwitchCase="'ia_na'"
                                pInputText
                                formControlName="inputNA"
                                class="full-width"
                                placeholder="e.g. 2001:db8:1::"
                            />
                        </div>
                        <ng-container *ngSwitchCase="'ia_pd'">
                            <div class="p-col-6">
                                <input
                                    pInputText
                                    formControlName="inputPD"
                                    class="full-width"
                                    placeholder="e.g. 3000:1::"
                                />
                            </div>
                            <div class="p-col-2">
                                <p-inputNumber ngDefaultControl min="1" max="128" formControlName="inputPDLength">
                                </p-inputNumber>
                            </div>
                        </ng-container>
                    </ng-container>
                    <div class="p-col-1">
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-times"
                            class="full-width p-mr-2 p-button-rounded p-button-danger p-button-text"
                            (click)="deleteIPInput(i)"
                        ></button>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div>
            <button
                *ngIf="ipGroups.length === 0 || ipTypes.length > 1"
                pButton
                class="p-button-rounded p-button-text p-mt-2"
                label="Add IP Reservation"
                (click)="addIPInput()"
            ></button>
        </div>
    </p-fieldset>

    <p-fieldset legend="Non-IP Reservations" styleClass="p-mt-4">
        <div class="p-grid host-form-abs-width">
            <div class="p-col-8">
                <span class="p-float-label p-mt-3">
                    <input id="hostname-input" pInputText class="full-width" formControlName="hostname" />
                    <label for="hostname-input">Hostname</label>
                </span>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset legend="DHCP options" styleClass="p-mt-4">
        <div class="host-form-abs-width">
            <div class="p-mb-3 p-mt-3">
                <app-dhcp-option-set-form
                    [v6]="form.dhcpv6"
                    [formArray]="optionsArray"
                    (optionAdd)="onOptionAdd()"
                ></app-dhcp-option-set-form>
            </div>
        </div>
    </p-fieldset>

    <div class="p-m-5">
        <p-button label="Submit" [disabled]="formGroup.invalid" (onClick)="onSubmit()"></p-button>
    </div>
</form>
<ng-template #showInitError>
    <p-fieldset legend="Errors" styleClass="p-mt-4">
        <div class="p-grid host-form-abs-width">
            <div class="p-col-12">
                <p-messages severity="error">
                    <ng-template pTemplate>
                        <div class="flex flex-column">
                            <div class="flex align-items-center p-m-4">
                                In order to apply configuration changes, the server should begin a transaction between
                                the user and the server. The server should also return current data required in the form
                                where the host information is specified. Unfortunately, starting the new transaction
                                failed with the following error:
                            </div>
                            <div class="flex align-items-center p-m-4 p-text-italic">
                                {{ form.initError }}
                            </div>
                            <div class="flex align-items-center p-m-4">Retrying can help in some cases.</div>
                        </div>
                    </ng-template>
                </p-messages>
                <div class="p-mt-3">
                    <p-button label="Retry" (onClick)="onRetry()"></p-button>
                </div>
            </div>
        </div>
    </p-fieldset>
</ng-template>
