.host-form-abs-width
    width: 700px

:host ::ng-deep .full-width
    width: 100%

:host ::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token
    background: var(--primary-100)
    color: var(--text-color)
    margin-right: 4px
    margin-top: 2px
    margin-bottom: 2px

::ng-deep body.dark .host-form-multiselect.p-multiselect.p-multiselect-chip .p-multiselect-token
    // Make chips background darker in dark mode.
    background: var(--primary-400)