<p-tabMenu [model]="tabs" [activeItem]="activeItem" [style]="{ 'margin-top': '10px' }">
    <ng-template pTemplate="item" let-item let-i="index">
        <div style="display: flex; justify-content: space-between;">
            <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
            <div class="ui-menuitem-text">
                <b>{{ item.label }}</b>
            </div>
            <div
                class="ui-menuitem-icon pi pi-times"
                style="font-size: 1.3rem"
                (click)="closeTab($event, i)"
                *ngIf="i !== 0"
            ></div>
        </div>
    </ng-template>
</p-tabMenu>

<!-- Services tab -->
<div *ngIf="activeTabIdx == 0">
    <div style="display: flex; justify-content: space-between; margin: 10px;">
        <div>
            <span>
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                Filter services:
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="filterText"
                    placeholder="name or any other field"
                    (keydown)="keyDownFilterText(servicesTable, $event)"
                />
            </span>
            <!-- TODO: this is a starting point for implementin a form for filtering services. -->
            <!-- <span style="margin-left: 40px;"> -->
            <!--   Service: -->
            <!--   <p-dropdown [options]="serviceTypes" [(ngModel)]="selectedServiceType" optionLabel="name" (onChange)="filterByService(servicesTable)"></p-dropdown> -->
            <!-- </span> -->
        </div>

        <div style="display: flex;">
            <button
                type="button"
                pButton
                label="Refresh"
                icon="pi pi-refresh"
                (click)="refreshServicesList(servicesTable)"
            ></button>
        </div>
    </div>

    <p-menu #serviceMenu [popup]="true" [model]="serviceMenuItems"></p-menu>
    <p-table
        #servicesTable
        [value]="services"
        [paginator]="true"
        paginatorPosition="top"
        [rows]="10"
        [lazy]="true"
        (onLazyLoad)="loadServices($event)"
        [totalRecords]="totalServices"
        [rowsPerPageOptions]="[10, 30, 100]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{currentPage} of {totalPages} pages"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Service Type @ Address</th>
                <th>Version</th>
                <th>Machine Hostname</th>
                <th>State</th>
                <th style="width: 4rem;">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-s>
            <tr>
                <td>
                    <a routerLink="/services/{{ serviceType }}/{{ s.id }}"> Kea @ {{ s.machine.address }} </a>
                </td>
                <td>{{ s.version }}</td>
                <td>
                    <a routerLink="/machines/{{ s.machine.id }}">{{ s.machine.hostname || s.machine.address }}</a>
                </td>
                <td>
                    <span
                        *ngFor="let d of sortKeaDaemonsByImportance(s)"
                        [ngStyle]="{ color: d.active ? '#00a800' : '#f11' }"
                    >
                        <i
                            class="pi pi-{{ d.active ? 'check' : 'times' }}"
                            [ngStyle]="{
                                'font-size': '1.5em',
                                'vertical-align': d.active ? 'text-bottom' : 'text-top'
                            }"
                        ></i
                        >{{ d.niceName }}
                    </span>
                </td>
                <td>
                    <button
                        type="button"
                        pButton
                        icon="pi pi-bars"
                        (click)="showServiceMenu($event, serviceMenu, s)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <!-- TODO: this looks bad, consider better way for presenting total records -->
        <!-- <ng-template pTemplate="paginatorright" let-state> -->
        <!--   Total: {{state.totalRecords}} services -->
        <!-- </ng-template> -->
    </p-table>
</div>

<!-- Single service tab -->
<div *ngIf="activeTabIdx != 0" class="ui-widget">
    <app-kea-daemons-tabs
        class="p-col-12"
        [serviceTab]="serviceTab"
        (refreshService)="onRefreshService($event)"
    ></app-kea-daemons-tabs>
</div>
