<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <div class="flex align-items-center flex-auto">
        <div *ngIf="filterTextFormatErrors?.length > 0">
            <small *ngFor="let err of filterTextFormatErrors" class="p-error block">{{ err }}</small>
        </div>
    </div>
    <a
            label="New Subnet"
            icon="pi pi-plus"
            class="block p-button p-button-primary no-underline"
            type="button"
            routerLink="/dhcp/subnets/new"
            pButton
    ></a>
    <p-button
            label="Refresh List"
            icon="pi pi-refresh"
            styleClass="block p-button-primary no-underline"
            (onClick)="reloadData(machinesTable)"
    ></p-button>
</div>
<p-menu #machineMenu [popup]="true" [model]="machineMenuItems"></p-menu>
<p-table
    #machinesTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    (onStateRestore)="stateRestored($event, machinesTable)"
    (onStateSave)="stateSaved(machinesTable)"
    (onFilter)="onFilter()"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    stateStorage="session"
    [stateKey]="stateKey"
    [currentPageReportTemplate]="currentPageReportTemplate"
    styleClass="p-datatable-striped"
>
    <ng-template pTemplate="caption">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-filter"></i>
                    <span class="font-bold">Filters</span>
                    <p-tag
                            icon="pi pi-check"
                            value="Filter applied"
                            severity="success"
                            *ngIf="hasFilter(machinesTable)"
                            [rounded]="true"
                    ></p-tag>
                    <app-help-tip subject="filtering" id="filtering-help-button">
                        <p>
                            Subnets in the table below can be filtered by entering a text in the search box; the table
                            shows all subnets matching the filter text. Currently supported fields for such filtering
                            are:
                        </p>
                        <ul>
                            <li>Subnet Prefix</li>
                            <li>Lower and Upper Bound of Pools</li>
                            <li>Shared Network Name</li>
                            <li>Subnet Name</li>
                        </ul>
                        <p>
                            The table can present subnets that meet certain criteria, e.g. <b>192.0</b> will show all
                            subnets that contain 192.0 octets. It can also filter by shared network name and/or pools.
                        </p>
                        <p>
                            In addition, subnets can be filtered by an explicitly selected field using text input and
                            dropdown filters. Currently supported fields for explicit filtering are:
                        </p>
                        <ul>
                            <li class="monospace">appId</li>
                            <li>
                                <span class="monospace">subnetId</span> - the subnet ID assigned in the Kea DHCP daemon
                                configuration
                            </li>
                            <li class="monospace">DHCP version 4/6</li>
                        </ul>
                    </app-help-tip>
                </div>
            </ng-template>
            <div class="flex flex-wrap gap-3 row-gap-5 mt-3 align-items-center">
                <button
                        pButton
                        label="Clear"
                        [class.p-button-warning]="hasFilter(machinesTable)"
                        [class.p-button-secondary]="!hasFilter(machinesTable)"
                        icon="pi pi-filter-slash"
                        (click)="clearFilters(machinesTable)"
                        [disabled]="!hasFilter(machinesTable)"
                ></button>
                <div class="flex-auto"></div>
                <p-columnFilter field="appId" matchMode="equals" [showMenu]="false" [showClearButton]="!hasPrefilter()">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-float-label">
                            <p-inputNumber
                                    inputId="app-id"
                                    mode="decimal"
                                    [useGrouping]="false"
                                    (onInput)="filter($event.value)"
                                    [ngModel]="value"
                                    [disabled]="hasPrefilter()"
                            ></p-inputNumber>
                            <label for="app-id">Kea App Id</label>
                        </span>
                    </ng-template>
                </p-columnFilter>

                <p-columnFilter field="text" matchMode="contains" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                    pInputText
                                    type="text"
                                    (input)="filter($event.target.value)"
                                    [ngModel]="value"
                                    placeholder="Search machines"
                            />
                        </span>
                    </ng-template>
                </p-columnFilter>
            </div>
        </p-panel>
    </ng-template>
    <ng-template pTemplate="header">
        <tr >
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 8rem">Hostname</th>
            <th style="width: 10rem">
                Location
                <app-help-tip subject="Location" id="location-2-help-button">
                    <p>
                        Specifies a host name and the TCP port where the server can reach the agent, e.g.
                        localhost:8888).
                    </p></app-help-tip
                >
            </th>
            <th>
                Agent Token
                <app-help-tip subject="Agent Token" id="agent-token-help-button">
                    <p>
                        This is a token generated by an agent during its first start up. Verify if value visible
                        here is the same as agent token present in its logs or in
                        <span style="font-family: monospace">/var/lib/stork-agent/tokens/agent-token.txt</span>.
                    </p>
                </app-help-tip>
            </th>
            <th style="width: 4rem">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
        <tr >
            <td>
                <p-tableCheckbox [value]="m"></p-tableCheckbox>
            </td>
            <td>
                <a routerLink="/machines/{{ m.id }}">{{ m.hostname || m.address }}</a>
            </td>
            <td>{{ m.address }}:{{ m.agentPort }}</td>
            <td>{{ m.agentToken }}</td>
            <td>
                <button
                        type="button"
                        pButton
                        icon="pi pi-bars"
                        id="show-machines-menu"
                        (click)="showMachineMenu($event, machineMenu, m, machinesTable)"
                ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9">
                No subnets found.
                <span *ngIf="hasFilter(machinesTable)">
                    Try to clear filtering.
                    <button
                            pButton
                            label="Clear"
                            class="p-button-outlined"
                            icon="pi pi-filter-slash"
                            (click)="clearFilters(machinesTable)"
                    ></button>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'subnet' }}
    </ng-template>
</p-table>
