<div>
    <h4>High Availability</h4>
    <div *ngIf="hasStatus()" style="margin: 10px; width:700px" class="p-grid">
        <div class="p-col-6">
            <p-panel>
                <p-header>
                    <span>
                        Local server
                    </span>
                    <span *ngIf="localServerWarnLevel() == 'ok'" class="pi pi-check" style="color: #00df00"> </span>
                    <span
                        *ngIf="localServerWarnLevel() == 'warn'"
                        class="pi pi-exclamation-triangle"
                        style="color: orange"
                    >
                    </span>
                    <span
                        *ngIf="localServerWarnLevel() == 'error'"
                        class="pi pi-exclamation-circle"
                        style="color: #f33"
                    >
                    </span>
                </p-header>
                <table>
                    <tr>
                        <td>Control status:</td>
                        <td>
                            <i *ngIf="localServer().inTouch" class="pi pi-check" style="color: #00a800"> </i>
                            <i *ngIf="!localServer().inTouch" class="pi pi-times" style="color: #f11"> </i>
                            <i pTooltip="{{ controlStatusTooltip(localServer().inTouch) }}">{{
                                formattedControlStatus(localServer().inTouch)
                            }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>
                            <i *ngIf="localStateOk()" class="pi pi-check" style="color: #00a800"> </i>
                            <i *ngIf="!localStateOk()" class="pi pi-times" style="color: #f11"> </i>
                            <i pTooltip="{{ haStateTooltip(localServer().state) }}">{{ localServer().state }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Role:</td>
                        <td>
                            <i>{{ localServer().role }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Scopes served:</td>
                        <td>
                            <i>{{ formattedLocalScopes() }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Last failover:</td>
                        <td>
                            <i pTooltip="{{ failoverTooltip('local') }}">{{ localServer().failoverTime }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Status fetched:</td>
                        <td>
                            <i>{{ formattedAge(localServer().age) }}</i>
                        </td>
                    </tr>
                </table>
            </p-panel>
        </div>
        <div class="p-col-6">
            <p-panel>
                <p-header>
                    <span>Remote server:
                        <a *ngIf="remoteServer().id > 0"
                           routerLink="/apps/kea/{{ remoteServer().id }}">{{ 'Kea@' + remoteServer().controlAddress }}</a></span>
                    <span *ngIf="remoteServerWarnLevel() == 'ok'" class="pi pi-check" style="color: #00df00"> </span>
                    <span
                        *ngIf="remoteServerWarnLevel() == 'warn'"
                        class="pi pi-exclamation-triangle"
                        style="color: orange"
                    >
                    </span>
                    <span
                        *ngIf="remoteServerWarnLevel() == 'error'"
                        class="pi pi-exclamation-circle"
                        style="color: #f33"
                    >
                    </span>
                </p-header>
                <table>
                    <tr>
                        <td>Control status:</td>
                        <td>
                            <i *ngIf="remoteServer().inTouch" class="pi pi-check" style="color: #00a800"> </i>
                            <i *ngIf="!remoteServer().inTouch" class="pi pi-times" style="color: #f11"> </i>
                            <i pTooltip="{{ controlStatusTooltip(remoteServer().inTouch) }}">{{
                                formattedControlStatus(remoteServer().inTouch)
                            }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>
                            <i *ngIf="remoteStateOk()" class="pi pi-check" style="color: #00a800"> </i>
                            <i *ngIf="!remoteStateOk()" class="pi pi-times" style="color: #f11"> </i>
                            <i pTooltip="{{ haStateTooltip(remoteServer().state) }}">{{ remoteServer().state }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Role:</td>
                        <td>
                            <i>{{ remoteServer().role }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Scopes served:</td>
                        <td>
                            <i>{{ formattedRemoteScopes() }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Last failover:</td>
                        <td>
                            <i pTooltip="{{ failoverTooltip('remote') }}">{{ remoteServer().failoverTime }}</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Status fetched:</td>
                        <td>{{ formattedAge(remoteServer().age) }}</td>
                    </tr>
                </table>
            </p-panel>
        </div>
        <div class="p-col-12">
            <p-panel>
                <p-header>Note</p-header>
                {{ footerInfo() }}
            </p-panel>
        </div>
    </div>

    <div *ngIf="!hasStatus()">
        <p-message severity="info" text="High Availability information is not available for this server."></p-message>
    </div>
</div>
