:host ::ng-deep .stork-menubar
  background-color: #005B9F
  border-width: 0px

:host ::ng-deep .stork-menubar .ui-menuitem-link
  color: white

:host ::ng-deep .stork-menubar .ui-menuitem-link .ui-menuitem-text
  color: white

:host ::ng-deep .stork-menubar .ui-submenu .ui-menuitem-link .ui-menuitem-text
  color: black



@keyframes ui-progress-spinner-color
    0%
        stroke: #fff
    100%
        stroke: #fff
