<div *ngIf="currentUser">
    <div class="flex align-items-center top-navbar">
        <a
            routerLink="/"
            class="logo"
            pTooltip="Version: {{ storkVersion }} <br> Build Date: {{ storkBuildDate }}"
            tooltipStyleClass="stork-version-tooltip"
            [appendTo]="logoTooltipTarget"
            [escape]="false"
            #logoTooltipTarget
        >
            <img src="assets/stork-logo-small.png" id="small-stork-logo-img" />
            <span> Stork </span>
        </a>

        <div style="flex-grow: 1">
            <p-menubar [model]="menuItems" styleClass="stork-menubar">
                <p-button icon="pi pi-sun" [rounded]="true" (click)="changeTheme('aura-light')" />
                <p-button icon="pi pi-moon" [rounded]="true" [outlined]="true" (click)="changeTheme('aura-dark')" />

                <p-progressSpinner
                    *ngIf="(loadingInProgress | async)['state']"
                    [pTooltip]="(loadingInProgress | async)['text']"
                    [style]="{ width: '30px', height: '30px', 'vertical-align': 'top', 'margin-right': '20px' }"
                    strokeWidth="6"
                    fill="#005B9F"
                    animationDuration=".5s"
                ></p-progressSpinner>
                <app-global-search></app-global-search>
            </p-menubar>
        </div>

        <p-splitButton
            label="Logout ({{ this.currentUser.login || this.currentUser.email }})"
            icon="pi pi-sign-out"
            id="logout-button"
            [style]="{ margin: '0 0.4em 0 0.25em' }"
            (onClick)="signOut()"
            [model]="userMenuItems"
        ></p-splitButton>
    </div>
    <div>
        <app-priority-errors-panel></app-priority-errors-panel>
    </div>
</div>
<div class="m-3">
    <p-toast></p-toast>

    <router-outlet></router-outlet>
</div>
