// Improve look of topbar menu.
:host ::ng-deep .stork-menubar
  &.p-menubar
    // Set the blue color of the topbar.
    background-color: inherit
    // Remove the border.
    border-width: 0
    // Remove unecessary spacing.
    padding: 0

    & .p-menuitem.p-highlight.p-focus > .p-menuitem-content
      background: var(--highlight-bg)

  // Apply the below changes only if the hamburger menu is not used.
  &:not(.p-menubar-mobile-active)
    .p-menuitem
      .p-menuitem-text,.p-submenu-icon
        // Use contrasting primary color for text.
        color: var(--primary-color-text) !important
      &:hover
        .p-menuitem-text,.p-submenu-icon
          // On hover the background is primary, so use contrasting normal color for text.
          color: var(--text-color) !important
      &.p-menuitem-active
        .p-menuitem-text,.p-submenu-icon
          // If the menu is open, the background is primary, so use contrasting normal color for text.
          color: var(--text-color) !important

  .p-menubar-button
    // Use white color for the hamburger icon for better contrast on the blue
    // background.
    color: var(--primary-color-text) !important
    &:hover
      // On hover the background is white, so use black text.
      color: var(--text-color) !important

:host ::ng-deep .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content
  // In the newest PrimeNG version, the menu item is grayed out after clicking
  // it. This is a workaround to restore the original color.
  color: inherit
  background: inherit

@keyframes p-progress-spinner-color
  0%
    stroke: #fff
  100%
    stroke: #fff

// set nice look of stork version tooltip
:host ::ng-deep .p-tooltip.stork-version-tooltip
  // fix position and look of stork version tooltip
  left: 44px !important
  // make it wider
  max-width: 600px

  .p-tooltip-arrow
    // hide arrow
    display: none

// logo styling
.logo
  margin-right: 30px
  &:hover
    text-decoration: none

  img
    padding: 2px 0 0 6px
  span
    font-family: 'Mansalva'
    // Don't use any particular variant to keep consistency with the logo on
    // the project webpage.
    font-variant: none
    font-size: 2.3rem
    color: var(--gray-0)
    vertical-align: super

.top-navbar
  background-color: var(--primary-700)

.p-menubar .p-menuitem.p-highlight.p-focus > .p-menuitem-content
  background: var(--highlight-bg)
