<p-confirmDialog [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div *ngIf="host" class="mt-4 mx-2 max-w-50rem">
    <div class="flex text-xl align-items-baseline font-normal text-primary mb-4">
        <div class="fa fa-laptop mr-2"></div>
        <div id="tab-title-span" *ngIf="host.subnetId && host.subnetId > 0">
            [{{ host.id }}] Host in
            <app-entity-link
                entity="subnet"
                [attrs]="{ id: host.subnetId, subnet: host.subnetPrefix }"
            ></app-entity-link>
        </div>
        <div id="tab-title-span" *ngIf="!host.subnetId || host.subnetId === 0">[{{ host.id }}] Global host</div>
        <div>
            <app-help-tip title="Host Reservation View">
                Multiple DHCP servers can share a host reservation. Host identifiers, IP addresses, and delegated
                prefixes for a host must match in each DHCP server's configuration. If they are different, they are
                treated as different hosts. Otherwise, they are combined, and the DHCP servers sharing the host are
                displayed in one of the panels on this page. Client classes and DHCP options can differ in the
                configurations of the DHCP servers owning the host. If this is the case, the client classes and/or DHCP
                options are displayed individually for each server.
            </app-help-tip>
        </div>
    </div>
    <div *ngIf="erredApps && erredApps.length > 0">
        <p-messages id="erred-apps-message" [closable]="false" severity="warn">
            <ng-template pTemplate>
                <div>
                    Stork attempted to find leases on the Kea servers, but some servers failed to respond or returned an
                    error in response to the control commands. The reservation usage status may not take into account
                    all matching leases because some of them may reside on the servers, which returned an error. Issues
                    were found for the following Kea servers:
                    <ul style="list-style-type: disc">
                        <li *ngFor="let erredApp of erredApps">
                            <a routerLink="/apps/kea/{{ erredApp.id }}">{{ erredApp.name }}</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </p-messages>
    </div>
    <div>
        <div>
            <div class="mb-4">
                <p-fieldset id="apps-fieldset" legend="DHCP Servers Using the Host">
                    <p-table [value]="currentDifferentLocalHosts.appID">
                        <ng-template pTemplate="body" let-ls>
                            <tr>
                                <td class="border-none w-10rem">
                                    <a routerLink="/apps/kea/{{ ls[0].appId }}">{{ ls[0].appName }}</a>
                                    <sup>
                                        <ng-container *ngFor="let l of ls">
                                            <span *ngIf="l.dataSource === 'config'" class="cfg-srctag">config</span>
                                            <span *ngIf="l.dataSource === 'api'" class="hostcmds-srctag"
                                                >host_cmds</span
                                            >
                                        </ng-container>
                                    </sup>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
            </div>
            <div class="mb-4">
                <p-fieldset id="dhcp-identifiers-fieldset" legend="DHCP Identifiers">
                    <p-table [value]="host.hostIdentifiers">
                        <ng-template pTemplate="body" let-i>
                            <tr>
                                <td class="border-none w-8rem">{{ i.idType }}</td>
                                <td class="monospace border-none" [ngStyle]="{ color: 'var(--gray-500)' }">
                                    <app-identifier
                                        [hexValue]="i.idHexValue"
                                        [defaultHexFormat]="i.idType === 'hw-address'"
                                    ></app-identifier>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
            </div>
            <div *ngIf="host.hostname?.length > 0" class="mb-4">
                <p-fieldset id="non-ip-reservations-fieldset" legend="Hostname">
                    <span class="monospace">{{ host.hostname }}</span>
                </p-fieldset>
            </div>
            <div *ngIf="ipReservations.length > 0" class="mb-4">
                <p-fieldset legend="IP Reservations">
                    <p-table [value]="ipReservations" dataKey="address">
                        <ng-template pTemplate="body" let-r let-expanded="expanded">
                            <tr>
                                <td class="border-none">
                                    <div class="flex align-items-center">
                                        <div  class="flex-initial">
                                            <button
                                                type="button"
                                                pButton
                                                pRipple
                                                [pRowToggler]="r"
                                                class="p-button-text p-button-rounded p-button-plain"
                                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                            ></button>
                                        </div>
                                        <div class="pl-2 flex-auto word-break-all">
                                            <a
                                                routerLink="/dhcp/leases"
                                                [queryParams]="{ text: r.address.split('/')[0] }"
                                                >{{ r.address }}</a
                                            >
                                        </div>
                                        <div class="flex-none">
                                            <p-progressSpinner
                                                *ngIf="leasesSearchInProgress"
                                                [style]="{ width: '15px', height: '15px' }"
                                                styleClass="host-tab-leases-spinner"
                                                fill="#FFFFFF"
                                                strokeWidth="6"
                                            ></p-progressSpinner>
                                            <ng-container *ngIf="!leasesSearchInProgress">
                                                <span
                                                    *ngIf="
                                                        currentLeases && currentLeases.has(r.address);
                                                        else leaseNotFoundBlock
                                                    "
                                                >
                                                    <ng-container [ngSwitch]="currentLeases.get(r.address)['usage']">
                                                        <i
                                                            *ngSwitchCase="Usage.Used"
                                                            class="fa fa-signal"
                                                            [ngStyle]="{ color: '#00a800' }"
                                                        ></i>
                                                        <i
                                                            *ngSwitchCase="Usage.Expired"
                                                            class="fa fa-signal"
                                                            [ngStyle]="{ color: '#f11' }"
                                                        ></i>
                                                        <i
                                                            *ngSwitchDefault
                                                            class="fa fa-lock"
                                                            [ngStyle]="{ color: 'grey' }"
                                                        ></i>
                                                    </ng-container>
                                                    {{ getLeaseUsageText(currentLeases.get(r.address)['usage']) }}
                                                </span>
                                                <ng-template #leaseNotFoundBlock>
                                                    <i class="fa fa-power-off" [ngStyle]="{ color: 'grey' }"></i>
                                                    unused
                                                </ng-template>
                                            </ng-container>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-r>
                            <tr>
                                <td class="border-none pl-6 pt-0 pb-4">
                                    <div
                                        *ngIf="
                                            !leasesSearchInProgress && currentLeases.get(r.address) as leaseInfo;
                                            else leaseFoundBlock
                                        "
                                    >
                                        {{ getLeaseSummary(leaseInfo) }}
                                    </div>
                                    <ng-template #leaseFoundBlock>{{
                                        leasesSearchInProgress ? 'Checking leases...' : 'No lease found.'
                                    }}</ng-template>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
            </div>
            <ng-container *ngIf="host.localHosts?.length > 0">
                <div *ngFor="let localHost of host.localHosts; let i = index" class="mb-4">
                    <p-fieldset *ngIf="displayBootFields && (i === 0 || !allDaemonsHaveEqualBootFields())">
                        <ng-template pTemplate="header">
                            <span
                                >Boot Fields&nbsp;/&nbsp;
                                <a
                                    *ngIf="!allDaemonsHaveEqualBootFields(); else equalBootFieldsBlock"
                                    routerLink="/apps/kea/{{ localHost.appId }}"
                                >
                                    {{ localHost.appName }}
                                </a>
                                <ng-template #equalBootFieldsBlock>
                                    <span class="font-normal"> All Servers </span>
                                </ng-template>
                            </span>
                        </ng-template>
                        <div class="flex align-items-center">
                            <div class="p-2 w-10rem">Next server</div>
                            <div class="pl-2 monospace">
                                <ng-container *ngIf="localHost.nextServer?.length > 0; else bootFieldUnspec">
                                    {{ localHost.nextServer }}
                                </ng-container>
                            </div>
                        </div>
                        <div class="flex align-items-center">
                            <div class="p-2 w-10rem">Server hostname</div>
                            <div class="pl-2 monospace">
                                <ng-container *ngIf="localHost.serverHostname?.length > 0; else bootFieldUnspec">
                                    {{ localHost.serverHostname }}
                                </ng-container>
                            </div>
                        </div>
                        <div class="flex align-items-center">
                            <div class="p-2 w-10rem">Boot file name</div>
                            <div class="pl-2 monospace">
                                <ng-container *ngIf="localHost.bootFileName?.length > 0; else bootFieldUnspec">
                                    {{ localHost.bootFileName }}
                                </ng-container>
                            </div>
                        </div>
                        <ng-template #bootFieldUnspec> - </ng-template>
                    </p-fieldset>
                </div>
                

                <!-- Client classes -->
                <div class="mb-4" *ngFor="let localHosts of currentDifferentLocalHosts.dhcpOptions">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <ng-container
                                [ngTemplateOutlet]="sectionHeaderContent"
                                [ngTemplateOutletContext]="{
                                    title: 'Client Classes',
                                    localHosts: localHosts,
                                    all: currentDifferentLocalHosts.clientClasses.length === 1
                                }"
                            ></ng-container>
                        </ng-template>
                        <app-dhcp-client-class-set-view [clientClasses]="localHosts[0].clientClasses">
                        </app-dhcp-client-class-set-view>
                    </p-fieldset>
                </div>

                <!-- DHCP options -->
                <div class="mb-4" *ngFor="let localHosts of currentDifferentLocalHosts.dhcpOptions">
                    <p-fieldset>
                        <ng-template pTemplate="header">
                            <ng-container
                                [ngTemplateOutlet]="sectionHeaderContent"
                                [ngTemplateOutletContext]="{
                                    title: 'DHCP Options',
                                    localHosts: localHosts,
                                    all: currentDifferentLocalHosts.dhcpOptions.length === 1
                                }"
                            ></ng-container>
                        </ng-template>
                        <app-dhcp-option-set-view [options]="[localHosts[0].options]" [levels]="['host']">
                        </app-dhcp-option-set-view>
                    </p-fieldset>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex mt-6">
        <button
            type="button"
            pButton
            [disabled]="leasesSearchInProgress"
            label="Leases"
            id="refresh-app-button"
            icon="pi pi-refresh"
            (click)="refreshLeases()"
        ></button>
        <ng-container *ngIf="host.localHosts && host.localHosts.length > 0 && host.localHosts[0].dataSource === 'api'">
            <button
                type="button"
                pButton
                [disabled]="hostDeleted"
                label="Edit"
                icon="pi pi-pencil"
                class="p-button-info ml-2"
                (click)="onHostEditBegin()"
            ></button>
            <button
                type="button"
                pButton
                [disabled]="hostDeleted"
                label="Delete"
                icon="pi pi-times"
                class="p-button-danger ml-2"
                (click)="confirmDeleteHost()"
            ></button>
        </ng-container>
    </div>
</div>

<!-- Section header template -->
<ng-template #sectionHeaderContent let-title="title" let-localHosts="localHosts" let-all="all">
    <span>
        {{ title }}&nbsp;/&nbsp;
        <a class="mr-1" routerLink="/apps/kea/{{ localHosts[0].appId }}">{{ localHosts[0].appName }}</a>
        <ng-container *ngIf="!all">
            <ng-container *ngFor="let localHost of localHosts">
                <span *ngIf="localHost.dataSource === 'config'" class="cfg-srctag">config</span>
                <span *ngIf="localHost.dataSource === 'api'" class="hostcmds-srctag">host_cmds</span>        
            </ng-container>
        </ng-container>
        <span class="font-normal" *ngIf="all">All Servers</span>
    </span>
</ng-template>

