:host ::ng-deep
    .p-chips
        .p-chips-multiple-container
            width: 100%

            .p-chips-token
                background: var(--primary-100)
                color: var(--text-color)
                margin-top: 2px
                margin-bottom: 2px

            .p-chips-input-token input
                margin-top: 2px
                margin-bottom: 2px
