<ng-template #classesinput>
    <p-autoComplete
        [multiple]="true"
        [suggestions]="classesSuggestions"
        [dropdown]="true"
        (completeMethod)="prepareClasses($event)"
        [formControl]="classFormControl"
        title="Type or Select Class Names From List"
        [inputId]="inputId"
        placeholder="{{ floatingPlaceholder ? null : 'Type or Pick From List' }}"
        [unique]="true"
        class="max-w-form"
    ></p-autoComplete>
</ng-template>
<div class="flex align-items-end gap-1">
    @if (floatingPlaceholder) {
        <p-floatlabel class="flex-auto min-w-0">
            <ng-container *ngTemplateOutlet="classesinput"></ng-container>
            <label for="{{ inputId }}">Type or Pick From List</label>
        </p-floatlabel>
    } @else {
        <span class="flex-auto min-w-0">
            <ng-container *ngTemplateOutlet="classesinput"></ng-container>
        </span>
    }
</div>
