:host ::ng-deep
    .p-chips
        .p-chips-multiple-container
            width: 100%

            .p-chips-token
                background: var(--primary-100)
                color: var(--text-color)
                margin-top: 2px
                margin-bottom: 2px

            .p-chips-input-token input
                margin-top: 2px
                margin-bottom: 2px

    // When floating label is used in the component, use different styling.
    .p-float-label
        // Flex item: doesn't grow, shrinks, flex-basis set to --max-form-width variable value.
        flex: 0 1 var(--max-form-width)

        .p-chips
            // P-chips component uses full width of the parent flex item.
            width: 100%
