<div class="grid">
    <p-fieldset legend="Global DHCP Parameters" class="col max-w-50rem">
        <app-cascaded-parameters-board
            [levels]="['Global']"
            [data]="dhcpParameters"
            [excludedParameters]="excludedParameters"
            [formatComplexTypes]="true"
        ></app-cascaded-parameters-board>
    </p-fieldset>
    <p-fieldset legend="Global DHCP Options" class="col max-w-50rem">
        <app-dhcp-option-set-view [options]="dhcpOptions" [levels]="['global']"></app-dhcp-option-set-view>
    </p-fieldset>
</div>

<div class="flex mt-5">
    <p-button
        label="Edit"
        icon="pi pi-pencil"
        class="p-button-info ml-2"
        [disabled]="disableEdit"
        (click)="onEditBegin()"
    ></p-button>
</div>
