<div class="flex flex-column">
    <div class="flex col justify-content-start sm:justify-content-end sm:max-w-100rem mb-2 sm:mb-0">
        <p-button
            label="Edit"
            icon="pi pi-pencil"
            class="p-button-info"
            [disabled]="disableEdit"
            (onClick)="onEditBegin()"
            appAccessEntity="kea-global-parameters-transaction"
            appAccessType="create"
        ></p-button>
    </div>

    <div class="flex flex-column sm:flex-row mt-4">
        <p-fieldset legend="Global DHCP Parameters" class="col max-w-50rem">
            <app-cascaded-parameters-board
                [levels]="['Global']"
                [data]="dhcpParameters"
                [excludedParameters]="excludedParameters"
                [formatComplexTypes]="true"
            ></app-cascaded-parameters-board>
        </p-fieldset>
        <p-fieldset legend="Global DHCP Options" class="col max-w-50rem">
            <app-dhcp-option-set-view [options]="dhcpOptions" [levels]="['global']"></app-dhcp-option-set-view>
        </p-fieldset>
    </div>
</div>
