<div class="flex justify-content-center min-h-screen">
    <div class="ml-2 mt-2 max-w-50rem">
        <p-messages styleClass="text-xl" severity="error">
            <ng-template pTemplate>
                <div class="flex flex-column gap-3">
                    <div class="flex justify-content-top">
                        <span class="text-3xl flex-1">Page Not Found</span>
                        <span class="text-sm flex-0">HTTP 403 Not Found</span>
                    </div>
                    <div>The page you have tried to open doesn't exist. Please check if the URL is correct.</div>
                    <a class="text-xl" routerLink="/">Go to Dashboard page</a>
                </div>
            </ng-template>
        </p-messages>
    </div>
</div>
