<div *ngIf="inline" class="ml-2 inline-flex" [class]="styleClass">
    <span *ngIf="showAppName" class="mr-1" data-testid="appName">{{ appName }}</span>
    <span *ngIf="showName" class="mr-1" data-testid="daemonName">{{ daemonDisplayName }}</span>
    <span *ngIf="showVersion" class="mr-1" data-testid="daemonVersion">{{ version }}</span>
    <a *ngIf="iscApp" routerLink="/versions">
        <i class="pi font-semibold" [class]="iconClasses" [pTooltip]="feedbackMessages.join(' ')"></i>
    </a>
</div>
@if (!inline && iscApp) {
    @for (message of messages; track message.summary) {
        <p-message
            [styleClass]="styleClass"
            [severity]="message.severity"
            [text]="message.summary"
            [icon]="getIconBySeverity(Severity[message.severity])"
            class="custom-message wrap-message"
            ><div [innerHTML]="message.detail"></div>
        </p-message>
    }
}
