<p-table
    #networksTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="rows"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{currentPage} of {totalPages} pages"
    [stripedRows]="true"
    stateStorage="local"
    (rowsChange)="storeTableRowsPerPage($event)"
    class="full-w-table"
>
    <ng-template #caption>
        <app-table-caption [tableElement]="networksTable" tableKey="shared-networks-table">
            <ng-template #helptip>
                <p>
                    The table below can be filtered by entering text in the search box; the table shows all shared
                    networks matching the filter text. The only field currently supported for such filtering is:
                </p>
                <ul>
                    <li>Name</li>
                </ul>
                <p>
                    The table can present shared networks that meet certain criteria, e.g. "alpha" shows all shared
                    networks that contain "alpha" in their names.
                </p>
                <p>
                    Shared networks can also be filtered by an explicitly selected field, using text input and dropdown
                    filters. The currently supported fields for explicit filtering are:
                </p>
                <ul>
                    <li>
                        Daemon - pick a daemon from the dropdown list or type to search the daemon by machine's
                        hostname, address, daemon ID, or daemon name.
                    </li>
                    <li>DHCP Version</li>
                </ul>
            </ng-template>
            <ng-template #filters>
                <p-columnFilter field="daemonId" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <app-daemon-filter
                                [daemonID]="value"
                                (daemonIDChange)="filterTable($event, filterMetadata)"
                                domain="dhcp"
                                label="Daemon"
                                (errorOccurred)="onAutocompleteError($event)"
                            />
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="dhcpVersion" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <p-floatlabel variant="on">
                                <p-select
                                    inputId="dhcp-version"
                                    [options]="[
                                        { label: 'DHCPv4', value: '4' },
                                        { label: 'DHCPv6', value: '6' },
                                    ]"
                                    optionLabel="label"
                                    optionValue="value"
                                    (onChange)="filterTable($event.value, filterMetadata)"
                                    [ngModel]="value"
                                    styleClass="w-10rem"
                                ></p-select>
                                <label for="dhcp-version">DHCP Version</label>
                            </p-floatlabel>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="text" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex">
                            <p-iconfield iconPosition="left">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input
                                    class="max-w-13rem sm:max-w-20rem"
                                    pInputText
                                    type="text"
                                    (input)="filterTable($event.target.value, filterMetadata)"
                                    [ngModel]="value"
                                    placeholder="Search shared networks"
                                />
                            </p-iconfield>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
            </ng-template>
            <ng-template #buttons>
                <p-button
                    label="New Shared Network"
                    icon="pi pi-plus"
                    routerLink="/dhcp/shared-networks/new"
                    appAccessEntity="shared-network"
                    appAccessType="create"
                    (appHasAccess)="canCreateNetwork.set($event)"
                ></p-button>
                <p-button
                    label="Refresh List"
                    icon="pi pi-refresh"
                    (onClick)="loadData(networksTable.createLazyLoadMetadata())"
                ></p-button>
            </ng-template>
            <ng-template #splitbutton>
                <p-splitbutton
                    label="Refresh List"
                    icon="pi pi-refresh"
                    (onClick)="loadData(networksTable.createLazyLoadMetadata())"
                    [model]="toolbarButtons"
                    size="small"
                />
            </ng-template>
        </app-table-caption>
    </ng-template>
    <ng-template #header>
        <tr>
            <th rowspan="2" style="width: 7rem" [pSortableColumn]="NetworkSortField.Name">
                Name
                <p-sortIcon [field]="NetworkSortField.Name" />
            </th>
            <th colspan="3" style="width: 16rem">Addresses</th>
            <th colspan="3" style="width: 16rem" *ngIf="ipV6SubnetsFilterIncluded()">Prefixes</th>
            <th rowspan="2">Subnets</th>
            <th rowspan="2" style="width: 14rem">Daemon</th>
        </tr>
        <tr>
            <th [pSortableColumn]="NetworkSortField.TotalAddresses">
                Total
                <p-sortIcon [field]="NetworkSortField.TotalAddresses" />
            </th>
            <th style="padding: 0.571rem 0.5rem" [pSortableColumn]="NetworkSortField.AssignedAddresses">
                Assigned
                <p-sortIcon [field]="NetworkSortField.AssignedAddresses" />
            </th>
            <th [pSortableColumn]="NetworkSortField.AddrUtilization">
                Used %
                <p-sortIcon [field]="NetworkSortField.AddrUtilization" />
            </th>
            <ng-container *ngIf="ipV6SubnetsFilterIncluded()">
                <th [pSortableColumn]="NetworkSortField.TotalPds">
                    Total
                    <p-sortIcon [field]="NetworkSortField.TotalPds" />
                </th>
                <th style="padding: 0.571rem 0.5rem" [pSortableColumn]="NetworkSortField.AssignedPds">
                    Assigned
                    <p-sortIcon [field]="NetworkSortField.AssignedPds" />
                </th>
                <th [pSortableColumn]="NetworkSortField.PdUtilization">
                    Used %
                    <p-sortIcon [field]="NetworkSortField.PdUtilization" />
                </th>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #body let-net>
        <tr>
            <td>
                <app-entity-link entity="shared-network" [showEntityName]="false" [attrs]="net"></app-entity-link>
            </td>
            <td>
                <app-human-count [value]="getTotalAddresses(net)"></app-human-count>
            </td>
            <td>
                <app-human-count [value]="getAssignedAddresses(net)"></app-human-count>
            </td>
            <td>
                {{ net.addrUtilization ?? 0 | number: '1.0-1' }}%
                <i
                    *ngIf="net.addrUtilization > 80 && net.addrUtilization <= 90"
                    class="pi pi-exclamation-triangle text-2xl vertical-align-text-top text-orange-400"
                ></i>
                <i
                    *ngIf="net.addrUtilization > 90"
                    class="pi pi-exclamation-circle text-2xl vertical-align-text-top text-red-500"
                ></i>
            </td>
            <ng-container *ngIf="ipV6SubnetsFilterIncluded()">
                <td>
                    <app-human-count [value]="getTotalDelegatedPrefixes(net)"></app-human-count>
                </td>
                <td>
                    <app-human-count [value]="getAssignedDelegatedPrefixes(net)"></app-human-count>
                </td>
                <td>
                    @if (net.universe === 6) {
                        {{ net.pdUtilization ?? 0 | number: '1.0-1' }} %
                        <i
                            *ngIf="net.pdUtilization > 80 && net.pdUtilization <= 90"
                            class="pi pi-exclamation-triangle text-2xl vertical-align-text-top text-orange-400"
                        ></i>
                        <i
                            *ngIf="net.pdUtilization > 90"
                            class="pi pi-exclamation-circle text-2xl vertical-align-text-top text-red-500"
                        ></i>
                    } @else {
                        -
                    }
                </td>
            </ng-container>
            <td>
                <app-subnet-bar class="utilization-bar" *ngFor="let sn of net.subnets" [subnet]="sn"></app-subnet-bar>
            </td>
            <td>
                <div *ngFor="let daemon of getDaemons(net)">
                    <app-entity-link entity="daemon" [showEntityName]="false" [attrs]="daemon"></app-entity-link>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td [attr.colspan]="emptyMessageColspan()">
                No shared networks found.
                <span *ngIf="tableHasFilter(networksTable)">
                    Clear filtering and try again.
                    <p-button
                        label="Clear"
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        (click)="clearTableFiltering()"
                    ></p-button>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template #paginatorright let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'shared network' }}
    </ng-template>
</p-table>
