<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>
            This page displays a list of host reservations in the network. Kea can store host reservations in either a
            configuration file or a database. Reservations stored in a configuration file are retrieved continuously.
            Kea must have a
            <a href="https://kea.readthedocs.io/en/latest/arm/hooks.html#host-cmds-host-commands">host_cmds hook</a>
            loaded to retrieve host reservations stored in a database (MySQL, PostgreSQL, or Cassandra).
        </p>
        <p>Kea supports multiple host reservations identifier types:</p>
        <ul>
            <li><b>hw-address</b> -- MAC address,</li>
            <li><b>client-id</b> -- usable in IPv4 only,</li>
            <li><b>duid</b> - typically used in IPv6, although also usable in IPv4 if clients support it,</li>
            <li><b>flex-id</b> and</li>
            <li><b>circuit-id</b>.</li>
        </ul>
    </div>
</app-breadcrumbs>

<p-tabMenu [model]="tabs" [activeItem]="tabs[activeTabIndex]" [style]="{ 'margin-top': '10px' }">
    <ng-template pTemplate="item" let-item let-i="index">
        <a
            role="menuitem"
            pRipple
            [routerLink]="item.routerLink"
            [queryParams]="i === 0 ? validHostFilter : null"
            class="p-ripple p-element p-menuitem-link"
        >
            <div style="display: flex; justify-content: space-between">
                <div class="p-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon"></div>
                <div class="p-menuitem-text">
                    <b>{{ item.label }}</b>
                </div>
                <div
                    *ngIf="i !== 0"
                    class="pi pi-times"
                    style="margin: -2px 0 0 8px"
                    (click)="closeHostTab($event, i)"
                ></div>
            </div>
        </a>
    </ng-template>
</p-tabMenu>

<div *ngIf="activeTabIndex === 0; else openedTabBlock" style="margin: 10px">
    <div class="mb-3" style="display: flex; justify-content: space-between">
        <div class="flex align-items-center">
            <div *ngIf="filterTextFormatErrors?.length > 0">
                <small *ngFor="let err of filterTextFormatErrors" class="p-error block">{{ err }}</small>
            </div>
        </div>
        <div>
            <div class="flex">
                <div>
                    <a
                        label="New Host"
                        icon="pi pi-plus"
                        class="block p-button p-button-primary no-underline"
                        type="button"
                        routerLink="/dhcp/hosts/new"
                        pButton
                    ></a>
                </div>
                <div>
                    <p-button
                        label="Refresh List"
                        icon="pi pi-refresh"
                        styleClass="block p-button-primary no-underline ml-2"
                        (onClick)="reloadData(hostsTable)"
                    ></p-button>
                </div>
            </div>
        </div>
    </div>
    <div
        style="
            margin:
                0 0 10px,
                5x;
        "
    >
        <p-table
            id="hosts-table"
            #hostsTable
            [value]="hosts"
            [paginator]="true"
            [rows]="10"
            [lazy]="true"
            [loading]="hostsLoading"
            (onLazyLoad)="loadHosts($event)"
            [lazyLoadOnInit]="false"
            (onStateRestore)="stateRestored($event, hostsTable)"
            (onStateSave)="stateSaved(hostsTable)"
            [totalRecords]="totalHosts"
            [rowsPerPageOptions]="[10, 30, 100]"
            [showCurrentPageReport]="true"
            stateStorage="session"
            [stateKey]="stateKey"
            currentPageReportTemplate="{currentPage} of {totalPages} pages"
            styleClass="alternate-list"
        >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearFilters(hostsTable)"
                    ></button>
                    <div class="flex align-items-center ml-auto">
                        Subnet Id
                        <p-columnFilter
                            type="numeric"
                            field="subnetId"
                            class="ml-1"
                            matchMode="equals"
                            [showMenu]="false"
                        ></p-columnFilter>
                    </div>
                    <div class="flex align-items-center ml-2">
                        Kea Subnet Id
                        <p-columnFilter
                            type="numeric"
                            field="keaSubnetId"
                            class="ml-1"
                            matchMode="equals"
                            [showMenu]="false"
                        ></p-columnFilter>
                    </div>
                    <div class="flex align-items-center ml-2">
                        Global
                        <p-columnFilter
                            type="boolean"
                            field="isGlobal"
                            matchMode="equals"
                            class="ml-1"
                        ></p-columnFilter>
                    </div>
                    <div class="flex align-items-center ml-2">
                        Conflict
                        <p-columnFilter
                            type="boolean"
                            field="conflict"
                            matchMode="equals"
                            class="ml-1"
                        ></p-columnFilter>
                    </div>

                    <span class="p-input-icon-left ml-2">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="hostsTable.filter($event.target.value, 'text', 'contains')"
                            [value]="hostsTable.filters.text?.[0]?.value"
                            placeholder="Search IP or identifier"
                        />
                    </span>
                    <app-help-tip title="filtering" id="filtering-help-button">
                        <p>
                            Hosts in the table below can be filtered by entering a text in the search box; the table
                            shows all hosts matching the filter text. Currently supported fields for such filtering are:
                        </p>
                        <ul>
                            <li>Identifier</li>
                            <li>Identifier Type</li>
                            <li>Address</li>
                            <li>Hostname</li>
                        </ul>
                        <p>
                            Hosts can be filtered by their identifier value, e.g. <b>00:01:02:03:04:05</b>; a part of
                            the identifier (e.g. filter by the initial 3 bytes of a MAC address that denotes OUI, a
                            unique identifier of the vendor, effectively showing all devices produced by the same
                            vendor); or identifier type (e.g. <b>hw-address</b> to show all reservations made by a MAC
                            address).
                        </p>
                        <p>
                            Hosts can be also filtered by a full or partial IP address. For example, all reservations in
                            a 192.0.2.0/24 subnet can found by entering
                            <b>192.0.2</b> as the filter text.
                        </p>
                        <p>
                            Global hosts, i.e. the hosts valid for all subnets, can be filtered out by typing the
                            expression
                            <b>is:global</b>. Typing <b>not:global</b> will cause all other hosts to be returned, i.e.
                            those that are associated with certain subnets.
                        </p>
                        <p>
                            Hosts with inconsistent DHCP configurations can be filtered by typing <b>is:conflict</b>. It
                            returns the hosts whose configurations are repeated in the configuration file and host
                            database with some differences. Conversely, to display all hosts lacking the configuration
                            conflicts type <b>not:conflict</b>.
                        </p>
                        <p>
                            In addition, hosts can be filtered by an explicitly selected field using the expression:
                            <i>field:value</i>, e.g.: <i class="monospace">appId:2</i>. Currently supported fields for
                            explicit filtering are:
                        </p>
                        <ul>
                            <li class="monospace">appId</li>
                            <li><span class="monospace">subnetId</span> - the subnet ID used by Stork.</li>
                            <li>
                                <span class="monospace">keaSubnetId</span> - the subnet ID assigned to the subnet in the
                                Kea configuration.
                            </li>
                        </ul>
                        <p>
                            To filter the hosts by multiple fields, separate them with a space character (e.g.,
                            <b>appId:2 subnetId:3</b>).
                        </p>
                    </app-help-tip>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 28%">DHCP Identifiers</th>
                    <th style="width: 18%">IP Addresses</th>
                    <th style="width: 14%">IPv6 Prefixes</th>
                    <th style="width: 14%">Hostname</th>
                    <th style="width: 12%">Global/Subnet</th>
                    <th style="width: 14%">App Name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-h>
                <tr id="host-row-{{ h.id }}">
                    <td>
                        <app-identifier
                            *ngFor="let i of h.hostIdentifiers"
                            [label]="i.idType"
                            [hexValue]="i.idHexValue"
                            [defaultHexFormat]="i.idType === 'hw-address'"
                            link="/dhcp/hosts/{{ h.id }}"
                        >
                        </app-identifier>
                    </td>
                    <td>
                        <app-entity-link
                            *ngFor="let r of h.addressReservations"
                            entity="host"
                            [showEntityName]="false"
                            [attrs]="{ id: h.id, label: r.address }"
                        ></app-entity-link>
                    </td>
                    <td>
                        <app-entity-link
                            *ngFor="let r of h.prefixReservations"
                            entity="host"
                            [showEntityName]="false"
                            [attrs]="{ id: h.id, label: r.address }"
                        ></app-entity-link>
                    </td>
                    <td>
                        {{ h.hostname ? h.hostname : '' }}
                    </td>
                    <td *ngIf="h.subnetId; else globalSubnetBlock">
                        <app-entity-link
                            entity="subnet"
                            [showEntityName]="false"
                            [attrs]="{ id: h.subnetId, subnet: h.subnetPrefix }"
                        ></app-entity-link>
                    </td>
                    <ng-template #globalSubnetBlock>
                        <td>global</td>
                    </ng-template>
                    <td>
                        <div *ngFor="let lhs of localHostsGroupedByApp[h.id]" class="flex align-items-baseline">
                            <!-- Hyperlink to the host page -->
                            <a routerLink="/apps/kea/{{ lhs[0].appId }}" class="block white-space-nowrap"
                                >{{ lhs[0].appName }}
                            </a>
                            <!-- Data source labels -->
                            <app-host-data-source-label
                                *ngFor="let lh of lhs"
                                class="ml-2 mt-1"
                                [dataSource]="lh.dataSource"
                            ></app-host-data-source-label>
                            <!-- Conflict label -->
                            <p-tag
                                *ngIf="getLocalHostsState(lhs) === 'conflict'"
                                class="ml-2 mt-1"
                                value="conflict"
                                severity="danger"
                                pTooltip="The host is configured differently in the configuration file and host database."
                            ></p-tag>
                            <!-- Duplicate label -->
                            <p-tag
                                *ngIf="getLocalHostsState(lhs) === 'duplicate'"
                                class="ml-2 mt-1"
                                value="duplicate"
                                severity="warning"
                                pTooltip="The host is duplicated in the configuration file and host database."
                            ></p-tag>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No hosts found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<ng-template #openedTabBlock>
    <div [ngSwitch]="openedTabs[activeTabIndex - 1].tabType" class="p-component">
        <app-host-tab
            *ngSwitchCase="HostTabType.Display"
            [host]="openedTabs[activeTabIndex - 1].tabSubject"
            (hostEditBegin)="onHostEditBegin(openedTabs[activeTabIndex - 1].tabSubject)"
            (hostDelete)="onHostDelete(openedTabs[activeTabIndex - 1].tabSubject)"
        ></app-host-tab>
        <app-host-form
            [form]="openedTabs[activeTabIndex - 1].state"
            (formDestroy)="onHostFormDestroy($event)"
            (formSubmit)="onHostFormSubmit($event)"
            (formCancel)="onHostFormCancel(0)"
            *ngSwitchCase="HostTabType.New"
        ></app-host-form>
        <app-host-form
            [form]="openedTabs[activeTabIndex - 1].state"
            [hostId]="openedTabs[activeTabIndex - 1].tabSubject.id"
            (formDestroy)="onHostFormDestroy($event)"
            (formSubmit)="onHostFormSubmit($event)"
            (formCancel)="onHostFormCancel(openedTabs[activeTabIndex - 1].tabSubject.id)"
            *ngSwitchCase="HostTabType.Edit"
        ></app-host-form>
    </div>
</ng-template>
