<!-- Config -->
@if (dataSource === 'config') {
    <p-tag
        styleClass="datasource--config"
        pTooltip="This host is specified in the server's configuration file."
        tooltipPosition="bottom"
        value="config"
    ></p-tag>
}

<!-- API -->
@if (dataSource === 'api') {
    <p-tag
        styleClass="datasource--hostcmds"
        pTooltip="This host is specified in the server's host database."
        tooltipPosition="bottom"
        value="host_cmds"
    ></p-tag>
}

<!-- Unknown -->
@if (dataSource !== 'config' && dataSource !== 'api') {
    <p-tag>{{ dataSource }}</p-tag>
}
