.datasource
    // Small font.
    font-size: 10px
    // Black font color.
    color: #000000
    // Round corners.
    border-radius: 5px
    // Invisible border.
    border-width: 0
    // A little spacing around.
    padding: 2px 4px 2px 4px
    // Default background. A little red color.
    background: #f5d2b3

.datasource+.datasource
    // Horizontal spacing between labels.
    margin-left: 3px

.datasource--config
    // A little orange color.
    background: #F5DEB3

.datasource--hostcmds
    // A lttle yelow color.
    background: #FFFACD
