@layer high
    :host ::ng-deep
        .p-paginator
            color: var(--p-paginator-current-page-report-color)

        .p-datatable
            .col-name
                width: 20%
            .col-ttl
                width: 10%
            .col-rrClass
                width: 10%
            .col-rrType
                width: 10%
            .col-data
                width: 50%

            .p-datatable-header
                border: none

            .p-datatable-tbody > tr
                background: none !important

            .p-datatable-tbody > tr > td
                font-family: monospace
                padding: 0.5rem 1rem
                border: none
                vertical-align: top

                &.cell-name
                    font-weight: bold
                    word-wrap: break-word

                &.cell-data
                    word-wrap: break-word

                &.rr-type-a
                    color: var(--p-green-600)

                &.rr-type-aaaa
                    color: var(--p-lime-600)

                &.rr-type-cname
                    color: var(--p-purple-600)

                &.rr-type-dnskey
                    color: var(--p-yellow-700)

                &.rr-type-ds
                    color: var(--p-orange-700)

                &.rr-type-mx
                    color: var(--p-purple-500)

                &.rr-type-ns
                    color: var(--p-blue-600)

                &.rr-type-nsec
                    color: var(--p-rose-600)

                &.rr-type-soa
                    color: var(--p-red-600)

                &.rr-type-ptr
                    color: var(--p-indigo-600)

                &.rr-type-rrsig
                    color: var(--p-amber-600)

                &.rr-type-txt
                    color: var(--p-cyan-700)

            .p-datatable-tbody > tr:hover
                background-color: var(--surface-hover)
