<div class="text-base flex flex-column">
    <div class="flex align-items-center justify-content-between">
        <div class="text-base text-gray-500">
            Cached from DNS server on
            <span class="font-bold text-normal mr-2">{{ zoneTransferAt | localtime | placeholder: 'never' }}</span>
            <app-help-tip subject="Cached zone contents">
                <p>
                    The zone contents presented here were fetched from the DNS server using zone transfer (AXFR), and
                    are cached in Stork. The timestamp indicates when the zone transfer was last performed. If you need
                    up-to-date zone information you can update the cached data using the 'Refresh from DNS' button.
                </p>
            </app-help-tip>
        </div>
        <p-button
            label="Refresh from DNS"
            pTooltip="Refresh the zone contents from the DNS server using zone transfer (AXFR). The received data will be cached in Stork."
            (click)="refreshRRsFromDNS()"
            [disabled]="loading"
        />
    </div>
    <p-table
        #table
        [columns]="cols"
        [value]="zoneData"
        [totalRecords]="totalRecords"
        [lazy]="true"
        [lazyLoadOnInit]="true"
        [scrollable]="true"
        responsiveLayout="stack"
        [paginator]="true"
        paginatorPosition="bottom"
        [tableStyle]="{ tableLayout: 'fixed' }"
        [rows]="rows"
        [rowsPerPageOptions]="[10, 100, 1000]"
        currentPageReportTemplate="{currentPage} of {totalPages} pages"
        [showCurrentPageReport]="true"
        [loading]="loading"
        (onLazyLoad)="loadRRs($event)"
    >
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let column of columns" [ngClass]="'col-' + column.name">{{ column.label }}</th>
            </tr>
        </ng-template>
        <ng-template #body let-rr let-columns="columns">
            <tr>
                <td
                    *ngFor="let column of columns"
                    [ngClass]="[
                        column.name === 'rrType' ? 'rr-type-' + rr.rrType.toLowerCase() : '',
                        'cell-' + column.name,
                    ]"
                >
                    {{ rr[column.name] }}
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">No data received</td>
            </tr>
        </ng-template>
        <ng-template #paginatorright let-state>
            Total: {{ totalRecords > 0 ? totalRecords : '0' }}
            {{ totalRecords === 1 ? 'record' : 'records' }}
        </ng-template>
    </p-table>
</div>
