<div class="text-base" [ngClass]="{ 'flex flex-column flex-auto min-h-0': scrollHeight === 'flex' }">
    <div class="flex align-items-center justify-content-between">
        <div class="text-base text-gray-500">
            Cached from DNS server on
            <span class="font-bold text-normal mr-2">{{ zoneTransferAt | localtime | placeholder: 'never' }}</span>
            <app-help-tip subject="Cached zone contents">
                <p>
                    The zone contents presented here were fetched from the DNS server using zone transfer (AXFR), and
                    are cached in Stork. The timestamp indicates when the zone transfer was last performed. If you need
                    up-to-date zone information you can update the cached data using the 'Refresh from DNS' button.
                </p>
            </app-help-tip>
        </div>
        <p-button
            label="Refresh from DNS"
            pTooltip="Refresh the zone contents from the DNS server using zone transfer (AXFR). The received data will be cached in Stork."
            (click)="refreshFromDNSClicked.emit()"
            [disabled]="loading"
        />
    </div>
    <p-divider />
    @if (loading) {
        <p-progressSpinner styleClass="w-2rem h-2rem gray-spinner" strokeWidth="6" />
    } @else {
        <div [ngClass]="{ 'flex-auto': scrollHeight === 'flex' }">
            <!-- The table uses a virtual scroller. Otherwise, loading the table with
             a large number of rows can be very slow. How slow depends on the browser.
             For a larger number of rows, loading could take 40 seconds on Safari.
             It took considerable time on other browsers too. Using virtual scroller
             mitigates this problem. -->
            <p-table
                [value]="data?.items ?? []"
                [scrollable]="true"
                [scrollHeight]="scrollHeight"
                [virtualScroll]="true"
                [virtualScrollItemSize]="46"
            >
                <ng-template #body let-rr>
                    <tr style="height: 46px">
                        <td class="font-bold">{{ rr.name }}</td>
                        <td>{{ rr.ttl }}</td>
                        <td>{{ rr.rrClass }}</td>
                        <td [ngClass]="'rr-type-' + rr.rrType.toLowerCase()">{{ rr.rrType }}</td>
                        <td>{{ rr.data }}</td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="5">No data received</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    }
</div>
