<p-confirmDialog></p-confirmDialog>

<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <p-button
        label="Clear Finished Migrations"
        icon="pi pi-trash"
        styleClass="block p-button-warning no-underline"
        (onClick)="clearFinishedMigrations()"
        appAccessEntity="migrations"
        appAccessType="delete"
    ></p-button>

    <p-button
        label="Refresh List"
        icon="pi pi-refresh"
        styleClass="block p-button-primary no-underline"
        (onClick)="loadData(configMigrationTable.createLazyLoadMetadata())"
    ></p-button>
</div>

<p-table
    id="config-migration-table"
    #configMigrationTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{currentPage} of {totalPages} pages"
    [stripedRows]="true"
>
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Start Date</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Elapsed Time</th>
            <th>Left Time</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="7" class="text-center">No migrations found.</td>
        </tr>
    </ng-template>
    <ng-template #body let-m>
        <tr id="migration-row-{{ m.id }}">
            <td>
                <a routerLink="/config-migrations/{{ m.id }}">{{ m.id }}</a>
            </td>
            <td>{{ m.startDate | localtime }}</td>
            <td>
                <div class="flex flex-wrap justify-center gap-2">
                    <p-tag *ngIf="m.endDate" severity="success" value="Completed"></p-tag>
                    <p-tag
                        *ngIf="m.generalError"
                        severity="danger"
                        value="Failed"
                        [pTooltip]="m.generalError"
                        tooltipPosition="top"
                    ></p-tag>
                    <p-tag *ngIf="m.canceling" severity="warning" value="Canceling"></p-tag>
                    <p-tag *ngIf="!m.endDate" severity="info" value="Running"></p-tag>
                    <p-tag
                        *ngIf="m.errors?.total > 0"
                        severity="danger"
                        [value]="m.errors.total + ' errors'"
                        [pTooltip]="'This migration has ' + m.errors.total + ' errors.'"
                        tooltipPosition="top"
                    ></p-tag>
                </div>
            </td>
            <td>
                <p-progressBar [value]="getCompletionPercentage(m)" [showValue]="true"></p-progressBar>
            </td>
            <td>
                {{ m.elapsedTime | duration }}
            </td>
            <td>
                {{ m.estimatedLeftTime | duration }}
            </td>
            <td>
                <p-button
                    [class.hidden]="!!m.endDate || m.canceling"
                    class="p-button-danger p-button-sm"
                    icon="pi pi-times"
                    pTooltip="Cancel Migration"
                    tooltipPosition="top"
                    (click)="cancel(m.id)"
                    appAccessEntity="migrations"
                    appAccessType="update"
                ></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template #paginatorright let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'migration' }}
    </ng-template>
</p-table>
