:host ::ng-deep
  .p-datatable .p-datatable-header:has(.p-panel)
    // When the table header has p-panel inside, do not add extra horizontal padding,
    // because the panel has its own padding.
    padding-left: 0
    padding-right: 0

  .p-progressbar
    // Single-line height.
    height: 1rem

  .p-progressbar-value
    // Animation of the progress bar.
    transition: width 0.5s ease
