{
    "basic_auth": [
        {
            "ip": "127.0.0.1",
            "port": 1234,
            "user": "foo",
            "password": "bar"
        },
        {
            "ip": "2001:db8::",
            "port": 4567,
            "user": "baz",
            "password": "biz"
        }
    ]
}
