[Unit]
Description=ISC Stork Agent
Documentation=man:stork-agent(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
User=stork-agent
ConfigurationDirectory=stork
ExecStart=stork-agent
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile=/etc/stork/agent.env
# enable reading /proc/<pid>/cwd
AmbientCapabilities=CAP_SYS_PTRACE
Restart=on-failure

[Install]
WantedBy=multi-user.target
