[Unit]
Description=ISC Stork Server
Documentation=man:stork-server(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
User=stork-server
ConfigurationDirectory=stork
ExecStart=stork-server
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile=/etc/stork/server.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
