<div class="p-grid">
    <div class="p-col-fixed" style="margin:10px 0px; width:200px">
        <app-settings-menu></app-settings-menu>
    </div>
    <div class="p-col" style="margin:10px 0px">
        <div>
            <div class="p-grid">
                <div class="p-col-3">
                    <p-panel header="Profile information">
                        Currently the profile information may only be changed by the system administrator. You can here
                        only view the information about your profile.
                    </p-panel>
                </div>
                <div class="p-col-7 p-justify-left p-align-center">
                    <p-panel header="{{ this.profilePanelHeader }}">
                        <b>ID</b>
                        <p>{{ currentUser.id }}</p>
                        <b>Login</b>
                        <p>{{ currentUser.username }}</p>
                        <b>Email</b>
                        <p>{{ currentUser.email ? currentUser.email : '(not specified)' }}</p>
                        <b>Group</b>
                        <p>{{ this.groupName }}</p>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
</div>
