<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays a user profile.</p>
        <p>
            Currently the profile information may only be changed by the system administrator. Profile information may
            be viewed here.
        </p>
    </div>
</app-breadcrumbs>

<div class="grid mt-2">
    <div class="col-fixed ml-2" style="width: 200px">
        <app-settings-menu></app-settings-menu>
    </div>
    <div class="col ml-2">
        <p-panel header="{{ this.profilePanelHeader }}">
            <div class="grid">
                <div class="col-1">
                    <b>ID:</b>
                </div>
                <div class="col-11">
                    {{ currentUser.id }}
                </div>
                <div class="col-1">
                    <b>Login:</b>
                </div>
                <div class="col-11">
                    {{ currentUser.login }}
                </div>
                <div class="col-1">
                    <b>Email:</b>
                </div>
                <div class="col-11">
                    {{ currentUser.email ? currentUser.email : '(not specified)' }}
                </div>
                <div class="col-1">
                    <b>Group:</b>
                </div>
                <div class="col-11">
                    {{ groupName }}
                </div>
                <div class="col-1">
                    <b>Authentication:</b>
                </div>
                <div class="col-11">
                    {{ currentUser.authenticationMethodId }}
                </div>
                <div class="col-1">
                    <b>External ID:</b>
                </div>
                <div class="col-11">
                    {{ !!currentUser.externalId ? currentUser.externalId : '(not specified)' }}
                </div>
            </div>
        </p-panel>
    </div>
</div>
