<!-- Control is not clicked yet. -->
<!-- Or control is clicked and key is loading. -->
@if (!isKeyFetched) {
    <p-button
        icon="fas fa-eye-slash"
        [text]="true"
        severity="secondary"
        (click)="onAuthenticationKeyRequest()"
        [loading]="isKeyLoading"
    ></p-button>
}
<!-- Control is clicked and key is loaded. -->
@if (isKeyFetched && !isKeyEmpty) {
    {{ key }}
}
<!-- Key is loaded but it has no value. -->
@if (isKeyFetched && isKeyEmpty) {
    (no value)
}
