<!-- Control is not clicked yet. -->
<!-- Or control is clicked and key is loading. -->
<button
    pButton
    class="p-button-text p-button-plain p-0 border-none vertical-align-top"
    icon="fas fa-eye-slash"
    (click)="onAuthenticationKeyRequest()"
    [loading]="isKeyLoading"
    *ngIf="!isKeyFetched"
></button>
<!-- Control is clicked and key is loaded. -->
<ng-container *ngIf="isKeyFetched && !isKeyEmpty">
    {{ key }}
</ng-container>
<!-- Key is loaded but it has no value. -->
<ng-container *ngIf="isKeyFetched && isKeyEmpty"> (no value) </ng-container>
