<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <div class="flex align-items-top">
            <div class="pi pi-info-circle p-message-icon"></div>
            <div class="ml-2">To add or remove machines go to <a routerLink="/machines/all">machines page</a></div>
            .
        </div>
        <p-divider></p-divider>
        <div class="flex align-items-top mt-2">
            <div class="pi pi-info-circle p-message-icon"></div>
            <div class="ml-2" id="intervals-config-msg">
                <p class="mt-0">
                    Using the settings in the Intervals section it is possible to configure the intervals at which the
                    Stork server fetches various types of information from the monitored machines and applications. Each
                    configured value designates a time period between completion of the previous attempt to fetch some
                    type of information from the machines and the beginning of the next attempt to fetch new
                    information.
                </p>
                <p class="mb-0">
                    For example, if the Kea Hosts Puller Interval is set to 10 seconds and it takes 5 seconds to pull
                    the hosts information, the time period between the beginnings of the two consecutive attempts to
                    pull the hosts information will be equal to 15 seconds. The pull time varies between deployments and
                    depends on the amount of information pulled, network congestion and other factors. The setting
                    specified here guarantees that there is a constant idle time between any two attempts.
                </p>
            </div>
        </div>
    </div>
</app-breadcrumbs>

<form [formGroup]="settingsForm">
    <div class="grid">
        <div class="col-6">
            <p-fieldset legend="Intervals">
                <div *ngFor="let setting of intervalSettings" class="w-full">
                    <label class="block mt-2">
                        {{ setting.title }} (in seconds):
                        <input type="number" [formControlName]="setting.formControlName" class="w-full" />
                    </label>
                    <div *ngIf="hasError(setting.formControlName, 'required')" class="p-error">It is required.</div>
                    <div *ngIf="hasError(setting.formControlName, 'min')" class="p-error">It must not be negative.</div>
                </div>
            </p-fieldset>
        </div>

        <div class="col-6">
            <p-fieldset legend="Grafana & Prometheus">
                <div *ngFor="let setting of urlSettings" class="w-full">
                    <label class="block mt-2">
                        {{ setting.title }}
                        <input type="url" [formControlName]="setting.formControlName" class="w-full" id="grafanaUrl" />
                    </label>
                </div>
            </p-fieldset>
        </div>
    </div>
</form>

<button
    pButton
    type="button"
    [disabled]="settingsForm.invalid"
    label="Save Settings"
    id="save-settings-button"
    (click)="saveSettings()"
    class="mt-2 ml-1"
></button>

<span *ngIf="settingsForm.invalid" class="p-error ml-3"> There are issues in the form values. </span>
