<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays Stork settings.</p>
    </div>
</app-breadcrumbs>

<div class="p-grid">
    <!-- left panel with settings -->
    <div class="p-col-6">
        <form [formGroup]="settingsForm">
            <p-fieldset legend="Intervals">
                <label style="display: block">
                    BIND 9 Statistics Puller Interval (in seconds):<br />
                    <input
                        type="number"
                        formControlName="bind9_stats_puller_interval"
                        id="bind9-stats-puller-interval"
                        style="width: 100%"
                    />
                </label>
                <div *ngIf="hasError('bind9_stats_puller_interval', 'required')" style="color: red">
                    This is required.
                </div>
                <div *ngIf="hasError('bind9_stats_puller_interval', 'min')" style="color: red">It must be > 0.</div>

                <label style="display: block; margin-top: 1em">
                    Kea Statistics Puller Interval (in seconds):<br />
                    <input
                        type="number"
                        formControlName="kea_stats_puller_interval"
                        id="kea-stats-puller-interval"
                        style="width: 100%"
                    />
                </label>
                <div *ngIf="hasError('kea_stats_puller_interval', 'required')" style="color: red">
                    This is required.
                </div>
                <div *ngIf="hasError('kea_stats_puller_interval', 'min')" style="color: red">It must be > 0.</div>

                <label style="display: block; margin-top: 1em">
                    Kea Hosts Puller Interval (in seconds):<br />
                    <input
                        type="number"
                        formControlName="kea_hosts_puller_interval"
                        id="kea-hosts-puller-interval"
                        style="width: 100%"
                    />
                </label>
                <div *ngIf="hasError('kea_hosts_puller_interval', 'required')" style="color: red">
                    This is required.
                </div>
                <div *ngIf="hasError('kea_hosts_puller_interval', 'min')" style="color: red">It must be > 0.</div>

                <label style="display: block; margin-top: 1em">
                    Kea Status Puller Interval (in seconds):<br />
                    <input
                        type="number"
                        formControlName="kea_status_puller_interval"
                        id="kea-status-puller-interval"
                        style="width: 100%"
                    />
                </label>
                <div *ngIf="hasError('kea_status_puller_interval', 'required')" style="color: red">
                    This is required.
                </div>
                <div *ngIf="hasError('kea_status_puller_interval', 'min')" style="color: red">It must be > 0.</div>
            </p-fieldset>

            <p-fieldset legend="Grafana & Prometheus">
                <label style="display: block">
                    URL to Grafana:<br />
                    <input type="url" formControlName="grafana_url" style="width: 100%" id="grafana_url" />
                </label>

                <label style="display: block; margin-top: 1em">
                    URL to Prometheus:<br />
                    <input type="url" formControlName="prometheus_url" style="width: 100%" id="prometheus_url" />
                </label>
            </p-fieldset>
        </form>

        <button
            pButton
            type="button"
            label="Save Settings"
            id="save-settings-button"
            (click)="saveSettings()"
            style="margin: 10px 0 0 4px"
        ></button>
        <span *ngIf="settingsForm.invalid" style="color: red; margin-left: 20px">
            There are some issues in the form values.
        </span>
    </div>

    <!-- right panel with link to machines page -->
    <div class="p-col-4" style="padding: 30px 0 0 20px">
        <p-messages severity="info">
            <ng-template pTemplate>
                <span class="pi pi-info-circle p-message-icon"></span>
                To add or remove machines go to <a routerLink="/machines/all">machines page</a>.
            </ng-template>
        </p-messages>

        <p-messages severity="info">
            <ng-template pTemplate>
                <span class="pi pi-info-circle p-message-icon"></span>
                <div>
                    <p>
                        Using the settings in the Intervals section it is possible to configure the intervals at which
                        the Stork server fetches various types of information from the monitored machines and
                        applications. Each configured value designates a time period between completion of the previous
                        attempt to fetch some type of information from the machines and the beginning of the next
                        attempt to fetch new information.
                    </p>
                    <p>
                        For example, if the Kea Hosts Puller Interval is set to 10 seconds and it takes 5 seconds to
                        pull the hosts information, the time period between the beginnings of the two consecutive
                        attempts to pull the hosts information will be equal to 15 seconds. The pull time varies between
                        deployments and depends on the amount of information pulled, network congestion and other
                        factors. The setting specified here guarantees that there is a constant idle time between any
                        two attempts.
                    </p>
                </div>
            </ng-template>
        </p-messages>
    </div>
</div>
