<p-button
    [size]="variant === 'big' ? 'large' : undefined"
    (onClick)="togglePopover($event)"
    icon="pi pi-question-circle"
    [text]="true"
    title="Help for {{ subject }}"
    [dt]="helpTipButton"
    [rounded]="true"
></p-button>
<p-popover #po styleClass="help-tip-inserted">
    <div class="help-tip" [ngStyle]="{ width: width }" id="{{ 'help-for-' + subject }}">
        <div class="flex gap-2">
            <h3 class="underlined flex-auto">Help for {{ subject }}</h3>
        </div>
        <p-button
            icon="pi pi-times"
            (click)="po.hide()"
            size="small"
            [rounded]="true"
            severity="secondary"
            [text]="true"
            class="close-help-tip-button"
        />
        <ng-content></ng-content>
    </div>
</p-popover>
