<div class="p-button p-button-text p-button-icon-only inline-block vertical-align-middle">
    <i
        class="pi pi-question-circle help-icon"
        [ngClass]="variant === 'big' ? 'big-help-icon' : ''"
        (click)="toggleOverlay($event)"
    ></i>
</div>
<p-overlayPanel [showCloseIcon]="true" styleClass="help-tip-inserted">
    <ng-template pTemplate="content">
        <div class="help-tip" [ngStyle]="{ width: width }" id="{{ 'help-for-' + title }}">
            <h3>Help for {{ title }}</h3>
            <ng-content></ng-content>
        </div>
    </ng-template>
</p-overlayPanel>
<div #append></div>
