<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays a list of the shared networks defined in the Kea instance.</p>
    </div>
</app-breadcrumbs>

<app-tab-view
    routePath="/dhcp/shared-networks/"
    [entityProvider]="sharedNetworkProvider"
    [newFormProvider]="sharedNetworkFormProvider"
    [createTransactionDeleteAPICaller]="callCreateNetworkDeleteTransaction"
    [updateTransactionDeleteAPICaller]="callUpdateNetworkDeleteTransaction"
    [tableQueryParamFilters]="{
        appId: { type: 'numeric', matchMode: 'equals' },
        dhcpVersion: { type: 'enum', matchMode: 'equals', enumValues: ['4', '6'] },
        text: { type: 'string', matchMode: 'contains' },
    }"
    [inputTable]="networksTableComponent()?.table"
    [forceAsyncEntityFetch]="true"
    entityTypeName="Shared Network"
>
    <ng-template #firstTab>
        <app-shared-networks-table #networksTableComponent [dataLoading]="loading"></app-shared-networks-table>
    </ng-template>
    <ng-template
        #entityTab
        let-sharedNetwork
        let-onSharedNetworkEditBegin="beginEntityEditFn"
        let-onSharedNetworkDelete="deleteEntityFn"
    >
        <app-shared-network-tab
            [sharedNetwork]="sharedNetwork"
            (sharedNetworkEditBegin)="onSharedNetworkEditBegin(sharedNetwork.id)"
            (sharedNetworkDelete)="onSharedNetworkDelete(sharedNetwork.id)"
        ></app-shared-network-tab>
    </ng-template>
    <ng-template
        #formTab
        let-sharedNetwork
        let-tabType="tabType"
        let-tabForm="tabForm"
        let-onSharedNetworkFormDestroy="destroyFormFn"
        let-onSharedNetworkFormSubmit="submitFormFn"
        let-onSharedNetworkFormCancel="cancelFormFn"
    >
        <div class="max-w-50rem">
            <app-shared-network-form
                [state]="tabForm.formState"
                [sharedNetworkId]="sharedNetwork?.id"
                (formDestroy)="onSharedNetworkFormDestroy($event)"
                (formSubmit)="onSharedNetworkFormSubmit($event, $event.sharedNetworkId)"
                (formCancel)="onSharedNetworkFormCancel(tabType, sharedNetwork?.id)"
            ></app-shared-network-form>
        </div>
    </ng-template>
</app-tab-view>
