<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays a list of shared networks.</p>
    </div>
</app-breadcrumbs>

<div>
    <div style="margin: 0 0 10px 5px; display: flex">
        <div>
            <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
            Filter networks:
            <input
                type="text"
                id="filterNetworksTextField"
                pInputText
                [(ngModel)]="filterText"
                placeholder="network or any other field"
                (keyup)="keyupFilterText($event)"
            />
            <app-help-tip title="filtering">
                <p>
                    Shared networks in the table below can be filtered by entering a text in the search box; the table
                    shows all shared networks matching the filter text. Currently supported field for such filtering is:
                </p>
                <ul>
                    <li>Name</li>
                </ul>
                <p>
                    The table presents shared networks that meet certain criteria, e.g. <b>alpha</b> shows all shared
                    networks that contain "alpha" in their names.
                </p>
                <p>
                    In addition, shared networks can be filtered by an explicitly selected field using the expression:
                    <i>field:value</i>, e.g.: <i class="monospace">appId:2</i>. Currently supported field for explicit
                    filtering is:
                </p>
                <ul>
                    <li class="monospace">appId</li>
                </ul>
            </app-help-tip>
        </div>
        <div style="margin: 0 10px 0 40px; padding-top: 5px">Protocol:</div>
        <div>
            <p-dropdown
                [options]="dhcpVersions"
                id="protocolDropdownMenu"
                [(ngModel)]="queryParams.dhcpVersion"
                (onChange)="filterByDhcpVersion()"
            ></p-dropdown>
        </div>
    </div>

    <div>
        <p-table
            #networksTable
            [value]="networks"
            [paginator]="true"
            [rows]="10"
            [lazy]="true"
            (onLazyLoad)="loadNetworks($event)"
            [totalRecords]="totalNetworks"
            [rowsPerPageOptions]="[10, 30, 100]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{currentPage} of {totalPages} pages"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2" style="width: 7rem">Name</th>
                    <th colspan="3" style="width: 16rem">Addresses</th>
                    <th rowspan="2">Subnets</th>
                    <th rowspan="2" style="width: 14rem">AppID @ Machine</th>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>Assigned</th>
                    <th>Used %</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-net>
                <tr class="alternate-list">
                    <td>
                        {{ net.name }}
                    </td>
                    <td>
                        <span pTooltip="{{ tooltipCount(getTotalAddresses(net)) }}">{{
                            humanCount(getTotalAddresses(net))
                        }}</span>
                    </td>
                    <td>
                        <span pTooltip="{{ tooltipCount(getAssignedAddresses(net)) }}">{{
                            humanCount(getAssignedAddresses(net))
                        }}</span>
                    </td>
                    <td>
                        {{ net.addrUtilization ? net.addrUtilization : '0' }} %
                        <i
                            *ngIf="net.addrUtilization > 80 && net.addrUtilization <= 90"
                            class="pi pi-exclamation-triangle"
                            style="font-size: 1.5em; vertical-align: text-top; float: right; color: orange"
                        ></i>
                        <i
                            *ngIf="net.addrUtilization > 90"
                            class="pi pi-exclamation-circle"
                            style="font-size: 1.5em; vertical-align: text-top; float: right; color: red"
                        ></i>
                    </td>
                    <td>
                        <app-subnet-bar *ngFor="let sn of net.subnets" [subnet]="sn"></app-subnet-bar>
                    </td>
                    <td>
                        <a *ngFor="let app of getApps(net)" routerLink="/apps/kea/{{ app.id }}"
                            >{{ app.id }} @ {{ app.machineAddress }}</a
                        >
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright" let-state>
                Total: {{ state.totalRecords > 0 ? state.totalRecords : '0' }}
                {{ state.totalRecords === 1 ? 'shared networks' : 'shared networks' }}
            </ng-template>
        </p-table>
    </div>
</div>
