<p-panel [styleClass]="statusPanelClass">
    <p-header>
        <span>
            {{ panelTitle }}
            <a *ngIf="showServerLink && serverStatus.appId > 0" routerLink="/apps/kea/{{ serverStatus.appId }}">{{
                'Kea@' + serverStatus.controlAddress
            }}</a>
        </span>
        <span *ngIf="serverWarnLevel() === 'ok'" class="pi pi-check" style="color: #00a800"> </span>
        <span *ngIf="serverWarnLevel() === 'warn'" class="pi pi-exclamation-triangle" style="color: orange"> </span>
        <span *ngIf="serverWarnLevel() === 'error'" class="pi pi-exclamation-circle" style="color: #f11"> </span>
    </p-header>
    <table>
        <tr>
            <td style="width: 45%">Status time:</td>
            <td style="width: 50%">
                <i>{{ serverStatus.statusTime | localtime | placeholder: 'never' }}</i>
            </td>
            <td style="width: 5%">
                <app-help-tip title="status time" id="status-time-help-button">
                    <p>{{ statusTimeHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr>
            <td>Status checked:</td>
            <td>
                <i>{{ formattedAge(serverStatus.age) }}</i>
            </td>
            <td>
                <app-help-tip title="status checked" id="status-checked-help-button">
                    <p>{{ collectedHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>
                <i>{{ serverStatus.role }}</i>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Control status:</td>
            <td id="ha-control-status">
                <i *ngIf="serverStatus.inTouch" class="pi pi-check" style="color: #00a800"> </i>
                <i *ngIf="!serverStatus.inTouch" class="pi pi-times" style="color: #f11"> </i>
                <i>{{ formattedControlStatus() }}</i>
            </td>
            <td>
                <app-help-tip title="control status" id="control-status-help-button">
                    <p>{{ controlStatusHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr *ngIf="extendedFormatSupported()">
            <td>Heartbeat status:</td>
            <td>
                <i *ngIf="!serverStatus.commInterrupted" class="pi pi-check" style="color: #00a800"> </i>
                <i *ngIf="serverStatus.commInterrupted > 0" class="pi pi-times" style="color: #f11"> </i>
                <i>{{ formattedHeartbeatStatus() }}</i>
            </td>
            <td>
                <app-help-tip title="heartbeat status" id="heartbeat-status-help-button">
                    <p>{{ heartbeatStatusHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr>
            <td>State:</td>
            <td id="ha-server-state">
                <i *ngIf="stateKind() === StateKind.Ok" class="pi pi-check" style="color: #00a800"> </i>
                <i *ngIf="stateKind() === StateKind.NotOk" class="pi pi-times" style="color: #f11"> </i>
                <i *ngIf="stateKind() === StateKind.Pending" class="pi pi-spin pi-spinner" style="color: gray"> </i>
                <i>{{ formattedState() }}</i>
            </td>
            <td>
                <app-help-tip title="state" id="help-button-state">
                    <p>{{ haStateHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr>
            <td>Scopes served:</td>
            <td>
                <i id="ha-local-scopes">{{ formattedLocalScopes() }}</i>
            </td>
            <td>
                <app-help-tip title="scopes served" id="scopes-served-help-button">
                    <p>{{ scopesHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr *ngIf="!singleActiveServer">
            <td>Last in partner-down:</td>
            <td>
                <i>{{ serverStatus.failoverTime | localtime | placeholder: 'never' }}</i>
            </td>
            <td>
                <app-help-tip title="last in partner-down" id="partner-down-help-button">
                    <p>{{ failoverHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr *ngIf="extendedFormatSupported()">
            <td>Unacked clients:</td>
            <td>
                <i>{{ formattedUnackedClients() }}</i>
            </td>
            <td>
                <app-help-tip title="unacked clients" id="unacked-clients-help-button">
                    <p>{{ unackedClientsHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr *ngIf="extendedFormatSupported()">
            <td>Connecting clients:</td>
            <td>
                <i>{{ formattedFailoverNumber(serverStatus.connectingClients) }}</i>
            </td>
            <td>
                <app-help-tip title="connecting clients" id="connecting-clients-help-button">
                    <p>{{ connectingClientsHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
        <tr *ngIf="extendedFormatSupported()">
            <td>Analyzed packets:</td>
            <td>
                <i>{{ formattedFailoverNumber(serverStatus.analyzedPackets) }}</i>
            </td>
            <td>
                <app-help-tip title="analyzed packets" id="analyzed-packets-help-button">
                    <p>{{ analyzedPacketsHelptip() }}</p>
                </app-help-tip>
            </td>
        </tr>
    </table>
</p-panel>
