<ng-template #defaultNoAccess>
    <p-button
        icon="pi pi-ban"
        severity="secondary"
        pTooltip="You don't have {{
            accessType
        }} privileges to display this UI component. If you think this is unexpected, please contact your Stork system administrator."
    />
</ng-template>
<ng-container *ngIf="hasAccess">
    <ng-content></ng-content>
    <ng-template *ngTemplateOutlet="hasAccessTemplate"></ng-template>
</ng-container>
<ng-container *ngIf="!hasAccess && (!hideOnNoAccess || noAccessTemplate)">
    <ng-container *ngIf="noAccessTemplate; else defaultNoAccess">
        <ng-template *ngTemplateOutlet="noAccessTemplate"></ng-template>
    </ng-container>
</ng-container>
