<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>
            This page displays a tree of the daemons for which the Stork server reports communication problems. The
            faulty processes are color-coded and marked with a triangle icon. Hover the cursor over the icons to see the
            error details.
        </p>
    </div>
</app-breadcrumbs>
@if (!loading) {
    <div>
        @if (!loading) {
            <app-communication-status-tree [daemons]="daemons"></app-communication-status-tree>
        }
        @if (!loading) {
            <p-button label="Reload" styleClass="mt-3" (onClick)="onReload()"></p-button>
        }
    </div>
} @else {
    <p-progressSpinner></p-progressSpinner>
}
