#youtag
  border-radius: 5px
  background: #73AD21
  border: 2px solid #73AD21
  font-size: 9zpx
  color: #FFFFFF
  margin-left: 5px

:host ::ng-deep .user-input
  width: 80%

:host ::ng-deep .password-component
  width: 100%
