<p-tabMenu [model]="tabs" [activeItem]="activeItem" [style]="{ 'margin-top': '10px' }">
    <ng-template pTemplate="item" let-item let-i="index">
        <div style="display: flex; justify-content: space-between;">
            <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
            <div class="ui-menuitem-text">
                <b>{{ item.label }}</b>
            </div>
            <div
                class="ui-menuitem-icon pi pi-times"
                style="font-size: 1.3rem"
                (click)="closeTab($event, i)"
                *ngIf="i !== 0"
            ></div>
        </div>
    </ng-template>
</p-tabMenu>

<!-- Machines tab -->
<div *ngIf="activeTabIdx == 0">
    <div style="display: flex; justify-content: space-between; margin: 10px;">
        <div>
            <span>
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                Filter machines:
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="filterText"
                    placeholder="name or any other field"
                    (keydown)="keyDownFilterText(usersTable, $event)"
                />
            </span>
        </div>

        <div style="display: flex;">
            <button
                type="button"
                pButton
                label="Create UserAccount"
                icon="pi pi-plus"
                style="margin-right: 20px;"
                (click)="showNewUserTab()"
            ></button>
        </div>
    </div>

    <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
    <p-table
        #usersTable
        [value]="users"
        [paginator]="true"
        paginatorPosition="top"
        [rows]="10"
        [lazy]="true"
        (onLazyLoad)="loadUsers($event)"
        [totalRecords]="totalUsers"
        [rowsPerPageOptions]="[10, 30, 100]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{currentPage} of {totalPages} pages"
    >
        <ng-template pTemplate="header">
            <tr>
              <th>Login</th>
              <th>Email</th>
              <th>Firstname</th>
              <th>Lastname</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-u>
            <tr>
              <td align="center">
                <a routerLink="/users/{{ u.id }}">{{ u.login }}</a>
              </td>
              <td align="center">
                <a routerLink="/users/{{ u.id }}">{{ u.email }}</a>
              </td>
              <td align="center">{{ u.lastname }}</td>
              <td align="center">{{ u.firstname }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="existingUserTab" class="ui-widget">
    <div style="display: flex; margin: 10px;">
        <div style="min-width: 300px;">
          <table>
            <tr>
              <td>Login</td>
              <td>{{ userTab.user.login }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ userTab.user.email }}</td>
            </tr>
            <tr>
              <td>Lastname</td>
              <td>{{ userTab.user.lastname }}</td>
            </tr>
            <tr>
              <td>Firstname</td>
              <td>{{ userTab.user.firstname }}</td>
            </tr>
          </table>
        </div>
        <div style="margin-left: 40px;">
          <button
            type="button"
            pButton
            label="Edit"
            icon="pi pi-pencil"
            (click)="editUserInfo(userTab)"
            ></button>
        </div>
     </div>
</div>

<div *ngIf="newUserTab" class="ui-widget">
  <div style="display: flex; margin: 10px;">
    <div style="min-width: 400px;">
      <form [formGroup]="newUserForm">
        <div>
          <label for="userlogin">Login</label>
          <input type="text" formControlName="userlogin" placeholder="stork82" style="width: 100%;" />
        </div>

        <div style="margin-top: 10px;">
          <label for="useremail">Email</label>
          <input type="text" formControlName="useremail" placeholder="jstork@example.org" style="width: 100%;" />
        </div>

        <div style="margin-top: 10px;">
          <label for="userfirst">First Name</label>
          <input type="text" formControlName="userfirst" placeholder="John" style="width: 100%;" />
        </div>

        <div style="margin-top: 10px;">
          <label for="userlast">Last Name</label>
          <input type="text" formControlName="userlast" placeholder="Stork" style="width: 100%;" />
        </div>

        <div style="margin-top: 10px;">
          <button
            type="button"
            pButton
            label="Submit"
            icon="pi pi-pencil"
            ></button>
        </div>
      </form>
    </div>
    </div>
</div>
