<p-confirmDialog />
<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>
            Super-admin users can modify user privileges and passwords by clicking on the user name below. More
            information is available the Stork ARM in the
            <a href="https://stork.readthedocs.io/en/latest/usage.html#managing-users" target="_blank"
                >user and password management</a
            >
            chapter.
        </p>
        <dl>
            <dt>ID</dt>
            <dd>A sequential identifier number used internally by Stork.</dd>
            <dt>Login</dt>
            <dd>A friendly name identifying the user; it is unique for a given authentication method.</dd>
            <dt>Email</dt>
            <dd>An optional property.</dd>
            <dt>Group</dt>
            <dd>The group that the user belongs to.</dd>
            <dt>Authentication</dt>
            <dd>
                The method used to authenticate a user. Internal authentication is the default method, using a login and
                password stored in the Stork database.
            </dd>
            <dt>External ID</dt>
            <dd>
                An identifier returned by an external authentication service; it is not specified if the internal
                authentication method is used.
            </dd>
        </dl>
    </div>
</app-breadcrumbs>
<app-tab-view
    routePath="/users/"
    firstTabRouteEnd="list"
    firstTabTitle="Users"
    [entityProvider]="userProvider"
    [entityTitleProvider]="tabTitleProvider"
    [newFormProvider]="userFormProvider"
    entityTypeName="Account"
    [tableQueryParamFilters]="{
        text: { type: 'string', matchMode: 'contains' },
    }"
    [entitiesTable]="table()"
>
    <ng-template #firstTab>
        <div class="mb-2 flex gap-2 flex-wrap justify-content-end">
            <p-button
                label="Create User Account"
                id="create-user-account-button"
                icon="pi pi-plus"
                routerLink="/users/new"
                appAccessEntity="users"
                appAccessType="create"
            ></p-button>
            <p-button label="Refresh List" icon="pi pi-refresh" (onClick)="loadUsers(table.createLazyLoadMetadata())" />
        </div>
        <p-table
            #table
            [value]="users"
            [paginator]="true"
            [rows]="rows"
            [lazy]="true"
            [lazyLoadOnInit]="false"
            (onLazyLoad)="loadUsers($event)"
            [totalRecords]="totalUsers"
            [rowsPerPageOptions]="[10, 30, 100]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{currentPage} of {totalPages} pages"
            stateStorage="local"
            (rowsChange)="storeTableRowsPerPage($event)"
            [stripedRows]="true"
            class="full-w-table"
        >
            <ng-template #caption>
                <p-panel #filtersPanel [toggleable]="true" styleClass="p-panel-icons-hidden">
                    <ng-template #header>
                        <div class="flex align-items-center gap-2">
                            <p-button
                                [text]="true"
                                [rounded]="true"
                                severity="secondary"
                                [icon]="!filtersPanel.collapsed ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                (click)="filtersPanel.toggle($event)"
                            />
                            <i class="pi pi-filter"></i>
                            <span class="font-bold">Filters</span>
                            <p-tag
                                icon="pi pi-check"
                                value="Filter applied"
                                severity="success"
                                *ngIf="tableHasFilter(table)"
                            ></p-tag>
                            <app-help-tip subject="filtering" id="filtering-help-button">
                                <p>
                                    The table below can be filtered by entering text in the search box; the table shows
                                    all users matching the filter text. The currently supported fields for filtering
                                    are:
                                </p>
                                <ul>
                                    <li>Login</li>
                                    <li>E-mail address</li>
                                    <li>First name</li>
                                    <li>Last name</li>
                                </ul>
                            </app-help-tip>
                        </div>
                    </ng-template>
                    <div class="flex flex-wrap gap-2 row-gap-3 mt-3 align-items-center">
                        <p-button
                            label="Clear"
                            [severity]="tableHasFilter(table) ? 'info' : 'secondary'"
                            icon="pi pi-filter-slash"
                            (click)="clearTableFiltering()"
                            [disabled]="!tableHasFilter(table)"
                        ></p-button>
                        <div class="flex-auto"></div>
                        <p-columnFilter field="text" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                                <div class="flex">
                                    <p-iconfield iconPosition="left">
                                        <p-inputicon>
                                            <i class="pi pi-search"></i>
                                        </p-inputicon>
                                        <input
                                            pInputText
                                            class="max-w-13rem sm:max-w-20rem"
                                            type="text"
                                            (input)="filterTable($event.target.value, filterMetadata)"
                                            [ngModel]="value"
                                            placeholder="Search users"
                                        />
                                    </p-iconfield>
                                    <p-button
                                        icon="pi pi-filter-slash"
                                        [rounded]="true"
                                        [text]="true"
                                        severity="secondary"
                                        [styleClass]="value ? '' : 'hidden-space'"
                                        (onClick)="clearFilter(filterMetadata)"
                                    />
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </p-panel>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th [pSortableColumn]="UserSortField.Login">
                        <div class="flex gap-1">Login <p-sortIcon [field]="UserSortField.Login" /></div>
                    </th>
                    <th [pSortableColumn]="UserSortField.Email">
                        <div class="flex gap-1">Email <p-sortIcon [field]="UserSortField.Email" /></div>
                    </th>
                    <th [pSortableColumn]="UserSortField.Name">
                        <div class="flex gap-1 white-space-nowrap">
                            First name <p-sortIcon [field]="UserSortField.Name" />
                        </div>
                    </th>
                    <th [pSortableColumn]="UserSortField.Lastname">
                        <div class="flex gap-1 white-space-nowrap">
                            Last name <p-sortIcon [field]="UserSortField.Lastname" />
                        </div>
                    </th>
                    <th>Group</th>
                    <th [pSortableColumn]="UserSortField.AuthMethod">
                        <div class="flex gap-1">Authentication <p-sortIcon [field]="UserSortField.AuthMethod" /></div>
                    </th>
                    <th [pSortableColumn]="UserSortField.ExternalId">
                        <div class="flex gap-1 white-space-nowrap">
                            External ID <p-sortIcon [field]="UserSortField.ExternalId" />
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-u>
                <tr>
                    <td align="center">
                        <a routerLink="/users/{{ u.id }}">{{ u.login | placeholder }}</a>
                        <sup *ngIf="auth.currentUserValue.id === u.id"
                            ><p-tag styleClass="ml-1" severity="success" value="It's you"
                        /></sup>
                    </td>
                    <td align="center">
                        <a routerLink="/users/{{ u.id }}">{{ u.email | placeholder }}</a>
                    </td>
                    <td align="center">{{ u.name | placeholder }}</td>
                    <td align="center">{{ u.lastname | placeholder }}</td>
                    <td align="center">{{ getGroupName(u.groups[0]) }}</td>
                    <td align="center">{{ u.authenticationMethodId }}</td>
                    <td align="center">{{ u.externalId | placeholder }}</td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="7">
                        No users found.
                        @if (tableHasFilter(table)) {
                            <span>
                                Clear filtering and try again.
                                <p-button
                                    label="Clear"
                                    [outlined]="true"
                                    icon="pi pi-filter-slash"
                                    (click)="clearTableFiltering()"
                                ></p-button>
                            </span>
                        }
                    </td>
                </tr>
            </ng-template>
            <ng-template #paginatorright let-state>
                Total: {{ state.totalRecords > 0 ? state.totalRecords : '0' }}
                {{ state.totalRecords === 1 ? 'user' : 'users' }}
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template #entityTab let-user let-onUserEditBegin="beginEntityEditFn">
        <div appAccessEntity="user">
            <div class="grid mt-2 max-w-50rem">
                <div class="col-12 sm:col-3">
                    <b>ID:</b>
                </div>
                <div class="col-12 sm:col-9 word-break-all">
                    {{ user.id }}
                </div>
                <div class="col-12 sm:col-3">
                    <b>Login:</b>
                </div>
                <div class="col-12 sm:col-9 word-break-all">
                    {{ user.login }}
                </div>
                <div class="col-12 sm:col-3">
                    <b>Email:</b>
                </div>
                <div class="col-12 sm:col-9 word-break-all">
                    {{ user.email | placeholder }}
                </div>
                <div class="col-12 sm:col-3">
                    <b>Last name:</b>
                </div>
                <div class="col-12 sm:col-9">
                    {{ user.lastname | placeholder }}
                </div>
                <div class="col-12 sm:col-3">
                    <b>First name:</b>
                </div>
                <div class="col-12 sm:col-9">
                    {{ user.name | placeholder }}
                </div>
                <div class="col-12 sm:col-3">
                    <b>Group:</b>
                </div>
                <div class="col-12 sm:col-9">
                    {{ getGroupName(user.groups[0]) }}
                </div>
                <div class="col-12 sm:col-3">
                    <b>Authentication:</b>
                </div>
                <div class="col-12 sm:col-9 word-break-all">
                    {{ user.authenticationMethodId }}
                </div>
                <div class="col-12 sm:col-3">
                    <b>External ID:</b>
                </div>
                <div class="col-12 sm:col-9 word-break-all">
                    {{ user.externalId | placeholder }}
                </div>
                <ng-container *ngIf="isInternalUser(user)">
                    <div class="col-12 sm:col-3">
                        <b>Needs to change password:</b>
                    </div>
                    <div class="col-12 sm:col-9">
                        <p-checkbox
                            [ngModel]="user.changePassword"
                            [binary]="true"
                            [disabled]="true"
                            [readonly]="true"
                        />
                    </div>
                </ng-container>
                <div class="col-12 flex gap-3">
                    <p-button
                        label="Edit"
                        id="edit-user-button"
                        icon="pi pi-pencil"
                        (click)="onUserEditBegin(user.id)"
                        appAccessEntity="users"
                        appAccessType="update"
                    ></p-button>
                    <p-button
                        label="Delete"
                        severity="danger"
                        id="delete-user-button"
                        icon="pi pi-trash"
                        (click)="confirmDeleteUser(user.id)"
                        appAccessEntity="user"
                        appAccessType="delete"
                    ></p-button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template
        #formTab
        let-user
        let-tabForm="tabForm"
        let-tabType="tabType"
        let-onUserFormSubmit="submitFormFn"
        let-onUserFormCancel="cancelFormFn"
    >
        <div class="max-w-100rem">
            <app-user-form
                [user]="user"
                [formState]="tabForm.formState"
                [tabType]="tabType"
                (formSubmit)="onUserFormSubmit($event, $event.user?.id)"
                (formCancel)="onUserFormCancel(tabType, user?.id)"
                [groups]="groups"
            >
            </app-user-form>
        </div>
    </ng-template>
</app-tab-view>
