@if (label() && inputID()) {
    <label [for]="inputID()" class="mr-1">{{ label() }}</label>
}
<p-checkbox
    [inputId]="inputID()"
    [indeterminate]="value() === null"
    [ngModel]="value()"
    [disabled]="disabled()"
    (click)="onClick($event)"
    (keydown)="onKeyDown($event)"
    [binary]="true"
>
    <ng-template #checkboxicon>
        @if (value() === true) {
            <CheckIcon [styleClass]="'p-checkbox-icon'" [attr.data-pc-section]="'icon'" />
        } @else if (value() === false) {
            <TimesIcon [styleClass]="'p-checkbox-icon'" [attr.data-pc-section]="'icon'" />
        }
    </ng-template>
</p-checkbox>
