@if (label() && inputID()) {
    <label [for]="inputID()" class="mr-1">{{ label() }}</label>
}
<p-checkbox
    [inputId]="inputID()"
    [indeterminate]="value() === null"
    [ngModel]="value()"
    [disabled]="disabled() || _disabled()"
    (click)="onClick($event)"
    (keydown)="onKeyDown($event)"
    [binary]="true"
    [name]="name()"
>
    <ng-template #checkboxicon>
        @if (value() === true) {
            <svg data-p-icon="check" />
        } @else if (value() === false) {
            <svg data-p-icon="times" />
        }
    </ng-template>
</p-checkbox>
