<!-- Object type containing named values. -->
@if (isParameterObject) {
    <div>
        @if (parameterObjectHasValues) {
            <ul class="list-none pl-0 mt-0 mb-0">
                @for (subp of parameterAsRecord | keyvalue; track subp) {
                    <li>
                        {{ subp.key | unhyphen | uncamel }}:
                        <span class="text-color-secondary monospace">{{ subp.value | placeholder }}</span>
                    </li>
                }
            </ul>
        } @else {
            <span class="text-color-secondary monospace">{{ null | placeholder }}</span>
        }
    </div>
}
<!-- Show placeholder when object includes no explicit values. -->

<!-- Array containing a collection of values. -->
@if (isParameterArray) {
    <span>
        @if (parameterAsArray?.length > 0) {
            <ul class="list-none pl-0 mt-0 mb-0">
                @for (subp of parameterAsArray; track subp) {
                    <li>
                        <span class="text-color-secondary monospace">{{ subp | placeholder }}</span>
                    </li>
                }
            </ul>
        } @else {
            <span class="text-color-secondary monospace">{{ [] | placeholder }}</span>
        }
    </span>
}
<!-- Show placeholder when an array includes no values. -->

<!-- Basic type, such as string, number etc. -->
@if (isParameterBasicType) {
    <span class="text-color-secondary monospace">{{ parameterAsAny | placeholder }}</span>
}
