<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <p-button
        label="New Subnet"
        icon="pi pi-plus"
        routerLink="/dhcp/subnets/new"
        appAccessEntity="subnet"
        appAccessType="create"
    ></p-button>
    <p-button
        label="Refresh List"
        icon="pi pi-refresh"
        (onClick)="loadData(subnetsTable.createLazyLoadMetadata())"
    ></p-button>
</div>

<p-table
    #subnetsTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="rows"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{currentPage} of {totalPages} pages"
    [stripedRows]="true"
    stateStorage="local"
    (rowsChange)="storeTableRowsPerPage($event)"
    class="full-w-table"
    [tableStyle]="{ 'min-width': '20rem' }"
    styleClass="xxl:datatable-responsive"
>
    <ng-template #caption>
        <p-panel #filtersPanel [toggleable]="true" styleClass="p-panel-icons-hidden">
            <ng-template #header>
                <div class="flex align-items-center gap-2">
                    <p-button
                        [text]="true"
                        [rounded]="true"
                        severity="secondary"
                        [icon]="!filtersPanel.collapsed ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        (click)="filtersPanel.toggle($event)"
                    />
                    <i class="pi pi-filter"></i>
                    <span class="font-bold">Filters</span>
                    <p-tag
                        icon="pi pi-check"
                        value="Filter applied"
                        severity="success"
                        *ngIf="tableHasFilter(subnetsTable)"
                    ></p-tag>
                    <app-help-tip subject="filtering" id="filtering-help-button">
                        <p>
                            The table below can be filtered by entering text in the search box; the table shows all
                            subnets matching the filter text. The currently supported fields for filtering are:
                        </p>
                        <ul>
                            <li>Subnet Prefix</li>
                            <li>Lower and Upper Bound of Pools</li>
                            <li>Shared Network Name</li>
                            <li>Subnet Name</li>
                        </ul>
                        <p>
                            The table can present subnets that meet certain criteria, e.g. "192.0" will show all subnets
                            that contain 192.0 octets. You can also filter by shared network name and/or pools.
                        </p>
                        <p>
                            Subnets can also be filtered by an explicitly selected field, using text input and dropdown
                            filters. The currently supported fields for explicit filtering are:
                        </p>
                        <ul>
                            <li>Kea App ID</li>
                            <li>Subnet ID - the subnet ID assigned in the Kea DHCP daemon configuration</li>
                            <li>DHCP Version</li>
                        </ul>
                    </app-help-tip>
                </div>
            </ng-template>
            <div class="flex flex-wrap gap-2 row-gap-3 mt-3 align-items-center">
                <p-button
                    label="Clear"
                    [severity]="tableHasFilter(subnetsTable) ? 'info' : 'secondary'"
                    icon="pi pi-filter-slash"
                    (click)="clearTableFiltering()"
                    [disabled]="!tableHasFilter(subnetsTable)"
                ></p-button>
                <div class="flex-auto"></div>
                <p-columnFilter field="appId" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <p-floatlabel variant="on">
                                <p-inputNumber
                                    inputId="app-id"
                                    mode="decimal"
                                    [useGrouping]="false"
                                    min="1"
                                    (onInput)="filterTable($event.value === 0 ? 1 : $event.value, filterMetadata)"
                                    [ngModel]="value"
                                    class="max-w-8rem"
                                ></p-inputNumber>
                                <label for="app-id">Kea App ID</label>
                            </p-floatlabel>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="subnetId" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <p-floatlabel variant="on">
                                <p-inputNumber
                                    inputId="subnet-id"
                                    mode="decimal"
                                    [useGrouping]="false"
                                    min="1"
                                    (onInput)="filterTable($event.value === 0 ? 1 : $event.value, filterMetadata)"
                                    [ngModel]="value"
                                    class="max-w-8rem"
                                ></p-inputNumber>
                                <label for="subnet-id">Subnet ID</label>
                            </p-floatlabel>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="dhcpVersion" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <p-floatlabel variant="on">
                                <p-select
                                    inputId="dhcp-version"
                                    [options]="[
                                        { label: 'DHCPv4', value: '4' },
                                        { label: 'DHCPv6', value: '6' },
                                    ]"
                                    optionLabel="label"
                                    optionValue="value"
                                    (onChange)="filterTable($event.value, filterMetadata)"
                                    [ngModel]="value"
                                    styleClass="w-10rem"
                                ></p-select>
                                <label for="dhcp-version">DHCP Version</label>
                            </p-floatlabel>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="text" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex">
                            <p-iconfield iconPosition="left">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input
                                    class="max-w-13rem sm:max-w-20rem"
                                    pInputText
                                    type="text"
                                    (input)="filterTable($event.target.value, filterMetadata)"
                                    [ngModel]="value"
                                    placeholder="Search IP or identifier"
                                />
                            </p-iconfield>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
            </div>
        </p-panel>
    </ng-template>
    <ng-template #header>
        <tr>
            <th rowspan="2" [pSortableColumn]="SubnetSortField.Prefix">
                <div class="flex gap-1">Subnet<p-sortIcon [field]="SubnetSortField.Prefix" /></div>
            </th>
            <th rowspan="2" [pSortableColumn]="SubnetSortField.Name">
                <div class="flex gap-1">Name<p-sortIcon [field]="SubnetSortField.Name" /></div>
            </th>
            <th colspan="3">Addresses</th>
            <th colspan="3" *ngIf="ipV6SubnetsFilterIncluded()">Prefixes</th>
            <th rowspan="2">Pools</th>
            <th rowspan="2" [pSortableColumn]="SubnetSortField.SharedNetwork">
                <div class="flex gap-1 align-items-center">
                    Shared Network <p-sortIcon [field]="SubnetSortField.SharedNetwork" />
                </div>
            </th>
            <th colspan="2">Application</th>
            <th rowspan="2" *ngIf="grafanaUrl" pTooltip="Link to Grafana charts">
                <i class="pi pi-chart-line text-2xl"></i>
            </th>
        </tr>
        <tr>
            <th [pSortableColumn]="SubnetSortField.TotalAddresses">
                <div class="flex gap-1">
                    Total
                    <p-sortIcon [field]="SubnetSortField.TotalAddresses" />
                </div>
            </th>
            <th [pSortableColumn]="SubnetSortField.AssignedAddresses">
                <div class="flex gap-1">
                    Assigned
                    <p-sortIcon [field]="SubnetSortField.AssignedAddresses" />
                </div>
            </th>
            <th [pSortableColumn]="SubnetSortField.AddrUtilization">
                <div class="flex gap-1 white-space-nowrap">
                    Used % <p-sortIcon [field]="SubnetSortField.AddrUtilization" />
                </div>
            </th>
            <ng-container *ngIf="ipV6SubnetsFilterIncluded()">
                <th [pSortableColumn]="SubnetSortField.TotalPds">
                    <div class="flex gap-1">Total <p-sortIcon [field]="SubnetSortField.TotalPds" /></div>
                </th>
                <th [pSortableColumn]="SubnetSortField.AssignedPds">
                    <div class="flex gap-1">Assigned <p-sortIcon [field]="SubnetSortField.AssignedPds" /></div>
                </th>
                <th [pSortableColumn]="SubnetSortField.PdUtilization">
                    <div class="flex gap-1 white-space-nowrap">
                        Used % <p-sortIcon [field]="SubnetSortField.PdUtilization" />
                    </div>
                </th>
            </ng-container>
            <th>Name</th>
            <th class="white-space-nowrap" [pSortableColumn]="SubnetSortField.KeaSubnetId">
                <div class="flex gap-1">Kea Subnet ID<p-sortIcon [field]="SubnetSortField.KeaSubnetId" /></div>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-sn>
        <tr>
            <td>
                <app-subnet-bar [subnet]="sn"></app-subnet-bar>
            </td>
            <td>
                <div class="grid" *ngIf="hasAssignedMultipleSubnetNames(sn); else elseSingleSubnetName">
                    <div class="col-fixed flex flex-column">
                        <span *ngFor="let lsn of sn.localSubnets">
                            {{ lsn.userContext?.['subnet-name'] }}
                        </span>
                    </div>
                </div>
                <ng-template #elseSingleSubnetName>
                    <span>{{ sn.localSubnets?.[0].userContext?.['subnet-name'] }}</span>
                </ng-template>
            </td>
            <td>
                <app-human-count [value]="getTotalAddresses(sn)"></app-human-count>
            </td>
            <td>
                <app-human-count [value]="getAssignedAddresses(sn)"></app-human-count>
            </td>
            <td>
                {{ sn.addrUtilization ?? 0 | number: '1.0-1' }}%
                <i
                    *ngIf="sn.addrUtilization > 80 && sn.addrUtilization <= 90"
                    class="pi pi-exclamation-triangle text-2xl vertical-align-text-top text-orange-400"
                ></i>
                <i
                    *ngIf="sn.addrUtilization > 90"
                    class="pi pi-exclamation-circle text-2xl vertical-align-text-top text-red-500"
                ></i>
            </td>
            <ng-container *ngIf="ipV6SubnetsFilterIncluded()">
                <td>
                    <app-human-count [value]="getTotalDelegatedPrefixes(sn)"></app-human-count>
                </td>
                <td>
                    <app-human-count [value]="getAssignedDelegatedPrefixes(sn)"></app-human-count>
                </td>
                <td *ngIf="sn.subnet.includes(':')">
                    {{ sn.pdUtilization ?? 0 | number: '1.0-1' }}%
                    <i
                        *ngIf="sn.pdUtilization > 80 && sn.pdUtilization <= 90"
                        class="pi pi-exclamation-triangle text-2xl vertical-align-text-top text-orange-400"
                    ></i>
                    <i
                        *ngIf="sn.pdUtilization > 90"
                        class="pi pi-exclamation-circle text-2xl vertical-align-text-top text-red-500"
                    ></i>
                </td>
                <td *ngIf="sn.subnet.includes('.')">-</td>
            </ng-container>
            <td>
                <app-pool-bars [source]="sn"></app-pool-bars>
            </td>
            <td>
                {{ sn.sharedNetwork }}
            </td>
            <td>
                <div *ngFor="let lsn of sn.localSubnets">
                    <a routerLink="/apps/{{ lsn.appId }}" class="block">{{ lsn.appName }}</a>
                </div>
            </td>
            <td>
                <div class="grid" *ngIf="hasAssignedMultipleKeaSubnetIds(sn); else elseSingleKeaSubnetId">
                    <div class="col-fixed flex flex-column">
                        <span *ngFor="let lsn of sn.localSubnets">
                            {{ lsn.id }}
                        </span>
                    </div>
                    <div class="col-fixed flex align-items-center">
                        <p-message severity="error" text="Inconsistent IDs"></p-message>
                    </div>
                </div>
                <ng-template #elseSingleKeaSubnetId>
                    <span>{{ sn.localSubnets?.[0].id }}</span>
                </ng-template>
            </td>
            <td *ngIf="grafanaUrl">
                <a
                    [href]="
                        getGrafanaUrl(
                            sn.subnet?.includes('.') ? 'dhcp4' : 'dhcp6',
                            sn.localSubnets[0].id,
                            sn.localSubnets[0].machineHostname
                        )
                    "
                    [title]="getGrafanaTooltip(sn.localSubnets[0].id, sn.localSubnets[0].machineHostname)"
                    target="_blank"
                    *ngIf="sn.localSubnets?.[0]"
                >
                    <i class="pi pi-chart-line text-2xl"></i>
                </a>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td [attr.colspan]="emptyMessageColspan()">
                No subnets found.
                <span *ngIf="tableHasFilter(subnetsTable)">
                    Clear filtering and try again.
                    <p-button
                        label="Clear"
                        [outlined]="true"
                        icon="pi pi-filter-slash"
                        (click)="clearTableFiltering()"
                    ></p-button>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template #paginatorright let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'subnet' }}
    </ng-template>
</p-table>
