<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <div class="flex align-items-center flex-auto">
        <div *ngIf="filterTextFormatErrors?.length > 0">
            <small *ngFor="let err of filterTextFormatErrors" class="p-error block">{{ err }}</small>
        </div>
    </div>
    <a
        label="New Subnet"
        icon="pi pi-plus"
        class="block p-button p-button-primary no-underline"
        type="button"
        routerLink="/dhcp/subnets/new"
        pButton
    ></a>
    <p-button
        label="Refresh List"
        icon="pi pi-refresh"
        styleClass="block p-button-primary no-underline"
        (onClick)="reloadData(subnetsTable)"
    ></p-button>
</div>

<p-table
    #subnetsTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    (onStateRestore)="stateRestored($event, subnetsTable)"
    (onStateSave)="stateSaved(subnetsTable)"
    (onFilter)="onFilter()"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    stateStorage="session"
    [stateKey]="stateKey"
    [currentPageReportTemplate]="currentPageReportTemplate"
    styleClass="p-datatable-striped"
>
    <ng-template pTemplate="caption">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-filter"></i>
                    <span class="font-bold">Filters</span>
                    <p-tag
                        icon="pi pi-check"
                        value="Filter applied"
                        severity="success"
                        *ngIf="hasFilter(subnetsTable)"
                        [rounded]="true"
                    ></p-tag>
                    <app-help-tip subject="filtering" id="filtering-help-button">
                        <p>
                            The table below can be filtered by entering text in the search box; the table shows all
                            subnets matching the filter text. The currently supported fields for filtering are:
                        </p>
                        <ul>
                            <li>Subnet Prefix</li>
                            <li>Lower and Upper Bound of Pools</li>
                            <li>Shared Network Name</li>
                            <li>Subnet Name</li>
                        </ul>
                        <p>
                            The table can present subnets that meet certain criteria, e.g. "192.0" will show all subnets
                            that contain 192.0 octets. You can also filter by shared network name and/or pools.
                        </p>
                        <p>
                            Subnets can also be filtered by an explicitly selected field, using text input and dropdown
                            filters. The currently supported fields for explicit filtering are:
                        </p>
                        <ul>
                            <li>Kea App ID</li>
                            <li>Subnet ID - the subnet ID assigned in the Kea DHCP daemon configuration</li>
                            <li>DHCP Version</li>
                        </ul>
                    </app-help-tip>
                </div>
            </ng-template>
            <div class="flex flex-wrap gap-3 row-gap-5 mt-3 align-items-center">
                <button
                    pButton
                    label="Clear"
                    [class.p-button-warning]="hasFilter(subnetsTable)"
                    [class.p-button-secondary]="!hasFilter(subnetsTable)"
                    icon="pi pi-filter-slash"
                    (click)="clearFilters(subnetsTable)"
                    [disabled]="!hasFilter(subnetsTable)"
                ></button>
                <div class="flex-auto"></div>
                <p-columnFilter field="appId" matchMode="equals" [showMenu]="false" [showClearButton]="!hasPrefilter()">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-float-label">
                            <p-inputNumber
                                inputId="app-id"
                                mode="decimal"
                                [useGrouping]="false"
                                (onInput)="filter($event.value)"
                                [ngModel]="value"
                                [disabled]="hasPrefilter()"
                            ></p-inputNumber>
                            <label for="app-id">Kea App ID</label>
                        </span>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="subnetId" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-float-label">
                            <p-inputNumber
                                inputId="subnet-id"
                                mode="decimal"
                                [useGrouping]="false"
                                (onInput)="filter($event.value)"
                                [ngModel]="value"
                            ></p-inputNumber>
                            <label for="subnet-id">Subnet ID</label>
                        </span>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="dhcpVersion" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-float-label">
                            <p-dropdown
                                inputId="dhcp-version"
                                [options]="[
                                    { label: 'DHCPv4', value: 4 },
                                    { label: 'DHCPv6', value: 6 },
                                ]"
                                optionLabel="label"
                                optionValue="value"
                                (onChange)="filter($event.value)"
                                [ngModel]="value"
                                styleClass="w-10rem"
                            ></p-dropdown>
                            <label for="dhcp-version">DHCP Version</label>
                        </span>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="text" matchMode="contains" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="filter($event.target.value)"
                                [ngModel]="value"
                                placeholder="Search IP or identifier"
                            />
                        </span>
                    </ng-template>
                </p-columnFilter>
            </div>
        </p-panel>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th rowspan="2">Subnet</th>
            <th rowspan="2" *ngIf="isAnySubnetWithNameVisible">Name</th>
            <th colspan="3">Addresses</th>
            <th colspan="3" *ngIf="isAnyIPv6SubnetVisible">Prefixes</th>
            <th rowspan="2">Pools</th>
            <th rowspan="2">Shared Network</th>
            <th colspan="2">Application</th>
            <th rowspan="2" *ngIf="grafanaUrl" pTooltip="Link to Grafana charts">
                <i class="pi pi-chart-line text-2xl"></i>
            </th>
        </tr>
        <tr>
            <th>Total</th>
            <th class="px-2">Assigned</th>
            <th>Used %</th>
            <ng-container *ngIf="isAnyIPv6SubnetVisible">
                <th>Total</th>
                <th class="px-2">Assigned</th>
                <th>Used %</th>
            </ng-container>
            <th>Name</th>
            <th>Kea Subnet ID</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sn>
        <tr>
            <td>
                <app-subnet-bar [subnet]="sn"></app-subnet-bar>
            </td>
            <td *ngIf="isAnySubnetWithNameVisible">
                <div class="grid" *ngIf="hasAssignedMultipleSubnetNames(sn); else elseSingleSubnetName">
                    <div class="col-fixed flex flex-column">
                        <span *ngFor="let lsn of sn.localSubnets">
                            {{ lsn.userContext?.['subnet-name'] }}
                        </span>
                    </div>
                </div>
                <ng-template #elseSingleSubnetName>
                    <span>{{ sn.localSubnets?.[0].userContext?.['subnet-name'] }}</span>
                </ng-template>
            </td>
            <td>
                <app-human-count [value]="getTotalAddresses(sn)"></app-human-count>
            </td>
            <td>
                <app-human-count [value]="getAssignedAddresses(sn)"></app-human-count>
            </td>
            <td>
                {{ sn.addrUtilization ? sn.addrUtilization : '0' }} %
                <i
                    *ngIf="sn.addrUtilization > 80 && sn.addrUtilization <= 90"
                    class="pi pi-exclamation-triangle text-2xl vertical-align-text-top text-orange-400"
                ></i>
                <i
                    *ngIf="sn.addrUtilization > 90"
                    class="pi pi-exclamation-circle text-2xl vertical-align-text-top text-red-500"
                ></i>
            </td>
            <ng-container *ngIf="isAnyIPv6SubnetVisible">
                <td>
                    <app-human-count [value]="getTotalDelegatedPrefixes(sn)"></app-human-count>
                </td>
                <td>
                    <app-human-count [value]="getAssignedDelegatedPrefixes(sn)"></app-human-count>
                </td>
                <td *ngIf="sn.subnet.includes(':')">
                    {{ sn.pdUtilization ? sn.pdUtilization : '0' }} %
                    <i
                        *ngIf="sn.pdUtilization > 80 && sn.pdUtilization <= 90"
                        class="pi pi-exclamation-triangle text-2xl vertical-align-text-top text-orange-400"
                    ></i>
                    <i
                        *ngIf="sn.pdUtilization > 90"
                        class="pi pi-exclamation-circle text-2xl vertical-align-text-top text-red-500"
                    ></i>
                </td>
                <td *ngIf="sn.subnet.includes('.')">-</td>
            </ng-container>
            <td>
                <app-address-pool-bar *ngFor="let p of sn.pools" [pool]="p"></app-address-pool-bar>
                <app-delegated-prefix-bar
                    [prefix]="p"
                    *ngFor="let p of sn.prefixDelegationPools"
                ></app-delegated-prefix-bar>
            </td>
            <td>
                {{ sn.sharedNetwork }}
            </td>
            <td>
                <div *ngFor="let lsn of sn.localSubnets">
                    <a routerLink="/apps/kea/{{ lsn.appId }}" class="block">{{ lsn.appName }}</a>
                </div>
            </td>
            <td>
                <div class="grid" *ngIf="hasAssignedMultipleKeaSubnetIds(sn); else elseSingleKeaSubnetId">
                    <div class="col-fixed flex flex-column">
                        <span *ngFor="let lsn of sn.localSubnets">
                            {{ lsn.id }}
                        </span>
                    </div>
                    <div class="col-fixed flex align-items-center">
                        <p-message severity="error" text="Inconsistent IDs"></p-message>
                    </div>
                </div>
                <ng-template #elseSingleKeaSubnetId>
                    <span>{{ sn.localSubnets?.[0].id }}</span>
                </ng-template>
            </td>
            <td *ngIf="grafanaUrl">
                <a
                    [href]="
                        getGrafanaUrl(
                            sn.subnet?.includes('.') ? 'dhcp4' : 'dhcp6',
                            sn.localSubnets[0].id,
                            sn.localSubnets[0].machineHostname
                        )
                    "
                    [title]="getGrafanaTooltip(sn.localSubnets[0].id, sn.localSubnets[0].machineHostname)"
                    target="_blank"
                    *ngIf="sn.localSubnets?.[0]"
                >
                    <i class="pi pi-chart-line text-2xl"></i>
                </a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9">
                No subnets found.
                <span *ngIf="hasFilter(subnetsTable)">
                    Clear filtering and try again.
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearFilters(subnetsTable)"
                    ></button>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'subnet' }}
    </ng-template>
</p-table>
