<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays a raw configuration for the Kea daemon.</p>
    </div>
</app-breadcrumbs>

<p-panel styleClass="max-w-100rem">
    <ng-template #header>
        <div class="flex flex-wrap gap-2 w-full justify-content-end">
            <!-- Title -->
            <span class="panel-header__title flex-auto font-semibold">JSON</span>

            <!-- Collapse/expand button -->
            <p-button
                class="flex-none"
                icon="fa fa-expand-alt"
                label="Expand"
                (click)="onClickToggleNodes()"
                *ngIf="autoExpand === 'none'"
                [disabled]="configuration === null"
            ></p-button>
            <p-button
                class="flex-none"
                icon="fa fa-compress-alt"
                label="Collapse"
                (click)="onClickToggleNodes()"
                *ngIf="autoExpand === 'all'"
                [disabled]="configuration === null"
            ></p-button>

            <!-- Refresh button -->
            <p-button
                class="flex-none"
                icon="fa fa-sync"
                label="Refresh"
                (click)="onClickRefresh()"
                [disabled]="configuration === null && !failedFetch"
            ></p-button>

            <!-- Download button -->
            <a class="flex-none" [download]="downloadFilename" [href]="'/api/daemons/' + daemonId + '/config'">
                <p-button icon="fa fa-download" label="Download" [disabled]="configuration === null"></p-button>
            </a>
        </div>
    </ng-template>

    <!-- JSON viewer -->
    <app-json-tree-root *ngIf="!failedFetch" [value]="configuration" [autoExpand]="autoExpand"></app-json-tree-root>
    <p-message *ngIf="failedFetch" severity="warn" text="Fetching daemon configuration failed"></p-message>
</p-panel>
