<div style="margin: 0" class="p-grid">
    <div class="p-col-12" style="display: flex; justify-content: space-between">
        <div style="font-size: 1.1em; display: flex; align-items: center">
            The application is hosted on the machine:&nbsp;
            <a routerLink="/machines/{{ appTab.app.machine.id }}">{{ appTab.app.machine.address }}</a>
        </div>
        <button
            type="button"
            pButton
            label="Refresh App"
            id="refresh-app"
            icon="pi pi-refresh"
            (click)="refreshAppState()"
        ></button>
    </div>

    <div class="p-col-12">
        <p-tabView>
            <p-tabPanel *ngFor="let daemon of daemons">
                <ng-template pTemplate="header">
                    <div>
                        <span
                            class="pi {{ daemonStatusIconName(daemon) }}"
                            style="font-size: 1.6em; vertical-align: bottom; color: {{
                                daemonStatusIconColor(daemon)
                            }};"
                        ></span>
                        <span style="margin-right: 0.5em; font-weight: bold">
                            {{ daemon.niceName }}
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div class="p-grid" style="padding: 0">
                        <div class="p-col-6">
                            <div *ngIf="daemon.statusErred" class="p-col-12">
                                <p-message severity="error" [text]="daemonStatusErrorText(daemon)"></p-message>
                            </div>

                            <div class="p-col-12">
                                <h3>Overview</h3>
                                <table style="width: 100%">
                                    <tr>
                                        <td>Version</td>
                                        <td>{{ daemon.version }}</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top">Uptime</td>
                                        <td>{{ showDuration(daemon.uptime) }}</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top">Last Reloaded At</td>
                                        <td>{{ daemon.reloadedAt | localtime }}</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top">Number of Zones</td>
                                        <td>{{ daemon.zoneCount }}</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top">Query Hit Ratio</td>
                                        <td>
                                            <span
                                                pTooltip="Hits: {{ daemon.queryHits }}, Misses: {{
                                                    daemon.queryMisses
                                                }}"
                                            >
                                                {{ daemon.queryHitRatio ? getQueryUtilization(daemon) + '%' : '?' }}
                                                <i
                                                    *ngIf="getQueryUtilization(daemon) < 60"
                                                    class="pi pi-exclamation-triangle"
                                                    style="font-size: 1.5em; vertical-align: text-top; color: red"
                                                ></i>
                                                <i
                                                    *ngIf="
                                                        getQueryUtilization(daemon) >= 60 &&
                                                        getQueryUtilization(daemon) < 80
                                                    "
                                                    class="pi pi-exclamation-circle"
                                                    style="font-size: 1.5em; vertical-align: text-top; color: orange"
                                                ></i>
                                                <i
                                                    *ngIf="getQueryUtilization(daemon) >= 80"
                                                    class="pi pi-check-circle"
                                                    style="font-size: 1.5em; vertical-align: text-top; color: green"
                                                ></i>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
