<div style="margin: 0" class="grid">
    <app-rename-app-dialog
        [appId]="appTab.app.id"
        [appName]="appTab.app.name"
        [existingApps]="existingApps"
        [existingMachines]="existingMachines"
        [visible]="appRenameDialogVisible"
        (submitted)="handleRenameDialogSubmitted($event)"
        (hidden)="handleRenameDialogHidden()"
    >
    </app-rename-app-dialog>
    <div class="pl-0 pr-0 pb-4 col-12">
        <p-panel>
            <p-header>
                <div class="flex justify-content-between">
                    <div class="text-2xl font-bold text-primary-600">
                        <i class="fa fa-server pr-2"></i> {{ appTab.app.name }}
                        <i
                            *ngIf="!showRenameDialogClicked"
                            class="pi pi-pencil vertical-align-text-top ml-1 text-gray-400 cursor-pointer"
                            id="rename-app-icon"
                            (click)="showRenameAppDialog()"
                        ></i>
                        <p-progressSpinner
                            *ngIf="showRenameDialogClicked"
                            [style]="{ width: '25px', height: '25px' }"
                            styleClass="app-rename-spinner"
                            strokeWidth="6"
                        ></p-progressSpinner>
                    </div>
                    <button
                        type="button"
                        pButton
                        label="Refresh App"
                        id="refresh-app-button"
                        icon="pi pi-refresh"
                        (click)="refreshAppState()"
                    ></button>
                </div>
            </p-header>
            <app-app-overview [app]="appTab.app"></app-app-overview>
        </p-panel>
    </div>
    <div class="p-0 col-12">
        <p-tabView [activeIndex]="activeTabIndex">
            <p-tabPanel *ngFor="let daemon of daemons; let i = index" [selected]="i === activeTabIndex">
                <ng-template pTemplate="header">
                    <div>
                        <span
                            class="pi {{ daemonStatusIconName(daemon) }}"
                            style="font-size: 1.6em; vertical-align: bottom"
                        ></span>
                        <span style="margin-right: 0.5em; font-weight: bold">
                            {{ daemon.niceName }}
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div class="grid" style="padding: 0">
                        <div *ngIf="daemon.statusErred" class="col-6">
                            <p-message severity="error" [text]="daemonStatusErrorText(daemon)"></p-message>
                        </div>

                        <div class="col-12 xl:col-7">
                            <h3>Overview</h3>
                            <table style="width: 100%">
                                <tr>
                                    <td>Version</td>
                                    <td>{{ daemon.version }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">Uptime</td>
                                    <td>{{ showDuration(daemon.uptime) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">Last Reloaded At</td>
                                    <td>{{ daemon.reloadedAt | localtime | placeholder: 'never' }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">Number of Zones</td>
                                    <td>{{ daemon.zoneCount }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top">Query Hit Ratio</td>
                                    <td>
                                        <span pTooltip="Hits: {{ daemon.queryHits }}, Misses: {{ daemon.queryMisses }}">
                                            {{ daemon.queryHitRatio ? getQueryUtilization(daemon) + '%' : '?' }}
                                            <i
                                                *ngIf="getQueryUtilization(daemon) < 60"
                                                class="pi pi-exclamation-triangle text-2xl vertical-align-text-top text-red-500"
                                            ></i>
                                            <i
                                                *ngIf="
                                                    getQueryUtilization(daemon) >= 60 &&
                                                    getQueryUtilization(daemon) < 80
                                                "
                                                class="pi pi-exclamation-circle text-2xl vertical-align-text-top text-orange-400"
                                            ></i>
                                            <i
                                                *ngIf="getQueryUtilization(daemon) >= 80"
                                                class="pi pi-check-circle text-2xl vertical-align-text-top text-green-500"
                                            ></i>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- Events -->
                        <div class="col-12 xl:col-5">
                            <h3>Events</h3>
                            <app-events-panel
                                #eventsTable
                                [filter]="{
                                    machine: appTab.app.machine.id,
                                    appType: appTab.app.type
                                }"
                            ></app-events-panel>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
