<div style="margin: 0;" class="p-grid">
    <div class="p-col-12">
        <button
            type="button"
            pButton
            label="Refresh App"
            icon="pi pi-refresh"
            (click)="refreshAppState()"
            style="float: right;"
        ></button>
        <h3>BIND 9 App {{ appTab.app.id }}.</h3>
        Machine:
        <a routerLink="/machines/{{ appTab.app.machine.id }}">{{ appTab.app.machine.address }}</a>
    </div>

    <div class="p-col-12">
        <p-tabView>
            <p-tabPanel *ngFor="let daemon of daemons">
                <ng-template pTemplate="header">
                    <div>
                        <span style="margin-right: 0.5em; font-weight: bold;">
                            {{ daemon.niceName }}
                        </span>
                        <span
                            *ngIf="daemon.active"
                            class="pi pi-check"
                            style="font-size: 1.6em; vertical-align: bottom; color: #00df00;"
                        ></span>
                        <span
                            *ngIf="!daemon.active"
                            class="pi pi-exclamation-circle"
                            style="font-size: 1.6em; vertical-align: bottom; color: #f33;"
                        ></span>
                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div class="p-grid" style="padding: 0;">
                        <div class="p-col-6">
                            <div class="p-col-12">
                                <h4>Overview</h4>
                                <table style="width: 100%;">
                                    <tr>
                                        <td>Version</td>
                                        <td>{{ daemon.version }}</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">Uptime</td>
                                        <td>{{ showDuration(daemon.uptime) }}</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">Last Reloaded At</td>
                                        <td>{{ daemon.reloadedAt | localtime }}</td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: top;">Number of Zones</td>
                                        <td>{{ daemon.zoneCount }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
