<div [formGroup]="formGroup" class="p-d-flex p-flex-column">
    <div class="p-d-flex p-flex-column">
        <div *ngIf="topLevel; else showSuboptionInput">
            <span class="p-float-label">
                <p-dropdown
                    inputId="{{ codeInputId }}"
                    [autoDisplayFirst]="false"
                    [editable]="true"
                    [filter]="true"
                    filterBy="label"
                    [options]="v6 ? dhcp6Options : dhcp4Options"
                    styleClass="code-input-width"
                    formControlName="optionCode"
                    pTooltip="Use the dropdown to select an option from the list of standard options. If the option is not in the list, simply type its code (a number) in the box. When using the dropdown, it is possible to filter by option name or code."
                >
                </p-dropdown>
                <label for="{{ codeInputId }}">Select or Type Option Code</label>
            </span>
        </div>
        <ng-template #showSuboptionInput>
            <div>
                <span class="p-float-label">
                    <p-inputNumber
                        ngDefaultControl
                        inputId="{{ codeInputId }}"
                        min="1"
                        max="{{ v6 ? 65535 : 255 }}"
                        inputStyleClass="code-input-width"
                        formControlName="optionCode"
                        pTooltip="Enter a suboption code (a number)."
                    >
                    </p-inputNumber>
                    <label for="{{ codeInputId }}">Type Suboption Code</label>
                </span>
            </div>
        </ng-template>
        <div class="p-d-flex p-mt-1 p-ai-center">
            <div
                *ngIf="topLevel"
                class="p-ml-1 p-field-checkbox p-button-secondary p-button-sm p-button-text p-button p-mb-0"
            >
                <p-checkbox
                    ngDefaultControl
                    formControlName="alwaysSend"
                    [binary]="true"
                    inputId="{{ alwaysSendCheckboxId }}"
                    pTooltip="When checked, the option will always be returned to a DHCP client, regardless whether it is requested or not."
                ></p-checkbox>
                <label for="{{ alwaysSendCheckboxId }}">Always Send</label>
            </div>
            <div>
                <p-splitButton
                    label="{{ 'Add ' + lastFieldType }}"
                    [model]="fieldTypes"
                    pTooltip="Adds a new option field - a hex-bytes field or last added field type by default. Use the dropdown to select other type, if desired."
                    styleClass="p-button-secondary p-button-sm p-button-text"
                    (onClick)="lastFieldCommand()"
                >
                </p-splitButton>
            </div>
            <div class="p-ml-1">
                <button
                    pButton
                    type="button"
                    icon="pi pi-times"
                    [label]="topLevel ? 'Delete Option' : 'Delete Suboption'"
                    class="full-width p-button-sm p-button-danger p-button-text"
                    (click)="deleteOption()"
                ></button>
            </div>
        </div>
    </div>
    <div *ngIf="optionFields.length !== 0; else emptyOption" formArrayName="optionFields">
        <ng-container
            *ngFor="
                let fieldControl of optionFields.controls as DhcpOptionFieldFormGroup;
                let i = index;
                let first = first
            "
        >
            <div
                [ngSwitch]="fieldControl.data.fieldType"
                [ngClass]="{ 'p-d-flex': true, 'p-ai-top': true, 'p-ml-3': true, 'p-mt-4': first, 'p-mt-5': !first }"
            >
                <div *ngSwitchCase="FieldType.HexBytes" [formGroupName]="i">
                    <span class="p-float-label">
                        <textarea
                            id="{{ fieldControl.data.getInputId(0) }}"
                            rows="5"
                            cols="30"
                            pInputTextarea
                            autoResize="true"
                            class="option-field"
                            formControlName="control"
                        ></textarea>
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.String" [formGroupName]="i">
                    <span class="p-float-label">
                        <input
                            id="{{ fieldControl.data.getInputId(0) }}"
                            pInputText
                            class="option-field"
                            formControlName="control"
                        />
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.Bool" [formGroupName]="i">
                    <div id="{{ fieldControl.data.getInputId(0) }}" class="p-inputtext option-field p-p-0">
                        <p-toggleButton
                            pRipple
                            onLabel="True"
                            offLabel="False"
                            styleClass="p-button p-button-text p-button-secondary p-inputtext"
                            [style]="{ color: 'var(--text-color)' }"
                            formControlName="control"
                        >
                        </p-toggleButton>
                    </div>
                </div>
                <div *ngSwitchCase="FieldType.Uint8" [formGroupName]="i">
                    <span class="p-float-label">
                        <p-inputNumber
                            ngDefaultControl
                            inputId="{{ fieldControl.data.getInputId(0) }}"
                            min="0"
                            max="255"
                            inputStyleClass="option-field"
                            formControlName="control"
                        >
                        </p-inputNumber>
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.Uint16" [formGroupName]="i">
                    <span class="p-float-label">
                        <p-inputNumber
                            ngDefaultControl
                            inputId="{{ fieldControl.data.getInputId(0) }}"
                            min="0"
                            max="65535"
                            inputStyleClass="option-field"
                            formControlName="control"
                        >
                        </p-inputNumber>
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.Uint32" [formGroupName]="i">
                    <span class="p-float-label">
                        <p-inputNumber
                            ngDefaultControl
                            inputId="{{ fieldControl.data.getInputId(0) }}"
                            min="0"
                            max="4294967295"
                            inputStyleClass="option-field"
                            formControlName="control"
                        >
                        </p-inputNumber>
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.IPv4Address" [formGroupName]="i">
                    <span class="p-float-label">
                        <input
                            id="{{ fieldControl.data.getInputId(0) }}"
                            pInputText
                            class="option-field"
                            formControlName="control"
                        />
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.IPv6Address" [formGroupName]="i">
                    <span class="p-float-label">
                        <input
                            id="{{ fieldControl.data.getInputId(0) }}"
                            pInputText
                            class="option-field"
                            formControlName="control"
                        />
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.IPv6Prefix" class="p-d-flex" [formGroupName]="i">
                    <span class="p-float-label">
                        <input
                            id="{{ fieldControl.data.getInputId(0) }}"
                            pInputText
                            class="option-field"
                            formControlName="prefix"
                        />
                        <p-inputNumber
                            inputId="{{ fieldControl.data.getInputId(1) }}"
                            ngDefaultControl
                            min="1"
                            max="128"
                            inputStyleClass="p-ml-1 option-field prefix-length-width"
                            formControlName="prefixLength"
                        >
                        </p-inputNumber>
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.Psid" class="p-d-flex" [formGroupName]="i">
                    <span class="p-float-label">
                        <p-inputNumber
                            inputId="{{ fieldControl.data.getInputId(0) }}"
                            ngDefaultControl
                            min="0"
                            max="65535"
                            inputStyleClass="option-field"
                            formControlName="psid"
                        >
                        </p-inputNumber>
                        <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                        <p-inputNumber
                            inputId="{{ fieldControl.data.getInputId(1) }}"
                            ngDefaultControl
                            min="0"
                            max="16"
                            inputStyleClass="p-ml-1 option-field psid-length-width"
                            formControlName="psidLength"
                        >
                        </p-inputNumber>
                    </span>
                </div>
                <div *ngSwitchCase="FieldType.Fqdn" [formGroupName]="i">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input
                                id="{{ fieldControl.data.getInputId(0) }}"
                                pInputText
                                class="option-field"
                                formControlName="control"
                            />
                            <label for="{{ fieldControl.data.getInputId(0) }}">{{ fieldControl.data.fieldType }}</label>
                            <p-toggleButton
                                onLabel="Use Full FQDN "
                                offLabel="Use Partial FQDN"
                                styleClass="p-ml-1"
                                (onChange)="togglePartialFqdn($event, i)"
                            >
                            </p-toggleButton>
                        </span>
                    </div>
                </div>
                <div>
                    <div>
                        <button
                            pButton
                            type="button"
                            icon="pi pi-times"
                            class="full-width p-button-text p-button p-button-danger"
                            (click)="deleteField(i)"
                        ></button>
                    </div>
                    <div *ngIf="fieldControl.data.fieldType === FieldType.HexBytes">
                        <app-help-tip title="hex-bytes Option Field">
                            <p>
                                Option value can be specified as a string of the hexadecimal digits. The following
                                formats are accepted:
                            </p>
                            <ul>
                                <li>Capital letters, e.g., 1F:1E:AB:CE</li>
                                <li>Non-capital leters, e.g., 8f:6a:bc:78</li>
                                <li>Space as a separator, e.g., 87 68 af b8</li>
                                <li>Colon as a separator (see above)</li>
                                <li>No separator, e.g., 05F74FA6</li>
                            </ul>
                            <p>
                                The specified value must have even number of hexadecimal digits. Please prepend a
                                leading zero when necessary.
                            </p>
                        </app-help-tip>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-template #emptyOption>
        <div class="p-ml-3 p-mt-3">
            <p-tag
                icon="pi pi-info-circle"
                value="Empty Option"
                pTooltip="This option carries no data in its payload. It is fine for some options but most of them require some payload. You can use Add Payload button to add option fields."
                styleClass="empty-option-tag"
            ></p-tag>
        </div>
    </ng-template>
    <div class="p-ml-3 p-mt-5">
        <ng-container *ngIf="suboptions.length > 0">
            <app-dhcp-option-set-form
                v6="false"
                [formArray]="suboptions"
                [nestLevel]="nestLevel + 1"
            ></app-dhcp-option-set-form>
        </ng-container>
    </div>
</div>
