:host ::ng-deep
    .mixed-content
        // .mixed-content is a flex container which contains more than one form input.
        display: flex

        // Give full width but prevent from becoming too wide.
        width: 100%
        max-width: var(--max-form-width)
        min-width: 0

        // Flex items for PD and PSID forms. Prefix is wider and shrinkable.
        // Prefix len doesn't shrink and takes less space.
        .prefix
            flex: 1 1 16rem
            min-width: 0
        .prefix-len
            flex: 1 0 4rem
            min-width: 0

        // Any input inside should not take more width than 100% of parent width.
        input, .p-inputwrapper
            max-width: 100%

    .option-field
        border-style: dashed
        border-width: 1px

    .empty-option-tag
        &:hover
            cursor: help
            background: var(--p-inverted-300)

    @layer high
        .p-togglebutton.p-button
            // Overwrite default PrimeNG toggle button style.
            // PrimeNG Aura theme style of toggle button doesn't match with
            // dashed border of .option-field class.
            // This should be revised in the future,
            // whether custom style is still necessary.
            background: var(--p-surface-0)
            border-color: var(--p-surface-0)

            &.p-highlight
                background: var(--p-inverted-200)
                border-color: var(--p-inverted-200)

                &:hover
                    background: var(--p-inverted-300)
                    border-color: var(--p-inverted-300)

                & .p-button-label
                    background: inherit
                    border-color: inherit
                    box-shadow: none

            .p-button-label
                // Don't wrap button label when viewport shrinks.
                white-space: nowrap
