<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays configuration of the review checkers.</p>
    </div>
</app-breadcrumbs>

<p>
    The Stork has a built-in feature to review the daemon configuration. It detects
    misconfiguration or popular mistakes and produces suggestions on improving
    performance or maintainability. The review report is created using the
    configuration checkers. Each checker is responsible for detecting a single
    issue.
</p>
<p>
    Sometimes, the issue reported by the checker is expected, and the
    administrator decides to keep the configuration as-is. In this case, it may
    be helpful to disable a particular configuration checker to avoid creating
    unnecessary reports.
</p>
<p>
    You can use this page to disable some checkers globally for every Kea daemon.
    This configuration may be overwritten for a specific daemon on its daemon
    page under the configuration review section.
</p>

<app-config-checker-preference-updater></app-config-checker-preference-updater>
