<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays configuration of the review checkers.</p>
    </div>
</app-breadcrumbs>

<p>
    Description about this setting. Lorem ipsum dolor sit ament. 
    Lorem ipsum dolor sit ament. Lorem ipsum dolor sit ament. Lorem ipsum dolor sit ament. 
    Lorem ipsum dolor sit ament. Lorem ipsum dolor sit ament. Lorem ipsum dolor sit ament. 
    Lorem ipsum dolor sit ament. Lorem ipsum dolor sit ament. Lorem ipsum dolor sit ament. 
</p>

<app-config-checker-preference-updater></app-config-checker-preference-updater>