<p-confirmDialog styleClass="w-4"></p-confirmDialog>
<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays a list of apps.</p>
    </div>
</app-breadcrumbs>

<app-tab-view
    routePath="/apps/"
    [entityProvider]="appProvider"
    [tableQueryParamFilters]="{
        text: { type: 'string', matchMode: 'contains' },
        apps: { type: 'enum', matchMode: 'equals', arrayType: true, enumValues: ['kea', 'pdns', 'bind9'] },
    }"
>
    <ng-template #firstTab>
        <div class="my-2 flex gap-2 flex-wrap justify-content-end">
            <p-button
                id="apps-refresh-button"
                label="Refresh"
                icon="pi pi-refresh"
                (click)="refreshAppsList()"
                class="flex-none"
            ></p-button>
            <p-button
                id="sync-kea-configs-button"
                label="Resynchronize Kea Configs"
                icon="pi pi-file-import"
                class="flex-none"
                severity="warn"
                (click)="onSyncKeaConfigs()"
                appAccessEntity="kea-config-hashes"
                appAccessType="delete"
            ></p-button>
        </div>
        <p-menu #appMenu [popup]="true" [model]="appMenuItems"></p-menu>
        <p-table
            #table
            [value]="apps"
            [paginator]="true"
            [rows]="rows"
            [lazy]="true"
            [loading]="dataLoading"
            (onLazyLoad)="loadApps($event)"
            [totalRecords]="totalApps"
            [rowsPerPageOptions]="[10, 30, 100]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{currentPage} of {totalPages} pages"
            [lazyLoadOnInit]="false"
            [stripedRows]="true"
            stateStorage="local"
            (rowsChange)="storeTableRowsPerPage($event)"
        >
            <ng-template #caption>
                <p-panel #filtersPanel [toggleable]="true" styleClass="p-panel-icons-hidden">
                    <ng-template #header>
                        <div class="flex align-items-center gap-2">
                            <p-button
                                [text]="true"
                                [rounded]="true"
                                severity="secondary"
                                [icon]="!filtersPanel.collapsed ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                (click)="filtersPanel.toggle($event)"
                            />
                            <i class="pi pi-filter"></i>
                            <span class="font-bold">Filters</span>
                            <p-tag
                                icon="pi pi-check"
                                value="Filter applied"
                                severity="success"
                                *ngIf="tableHasFilter(table)"
                            ></p-tag>
                            <app-help-tip subject="Filtering" id="filtering-help-button">
                                help for filtering to be written
                            </app-help-tip>
                        </div>
                    </ng-template>
                    <div class="flex flex-wrap gap-3 row-gap-5 mt-3 align-items-center">
                        <p-button
                            label="Clear"
                            [severity]="tableHasFilter(table) ? 'info' : 'secondary'"
                            icon="pi pi-filter-slash"
                            (click)="clearTableState()"
                            [disabled]="!tableHasFilter(table)"
                        ></p-button>
                        <div class="flex-auto"></div>
                        <p-columnFilter field="apps" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel>
                                        <p-multiSelect
                                            id="apps-input"
                                            [ngModel]="value"
                                            [options]="[
                                                { label: 'Kea', value: 'kea' },
                                                { label: 'BIND9', value: 'bind9' },
                                                { label: 'PowerDNS', value: 'pdns' },
                                            ]"
                                            (onChange)="filterTable($event.value, filterConstraint)"
                                            class="w-10rem"
                                        >
                                        </p-multiSelect>
                                        <label for="apps-input">App type</label>
                                    </p-floatlabel>
                                    <p-button
                                        icon="pi pi-filter-slash"
                                        [rounded]="true"
                                        [text]="true"
                                        severity="secondary"
                                        [styleClass]="value ? '' : 'hidden-space'"
                                        (onClick)="clearFilter(filterConstraint)"
                                    />
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter field="text" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex">
                                    <p-iconfield iconPosition="left">
                                        <p-inputicon>
                                            <i class="pi pi-search"></i>
                                        </p-inputicon>
                                        <input
                                            pInputText
                                            type="text"
                                            (input)="filterTable($event.target.value, filterConstraint)"
                                            [ngModel]="value"
                                            placeholder="Search apps"
                                        />
                                    </p-iconfield>
                                    <p-button
                                        icon="pi pi-filter-slash"
                                        [rounded]="true"
                                        [text]="true"
                                        severity="secondary"
                                        [styleClass]="value ? '' : 'hidden-space'"
                                        (onClick)="clearFilter(filterConstraint)"
                                    />
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </p-panel>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 14em">Name</th>
                    <th>Version</th>
                    <th>Status</th>
                    <th>Machine Address</th>
                    <th>Machine Hostname</th>
                    <th style="width: 4rem">Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-a>
                <tr>
                    <td>
                        <a routerLink="/apps/{{ a.id }}">{{ a.name }}</a>
                    </td>
                    <td>
                        <a routerLink="/apps/{{ a.id }}">{{ a.version }}</a>
                        <app-version-status [app]="a.type" [version]="a.version"></app-version-status>
                    </td>
                    <td>
                        <app-app-daemons-status [app]="a"></app-app-daemons-status>
                    </td>
                    <td>
                        <a routerLink="/machines/{{ a.machine.id }}">{{ a.machine.address }}</a>
                    </td>
                    <td>
                        <a routerLink="/machines/{{ a.machine.id }}">{{ a.machine.hostname }}</a>
                    </td>
                    <td>
                        <p-button
                            id="{{ 'menu-of-' + a.machine.id }}"
                            icon="pi pi-bars"
                            (click)="showAppMenu($event, a.id)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template #paginatorright let-state>
                Total: {{ state.totalRecords > 0 ? state.totalRecords : '0' }}
                {{ state.totalRecords === 1 ? 'app' : 'apps' }}
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="6">
                        No apps were found.
                        <span *ngIf="tableHasFilter(table)">
                            Clear filtering and try again.
                            <p-button
                                label="Clear"
                                [outlined]="true"
                                icon="pi pi-filter-slash"
                                (click)="clearTableState()"
                            ></p-button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template #entityTab let-app let-onRenameApp="updateTabTitleFn" let-onRefreshApp="updateTabEntityFn">
        <app-app-tab
            *ngIf="app.type === 'bind9' || app.type === 'pdns'"
            [appTab]="{ app: app }"
            (refreshApp)="onRefreshApp($event)"
            (renameApp)="onRenameApp(app.id, $event)"
        ></app-app-tab>
        <app-kea-app-tab
            *ngIf="app.type === 'kea'"
            [appTab]="{ app: app }"
            (refreshApp)="onRefreshApp($event)"
            (renameApp)="onRenameApp(app.id, $event)"
        ></app-kea-app-tab>
    </ng-template>
</app-tab-view>
