@layer high
  :host ::ng-deep
    // icons style on daemon tabs (when active and not)
    .disabled
      color: var(--p-gray-400)

    .icon-not-monitored
      color: var(--p-gray-400)

    .icon-not-active
      color: var(--p-red-500)

    .icon-ok
      color: var(--p-green-500)
