:host ::ng-deep
  // Use bigger font for panel headers.
  .p-panel-title
    font-size: 1.5rem

  #summary-table .p-datatable-tbody tr td:not(.row-toggle)
    // When responsive table stack layout is applied, customize table cells to wrap wide content for better visibility.
    // Do not apply the style to row toggles table cells.
    @media screen and (max-width: 48rem)
      flex-wrap: wrap
      gap: 0.5rem

  .header-message
    .p-message
      // Decrease vertical margins for p-messages component that are used in the view's header.
      // When the component is repeated one below another, the margins are too big.
      margin-top: 0.25rem
      margin-bottom: 0.25rem
