<div style="margin: 0;" class="p-grid">
    <div class="p-col-12">
        <button
            type="button"
            pButton
            label="Refresh App"
            icon="pi pi-refresh"
            (click)="refreshAppState()"
            style="float: right;"
        ></button>
        <h3>Kea App {{ appTab.app.id }}.</h3>
        Machine:
        <a routerLink="/machines/{{ appTab.app.machine.id }}">{{ appTab.app.machine.address }}</a>
    </div>

    <div class="p-col-12" style="padding: 0;">
        <p-tabView [activeIndex]="activeTabIndex">
            <p-tabPanel *ngFor="let daemon of daemons">
                <ng-template pTemplate="header">
                    <div>
                        <span style="margin-right: 0.5em; font-weight: bold;">
                            {{ daemon.niceName }}
                        </span>
                        <span
                            *ngIf="daemon.active"
                            class="pi pi-check"
                            style="font-size: 1.6em; vertical-align: bottom; color: #00df00;"
                        ></span>
                        <span
                            *ngIf="!daemon.active"
                            class="pi pi-exclamation-circle"
                            style="font-size: 1.6em; vertical-align: bottom; color: #f33;"
                        ></span>
                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div class="p-grid" style="padding: 0;">
                        <div class="p-col-12">
                            <button
                                routerLink="/dhcp/hosts"
                                [queryParams]="{ appId: appTab.app.id }"
                                label="Hosts Reservations"
                                icon="fa fa-laptop"
                                class="ui-button-secondary"
                                type="button"
                                pButton
                                style="margin-right: 16px;"
                            ></button>
                            <button
                                routerLink="/dhcp/subnets"
                                [queryParams]="{ appId: appTab.app.id }"
                                label="Subnets"
                                icon="fa fa-project-diagram"
                                type="button"
                                class="ui-button-secondary"
                                pButton
                                style="margin-right: 16px;"
                            ></button>
                            <button
                                routerLink="/dhcp/shared-networks"
                                [queryParams]="{ appId: appTab.app.id }"
                                label="Shared Networks"
                                icon="fa fa-network-wired"
                                class="ui-button-secondary"
                                type="button"
                                pButton
                            ></button>
                        </div>

                        <div class="p-col-4">
                            <h4 style="margin-top: 2px;">Overview</h4>
                            <table style="width: 100%;">
                                <tr>
                                    <td>Version</td>
                                    <td>{{ daemon.version }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Version Ext</td>
                                    <td [innerHTML]="daemon.extendedVersion"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Hooks</td>
                                    <td>
                                        <div *ngFor="let hook of daemon.hooks">
                                            {{ hook }}
                                        </div>
                                        <div *ngIf="daemon.hooks.length === 0" style="color: #aaa;">
                                            no hooks
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Uptime</td>
                                    <td>{{ showDuration(daemon.uptime) }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">Last Reloaded At</td>
                                    <td>{{ daemon.reloadedAt | localtime }}</td>
                                </tr>
                            </table>
                        </div>

                        <div *ngIf="daemon.name === 'dhcp4' || daemon.name === 'dhcp6'" class="p-col-4">
                            <app-ha-status [appId]="appTab.app.id" [daemonName]="daemon.name"></app-ha-status>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
