<div style="margin: 0;" class="p-grid">
    <div class="p-col-12">
        <button
            type="button"
            pButton
            label="Refresh App"
            icon="pi pi-refresh"
            (click)="refreshAppState()"
            style="float: right;"
        ></button>
        <h2>Kea App {{ appTab.app.id }}.</h2>
        Machine:
        <a routerLink="/machines/{{ appTab.app.machine.id }}">{{ appTab.app.machine.address }}</a>
    </div>

    <div class="p-col-12" style="padding: 0;">
        <p-tabView [activeIndex]="activeTabIndex" styleClass="daemon-tabs" class="daemon-tabs" ngClass="daemon-tabs">
            <p-tabPanel
                *ngFor="let daemon of daemons"
                styleClass="daemon-tabs"
                class="daemon-tabs"
                ngClass="daemon-tabs"
            >
                <ng-template pTemplate="header">
                    <div>
                        <span
                            class="pi {{ daemonStatusIconName(daemon) }}"
                            style="font-size: 1.6em; vertical-align: bottom; font-weight: bold;"
                        ></span>
                        <span style="margin-right: 0.5em; font-weight: bold;">
                            {{ daemon.niceName }}
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div style="background: #d9d9d9; padding: 10px; width: 100%;">
                        <span style="display: inline-block; margin-right: 30px; padding: 0.4em 0;">
                            <p-inputSwitch
                                [ngModel]="daemon.monitored"
                                (onChange)="changeMonitored(daemon)"
                                [style]="{ 'vertical-align': 'middle', 'margin-right': '8px' }"
                            ></p-inputSwitch>
                            <span>Monitoring</span>
                        </span>
                        <button
                            *ngIf="daemon.name === 'dhcp4' || daemon.name === 'dhcp6'"
                            routerLink="/dhcp/hosts"
                            [queryParams]="{ appId: appTab.app.id }"
                            label="Host Reservations"
                            icon="fa fa-laptop"
                            class="ui-button-secondary"
                            type="button"
                            pButton
                            style="margin-right: 16px;"
                        ></button>
                        <button
                            *ngIf="daemon.name === 'dhcp4' || daemon.name === 'dhcp6'"
                            routerLink="/dhcp/subnets"
                            [queryParams]="{ appId: appTab.app.id }"
                            label="Subnets"
                            icon="fa fa-project-diagram"
                            type="button"
                            class="ui-button-secondary"
                            pButton
                            style="margin-right: 16px;"
                        ></button>
                        <button
                            *ngIf="daemon.name === 'dhcp4' || daemon.name === 'dhcp6'"
                            routerLink="/dhcp/shared-networks"
                            [queryParams]="{ appId: appTab.app.id }"
                            label="Shared Networks"
                            icon="fa fa-network-wired"
                            class="ui-button-secondary"
                            type="button"
                            pButton
                        ></button>
                    </div>

                    <div class="p-grid" style="padding: 12px;">
                        <div *ngIf="daemon.statusErred" class="p-col-4">
                            <p-message severity="error" text="{{ daemonStatusErrorText(daemon) }}"></p-message>
                        </div>
                        <div *ngIf="daemon.statusErred" class="p-col-8"></div>

                        <!-- warning about not-active and not-monitored -->
                        <div *ngIf="!daemon.active" class="p-col-4">
                            <p-message
                                *ngIf="!daemon.monitored"
                                severity="warn"
                                text="This daemon is currently not monitored by Stork.
                                      The daemon was either manually disabled or it was never running correctly
                                      (was never active) since it was added to Stork server. The configuration
                                      for this daemon was detected in the Kea Control Agent's configuration
                                      file. That's why it appears on the list of daemons."
                            >
                            </p-message>
                            <p-message
                                *ngIf="daemon.monitored"
                                severity="error"
                                text="There is observed issue in communication with the daemon."
                            >
                            </p-message>
                        </div>
                        <!-- fill horizontally all 12 cols -->
                        <div *ngIf="!daemon.active" class="p-col-8"></div>

                        <!-- Overview -->
                        <div class="p-col-4" [ngClass]="{ disabled: !daemon.active }">
                            <h3 style="margin-top: 2px;">Overview</h3>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 10rem;">Version</td>
                                    <td>{{ daemon.version }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 10rem; vertical-align: top;">Version Ext</td>
                                    <td [innerHTML]="daemon.extendedVersion"></td>
                                </tr>
                                <tr>
                                    <td style="with: 10rem; vertical-align: top;">Hooks</td>
                                    <td>
                                        <div *ngFor="let hook of daemon.hooks">
                                            {{ hook }}
                                        </div>
                                        <div *ngIf="daemon.hooks.length === 0" style="color: #aaa;">
                                            no hooks
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 10rem; vertical-align: top;">Uptime</td>
                                    <td>{{ showDuration(daemon.uptime) }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 10rem; vertical-align: top;">Last Reloaded At</td>
                                    <td>{{ daemon.reloadedAt | localtime }}</td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="daemon.active" class="p-col-7">
                            <h4 style="margin-top: 2px;">Loggers</h4>
                            <p-table [value]="daemon.logTargets">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 10rem;">Logger</th>
                                        <th style="width: 7rem;">Severity</th>
                                        <th style="width: 30rem;">Output Location</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-logTarget>
                                    <tr>
                                        <td>{{ logTarget.name }}</td>
                                        <td align="center">{{ logTarget.severity }}</td>
                                        <td>
                                            <i *ngIf="!logTargetViewable(logTarget.output)">{{ logTarget.output }}</i>
                                            <a
                                                *ngIf="logTargetViewable(logTarget.output)"
                                                routerLink="/logs/{{ logTarget.id }}"
                                                ><i>{{ logTarget.output }}</i></a
                                            >
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="3">
                                            No loggers found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                        <!-- High Availability -->
                        <div
                            *ngIf="daemon.name === 'dhcp4' || daemon.name === 'dhcp6'"
                            class="p-col-12"
                            [ngClass]="{ disabled: !daemon.active }"
                        >
                            <app-ha-status [appId]="appTab.app.id" [daemonName]="daemon.name"></app-ha-status>
                        </div>

                        <!-- Events -->
                        <div class="p-col-4">
                            <h3 style="margin-top: 2px;">Events</h3>
                            <app-events-panel #eventsTable [filter]="{ daemon: daemon.id }"></app-events-panel>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
