.disabled
  color: #999

// icons style on daemon tabs (when active and not)
.icon-not-monitored
  color: grey

:host ::ng-deep .p-tabview-selected .icon-not-monitored
  color: #d9d9d9

.icon-not-active
  color: #f11

:host ::ng-deep .p-tabview-selected .icon-not-active
  color: #ffa4a4

.icon-ok
  color: #00a800

:host ::ng-deep .p-tabview-selected .icon-ok
  color: #54ff45

// remove padding from daemon tabs panels so grey bar sticks to borders
:host ::ng-deep body .daemon-tabs.p-tabview .p-tabview-panels
  padding: 0

@keyframes p-progress-spinner-color
  0%
    stroke: #aaa
  100%
    stroke: #aaa

:host ::ng-deep .app-rename-spinner
  margin-left: 15px

// Remove padding from PrimeNG inplace elements so they don't overlap
// with each other.
:host ::ng-deep .word-break-all .p-inplace .p-inplace-display
  padding: 0

// Align the closing button of a PrimeNG inplace element in the middle, instead
// of at the default bottom, and make height and width equal to text size so
// that it doesn't expand the enclosing div.
:host ::ng-deep .word-break-all .p-button.p-button-icon-only
  height: 1rem
  vertical-align: middle
  width: 1rem

.word-break-all
  // Allows breaking long lines of text (hook name or Kea Version Ext) on small
  // screens to avoid overlapping on other UI blocks.
  word-break: break-all

.overflow-auto-col.grid > .col, .overflow-auto-col.grid > [class*="col"]
  // Enables a horizontal scrolling mechanism for x-overflowing boxes.
  // This improves UX on smaller screens.
  overflow-x: auto
