<p-confirmDialog styleClass="w-10 xl:w-4"></p-confirmDialog>
<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays a list of daemons.</p>
    </div>
</app-breadcrumbs>

<app-tab-view
    routePath="/daemons/"
    [entityProvider]="daemonProvider"
    [tableQueryParamFilters]="{
        text: { type: 'string', matchMode: 'contains' },
        daemons: {
            type: 'enum',
            matchMode: 'equals',
            arrayType: true,
            enumValues: ['dhcp4', 'dhcp6', 'd2', 'ca', 'netconf', 'named', 'pdns'],
        },
    }"
    [entitiesTable]="daemonsTable"
    [entityTitleProvider]="tabTitleProvider"
>
    <ng-template #firstTab>
        <p-menu #daemonMenu [popup]="true" [model]="daemonMenuItems"></p-menu>
        <p-table
            #table
            [value]="daemons"
            [paginator]="true"
            [rows]="rows"
            [lazy]="true"
            [loading]="dataLoading"
            (onLazyLoad)="loadDaemons($event)"
            [totalRecords]="totalDaemons"
            [rowsPerPageOptions]="[10, 30, 100]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{currentPage} of {totalPages} pages"
            [lazyLoadOnInit]="false"
            [stripedRows]="true"
            stateStorage="local"
            (rowsChange)="storeTableRowsPerPage($event)"
            class="full-w-table"
        >
            <ng-template #caption>
                <app-table-caption [tableElement]="table" tableKey="daemons-table">
                    <ng-template #helptip>
                        <p>
                            Daemons in the table below can be filtered by entering text in the search box; the table
                            shows all daemons matching the filter text. The currently supported fields for filtering
                            are:
                        </p>
                        <ul>
                            <li>Daemon Name</li>
                            <li>Daemon Version</li>
                            <li>Machine Address</li>
                            <li>Machine Hostname</li>
                        </ul>
                        <p>
                            Daemons can also be filtered by an explicitly selected Daemon Name, using the multiselect
                            filter.
                        </p>
                    </ng-template>
                    <ng-template #filters>
                        <p-columnFilter field="daemons" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel variant="on">
                                        <p-multiSelect
                                            id="daemons-input"
                                            [ngModel]="value"
                                            [options]="[
                                                { label: 'BIND9', value: 'named' },
                                                { label: 'Kea DHCPv4', value: 'dhcp4' },
                                                { label: 'Kea DHCPv6', value: 'dhcp6' },
                                                { label: 'Kea D2', value: 'd2' },
                                                { label: 'Kea CA', value: 'ca' },
                                                { label: 'Kea NETCONF', value: 'netconf' },
                                                { label: 'PowerDNS', value: 'pdns' },
                                            ]"
                                            (onChange)="filterTable($event.value, filterConstraint)"
                                            class="w-10rem"
                                        >
                                        </p-multiSelect>
                                        <label for="daemons-input">Daemon Name</label>
                                    </p-floatlabel>
                                    <p-button
                                        icon="pi pi-filter-slash"
                                        [rounded]="true"
                                        [text]="true"
                                        severity="secondary"
                                        [styleClass]="value ? '' : 'hidden-space'"
                                        (onClick)="clearFilter(filterConstraint)"
                                    />
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter field="text" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex">
                                    <p-iconfield iconPosition="left">
                                        <p-inputicon>
                                            <i class="pi pi-search"></i>
                                        </p-inputicon>
                                        <input
                                            class="max-w-13rem sm:max-w-20rem"
                                            pInputText
                                            type="text"
                                            (input)="filterTable($event.target.value, filterConstraint)"
                                            [ngModel]="value"
                                            placeholder="Search daemons"
                                        />
                                    </p-iconfield>
                                    <p-button
                                        icon="pi pi-filter-slash"
                                        [rounded]="true"
                                        [text]="true"
                                        severity="secondary"
                                        [styleClass]="value ? '' : 'hidden-space'"
                                        (onClick)="clearFilter(filterConstraint)"
                                    />
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </ng-template>
                    <ng-template #buttons>
                        <p-button
                            id="sync-kea-configs-button"
                            label="Resynchronize Kea Configs"
                            icon="pi pi-file-import"
                            class="flex-none"
                            severity="warn"
                            (click)="onSyncKeaConfigs()"
                            appAccessEntity="kea-config-hashes"
                            appAccessType="delete"
                            (appHasAccess)="canResyncConfig.set($event)"
                        ></p-button>
                        <p-button
                            id="daemons-refresh-button"
                            label="Refresh List"
                            icon="pi pi-refresh"
                            (click)="refreshDaemonsList()"
                            class="flex-none"
                        ></p-button>
                    </ng-template>
                    <ng-template #splitbutton>
                        <p-splitbutton
                            label="Refresh List"
                            icon="pi pi-refresh"
                            (onClick)="refreshDaemonsList()"
                            [model]="toolbarButtons"
                            size="small"
                        />
                    </ng-template>
                </app-table-caption>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="width: 14em" [pSortableColumn]="DaemonSortField.Name">
                        <div class="flex gap-1">Daemon<p-sortIcon [field]="DaemonSortField.Name" /></div>
                    </th>
                    <th [pSortableColumn]="DaemonSortField.Version">
                        <div class="flex gap-1">Version<p-sortIcon [field]="DaemonSortField.Version" /></div>
                    </th>
                    <th>Status</th>
                    <th [pSortableColumn]="DaemonSortField.MachineHostname">
                        <div class="flex gap-1">Machine<p-sortIcon [field]="DaemonSortField.MachineHostname" /></div>
                    </th>
                    <th style="width: 4rem">Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-d>
                <tr>
                    <td>
                        <app-entity-link entity="daemon" [showEntityName]="false" [attrs]="d"></app-entity-link>
                    </td>
                    <td>
                        <app-version-status [daemon]="d" [includeAnchor]="false"></app-version-status>
                    </td>
                    <td>
                        <span pTooltip="{{ daemonStatusIconTooltip(d) }}">
                            <i class="{{ daemonStatusIconClass(d) }} text-xl"></i>
                        </span>
                    </td>
                    <td>
                        <app-entity-link entity="machine" [showEntityName]="false" [attrs]="d"></app-entity-link>
                    </td>
                    <td>
                        <p-button
                            id="{{ 'menu-of-' + d.id }}"
                            icon="pi pi-bars"
                            (click)="showDaemonMenu($event, d.id)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template #paginatorright let-state>
                Total: {{ state.totalRecords > 0 ? state.totalRecords : '0' }}
                {{ state.totalRecords === 1 ? 'daemon' : 'daemons' }}
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="6">
                        No daemons were found.
                        <span *ngIf="tableHasFilter(table)">
                            Clear filtering and try again.
                            <p-button
                                label="Clear"
                                [outlined]="true"
                                icon="pi pi-filter-slash"
                                (click)="clearTableFiltering()"
                            ></p-button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template #entityTab let-daemon let-onRefreshDaemon="updateTabEntityFn" let-onDeleteDaemon="deleteEntityFn">
        <app-daemon-tab
            [daemon]="daemon"
            (refreshDaemon)="onRefreshDaemon($event)"
            (deleteDaemon)="onDeleteDaemon($event)"
        ></app-daemon-tab>
    </ng-template>
</app-tab-view>
