:host ::ng-deep .subnet-servers-table .p-datatable-thead tr th
    border-top: 1px solid #c8c8c8
    border-left: none
    border-right: none
    border-bottom: 1px solid #c8c8c8

:host ::ng-deep .subnet-servers-table .p-datatable-tbody tr td
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #c8c8c8
