:host ::ng-deep .subnet-servers-table .p-datatable-thead tr th
    border-top: 1px solid var(--surface-200)
    border-left: none
    border-right: none
    border-bottom: 1px solid var(--surface-200)

:host ::ng-deep .subnet-servers-table .p-datatable-tbody tr td
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid var(--surface-200)
