<span [ngSwitch]="entity" [ngClass]="'entity-link'" [class]="styleClass">
    <!-- daemon -->
    <ng-container *ngSwitchCase="'daemon'">
        {{ showEntityName ? 'daemon' : '' }}
        <a id="daemon-link-{{ attrs.daemonId || attrs.id }}" routerLink="/daemons/{{ attrs.daemonId || attrs.id }}">
            <!-- This entity link may be rendered by passing three different
                structures:
                - Daemon/AnyDaemon/KeaDaemon/DhcpDaemon/SimpleDaemon/BIND9Daemon/PdnsDaemon:
                    they provide 'id', 'name', and 'label' attributes.
                    They are usually used along with the machine entity link, so we avoid
                    printing the full label and use the name.
                - LocalSubnet/LocalSharedNetwork/LocalHost/LocalZone: they provide 'daemonId' and
                    'daemonLabel' attributes (note they also have their own 'id')
                - LeasesSearchErredDaemon: they provide 'id' and 'label' attributes -->
            [{{ attrs.daemonId || attrs.id }}]&nbsp;{{
                attrs.daemonLabel || (attrs.name | daemonNiceName) || attrs.label
            }}
        </a>
    </ng-container>

    <!-- machine -->
    <ng-container *ngSwitchCase="'machine'">
        {{ showEntityName ? 'machine' : '' }}
        <a id="machine-link" routerLink="/machines/{{ attrs.machineId || attrs.id }}">
            [{{ attrs.machineId || attrs.id }}]&nbsp;{{ attrs.machineLabel || attrs.label || attrs.address }}
        </a>
    </ng-container>

    <!-- subnet -->
    <ng-container *ngSwitchCase="'subnet'">
        {{ showEntityName ? 'subnet ' : '' }}
        <a id="subnet-link" routerLink="/dhcp/subnets/{{ attrs.id }}" class="white-space-nowrap">
            <!-- Subnet property is included in the API responses. -->
            <!-- Prefix property is included in the event content. -->
            {{ attrs.subnet || attrs.prefix }}
        </a>
    </ng-container>

    <!-- user -->
    <ng-container *ngSwitchCase="'user'">
        {{ showEntityName ? 'user' : '' }}
        <a id="user-link" routerLink="/users/{{ attrs.id }}">
            [{{ attrs.id }}]&nbsp;{{ attrs.login ? attrs.login : attrs.email }}
        </a>
    </ng-container>

    <!-- host reservation -->
    <ng-container *ngSwitchCase="'host'">
        {{ showEntityName ? 'host' : '' }}
        <a id="host-link" routerLink="/dhcp/hosts/{{ attrs.id }}">{{ attrs.label }}</a>
    </ng-container>

    <!-- shared network -->
    <ng-container *ngSwitchCase="'shared-network'">
        {{ showEntityName ? 'shared network' : '' }}
        <a id="shared-network-link" routerLink="/dhcp/shared-networks/{{ attrs.id }}">{{ attrs.name }}</a>
    </ng-container>

    <!-- unsupported -->
    <ng-container *ngSwitchDefault>{{ entity }}</ng-container>
</span>
