# Fix a problem with incompatibility between modern NPM and Storybook v6.5.16.
# npm 9.6.2 has peer dependency semantics which Storybook is incompatible with.
# More info: https://github.com/storybookjs/storybook/issues/18298   
# 2023-09-27: This workaround is still needed in NodeJS 18.18, NPM 9.8.1,
#             Storybook 7.4.5.
#
# ToDo: Remove this file after migrating to the next Storybook. The related bug
#       report in the Storybook repository is already closed and marked as
#       solved. Maybe we should remove and re-add the Storybook?
legacy-peer-deps=true
