# Fix a problem with incompatibility between NodeJS v18.15.0 and Storybook v6.5.16.
# npm 9.6.2 has peer dependency semantics which Storybook is incompatible with.
# More info: https://github.com/storybookjs/storybook/issues/18298   
legacy-peer-deps=true
