browserslist
nginx.conf
*~
*sass
.editorconfig
.gitignore
.prettierignore
*.sh
.gitkeep
src/app/backend/*
*.ico
*.png
dist
src/assets/arm
src/assets/pkgs
.angular
documentation.json
src/app/*.ts.template
.npmrc
.browserlistrc
