.hiding-column
  @media all and (max-width: 1350px)
    display: none

// Style group of buttons in a flex container.
.button-group
  display: flex
  align-items: center

// Set left and right margin to 10px for all buttons and divs inside of .button-group.
.button-group > button, .button-group > div
  margin-left: 20px
