<p-dialog header="New Machine" [(visible)]="newMachineDlgVisible">
  IP Address:
  <input type="text" pInputText [(ngModel)]="machineAddress" (keydown)="keyDownNewMachine(machinesTable, $event)"/>
  <p-footer>
    <button type="button" (click)="cancelNewMachine()" pButton icon="pi pi-times" label="Cancel"></button>
    <button type="button" (click)="addNewMachine(machinesTable)" pButton icon="pi pi-check" label="Add"></button>
  </p-footer>
</p-dialog>

<p-tabView [(activeIndex)]="activeTabIdx" (onChange)="tabChange($event)">
    <p-tabPanel header="Machines">
      <div style="display: flex; justify-content: space-between; margin: 10px;">
        <!-- <div> -->
        <!--   <span> -->
        <!--     <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
        <!--     Filter machines: -->
        <!--     <input type="text" pInputText [(ngModel)]="filterText" placeholder="name or ip" (keydown)="keyDownFilterText(machinesTable, $event)"/> -->
        <!--   </span> -->
        <!--   <span style="margin-left: 40px;"> -->
        <!--     Service: -->
        <!--     <p-dropdown [options]="serviceTypes" [(ngModel)]="selectedServiceType" optionLabel="name" (onChange)="filterByService(machinesTable)"></p-dropdown> -->
        <!--   </span> -->
        <!-- </div> -->
        <div style="display: flex;">
          <button type="button" pButton label="Add New Machine" icon="pi pi-plus" style="margin-right: 20px;" (click)="showNewMachineDlg()"></button>
          <!-- <button type="button" pButton label="Refresh" icon="pi pi-refresh" (click)="refresh(machinesTable)"></button> -->
        </div>
      </div>

      <div>

        <p-table
          #machinesTable
          [value]="machines"
          [paginator]="true"
          paginatorPosition="top"
          [rows]="10"
          [lazy]="true"
          (onLazyLoad)="loadMachines($event)"
          [totalRecords]="totalMachines"
          [rowsPerPageOptions]="[10, 30, 100]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="{currentPage} of {totalPages} pages">
          <ng-template pTemplate="header">
            <tr>
              <th>Hostname</th>
              <th style="width: 10rem;">IP Address</th>
              <th style="width: 7rem;">Agent Version</th>
              <th style="width: 7rem;">Service</th>
              <th style="width: 4rem;">CPUs</th>
              <th style="width: 8rem;">CPUs Load</th>
              <th style="width: 5rem;">Memory</th>
              <th style="width: 7rem;">Used Memory</th>
              <th style="width: 6rem;">Uptime</th>
              <th style="width: 10rem;">Last Visited</th>
              <th style="width: 13rem;">Error</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-m>
            <tr>
              <td><a routerLink="/machines/{{m.hostname}}">{{m.hostname}}</a></td>
              <td>{{m.address}}</td>
              <td>{{m.agentVersion}}</td>
              <td>{{m.service}}</td>
              <td>{{m.cpus}}</td>
              <td>{{m.cpusLoad}}</td>
              <td>{{m.memory}}</td>
              <td><p-progressBar [value]="m.usedMemory"></p-progressBar></td>
              <td>{{m.uptime || '?'}} days</td>
              <td>{{m.lastVisited | localtime}}</td>
              <td>{{m.error}}</td>
            </tr>
          </ng-template>
          <!-- <ng-template pTemplate="paginatorright" let-state> -->
          <!--   Total: {{state.totalRecords}} machines -->
          <!-- </ng-template> -->
        </p-table>

      </div>
    </p-tabPanel>

    <p-tabPanel [header]="m.hostname || m.address" *ngFor="let m of individualMachines; let i = index"> <!-- [selected]="i == 0">-->
      <table>
        <tr><td>Hostame</td><td>{{m.hostname}}</td></tr>
        <tr><td>IP Address</td><td>{{m.address}}</td></tr>
        <tr><td>Agent Version</td><td>{{m.agentVersion}}</td></tr>
<!--          <tr><td>Service</td><td>{{m.}}</td></tr>-->
        <tr><td>CPUs</td><td>{{m.cpus}}</td></tr>
        <tr><td>CPUs Load</td><td>{{m.cpusLoad}}</td></tr>
        <tr><td>Memory</td><td>{{m.memory || '?'}} GiB</td></tr>
        <tr><td>Used Memory</td><td>{{m.usedMemory}} %</td></tr>
        <tr><td>Uptime</td><td>{{m.uptime || '?'}} days</td></tr>
        <tr><td>OS</td><td>{{m.os}}</td></tr>
        <tr><td>Platform Family</td><td>{{m.platformFamily}}</td></tr>
        <tr><td>Platform</td><td>{{m.platform}}</td></tr>
        <tr><td>Platform Version</td><td>{{m.platformVersion}}</td></tr>
        <tr><td>Kernel Version</td><td>{{m.kernelVersion}}</td></tr>
        <tr><td>Kernel Arch</td><td>{{m.kernelArch}}</td></tr>
        <tr><td>Virtualization Role</td><td>{{m.virtualizationRole}}</td></tr>
        <tr *ngIf="m.virtualizationRole == 'guest'"><td>Virtualization System</td><td>{{m.virtualizationSystem}}</td></tr>
        <tr><td>Host ID</td><td>{{m.hostID}}</td></tr>
        <tr><td>Last Visited</td><td>{{m.lastVisited | localtime}}</td></tr>
        <tr><td>Error</td><td>{{m.error || '-' }}</td></tr>
      </table>
    </p-tabPanel>
</p-tabView>
