// format right content in paginator
::ng-deep .p-paginator .p-paginator-right-content
  margin-left: 20px
  color: #848484

.alternate-list:nth-child(2n)
  background-color: #f4f4f4

.hiding-column
  @media all and (max-width: 1350px)
    display: none
