<div appAccessEntity="migrations-hosts" appAccessType="create" [appHideIfNoAccess]="true">
    <p-confirmDialog key="migrationToDatabaseDialog">
        <ng-template #message>
            <div class="block ml-3 max-w-40rem message">
                <p>Are you sure you want to migrate host reservations to the database?</p>
                <p>
                    You are about to migrate host reservations defined in a configuration file to a database ("host
                    backend"). After the migration, hosts will be deleted from your configuration file and will be kept
                    in the database only. All the hosts selected by the current filter (including those on other pages,
                    if there are more hosts than fit on a single page) will be considered. Those that can't be migrated
                    (e.g. because they're already in a database or are in a conflicted state) will be skipped. The
                    migration is not instantaneous and will take some time.
                </p>
                <p>
                    The number of hosts to be migrated is <strong>{{ totalRecords }}</strong
                    >. They are selected by the following filter:
                </p>
                <div class="w-full">
                    <div *ngFor="let entry of migrationFilterEntries" class="flex flex-row gap-2">
                        <span class="font-bold text-right flex-1">{{ entry[0] }}</span>
                        <span class="flex-1">{{ entry[1] }}</span>
                    </div>
                </div>

                <p>
                    This operation will lock the related daemons for modifications. During the migration, the Stork
                    server will not synchronize the Kea data (i.e., the Kea configuration, subnets, shared networks,
                    host reservations).
                </p>
                <p>The migration can be canceled at any time.</p>
            </div>
        </ng-template>
    </p-confirmDialog>
</div>

<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <p-button
        label="Migrate to Database"
        icon="pi pi-database"
        [disabled]="!totalRecords || isFilteredByConflict() || !canStartMigration"
        styleClass="block p-button-primary no-underline"
        (onClick)="migrateToDatabaseAsk()"
        appAccessEntity="migrations-hosts"
        appAccessType="create"
        (appHasAccess)="canStartMigration = $event"
    ></p-button>

    <a
        label="New Host"
        icon="pi pi-plus"
        class="block p-button p-button-primary no-underline"
        type="button"
        routerLink="/dhcp/hosts/new"
        pButton
        appAccessEntity="host-reservation"
        appAccessType="create"
    ></a>
    <p-button
        label="Refresh List"
        icon="pi pi-refresh"
        styleClass="block p-button-primary no-underline"
        (onClick)="loadData(hostsTable.createLazyLoadMetadata())"
    ></p-button>
</div>
<p-table
    id="hosts-table"
    #hostsTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{currentPage} of {totalPages} pages"
    styleClass="p-datatable-striped"
>
    <ng-template #caption>
        <p-panel #filtersPanel [toggleable]="true" styleClass="p-panel-icons-hidden">
            <ng-template #header>
                <div class="flex align-items-center gap-2">
                    <p-button
                        type="button"
                        [text]="true"
                        [rounded]="true"
                        [plain]="true"
                        [icon]="!filtersPanel.collapsed ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        (click)="filtersPanel.toggle($event)"
                    />
                    <i class="pi pi-filter"></i>
                    <span class="font-bold">Filters</span>
                    <p-tag
                        icon="pi pi-check"
                        value="Filter applied"
                        severity="success"
                        *ngIf="tableHasFilter(hostsTable)"
                        [rounded]="true"
                    ></p-tag>
                    <app-help-tip subject="filtering" id="filtering-help-button" width="40vw">
                        <p>
                            Hosts in the table below can be filtered by entering text in the search box; the table shows
                            all hosts matching the filter text. The currently supported fields for filtering are:
                        </p>
                        <ul>
                            <li>Identifier</li>
                            <li>Identifier Type</li>
                            <li>Address</li>
                            <li>Hostname</li>
                        </ul>
                        <p>
                            Hosts can be filtered by their identifier value, e.g. <b>00:01:02:03:04:05</b>; a part of
                            the identifier (e.g. the initial three bytes of a MAC address that denotes OUI, a unique
                            identifier of the vendor, effectively showing all devices produced by the same vendor); or
                            identifier type (e.g. <b>hw-address</b> to show all reservations made by a MAC address).
                        </p>
                        <p>
                            Hosts can be also filtered by a full or partial IP address. For example, all reservations in
                            a 192.0.2.0/24 subnet can found by entering
                            <b>192.0.2</b> as the filter text.
                        </p>
                        <p>
                            The <b>Global</b> checkbox allows users to see global hosts (i.e. the hosts valid for all
                            subnets), hosts associated with specific subnets, or all hosts. When the box is clicked
                            once, the results show all DHCP identifiers set at the global level; when clicked a second
                            time, it excludes the global hosts and shows only hosts that are associated with defined
                            subnets.
                        </p>
                        <p>
                            Hosts with inconsistent DHCP configurations can be filtered using the
                            <b>Conflict</b> checkbox. When the box is clicked once, the filter returns all hosts whose
                            configurations contain conflicts between the configuration file and host database. When
                            clicked a second time, the results exclude any hosts with configuration conflicts.
                        </p>
                        <p>
                            In addition, hosts can be filtered by an explicitly selected field using text input filters.
                            The currently supported fields for explicit filtering are:
                        </p>
                        <ul>
                            <li>Kea App ID - the ID of the Kea App used by Stork.</li>
                            <li>Subnet ID - the subnet ID used by Stork.</li>
                            <li>Kea Subnet ID - the subnet ID assigned to the subnet in the Kea configuration.</li>
                        </ul>
                        <p>
                            Hosts can be filtered by multiple fields. Currently, all provided filtering conditions are
                            joined using a logical AND.
                        </p>
                    </app-help-tip>
                </div>
            </ng-template>
            <div class="flex flex-wrap gap-3 row-gap-5 mt-3 align-items-center">
                <button
                    pButton
                    label="Clear"
                    [class.p-button-warning]="tableHasFilter(hostsTable)"
                    [class.p-button-secondary]="!tableHasFilter(hostsTable)"
                    icon="pi pi-filter-slash"
                    (click)="clearTableState()"
                    [disabled]="!tableHasFilter(hostsTable)"
                ></button>
                <div class="flex-auto"></div>
                <p-columnFilter field="appId" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <p-floatlabel>
                                <p-inputNumber
                                    inputId="app-id"
                                    mode="decimal"
                                    [useGrouping]="false"
                                    min="1"
                                    (onInput)="filterTable($event.value === 0 ? 1 : $event.value, filterMetadata)"
                                    [ngModel]="value"
                                    class="max-w-8rem"
                                ></p-inputNumber>
                                <label for="app-id">Kea App ID</label>
                            </p-floatlabel>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="subnetId" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <p-floatlabel>
                                <p-inputNumber
                                    inputId="subnet-id"
                                    mode="decimal"
                                    [useGrouping]="false"
                                    min="1"
                                    (onInput)="filterTable($event.value === 0 ? 1 : $event.value, filterMetadata)"
                                    [ngModel]="value"
                                    class="max-w-8rem"
                                ></p-inputNumber>
                                <label for="subnet-id">Subnet ID</label>
                            </p-floatlabel>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="keaSubnetId" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <p-floatlabel>
                                <p-inputNumber
                                    inputId="kea-subnet-id"
                                    mode="decimal"
                                    [useGrouping]="false"
                                    min="1"
                                    (onInput)="filterTable($event.value === 0 ? 1 : $event.value, filterMetadata)"
                                    [ngModel]="value"
                                    class="max-w-8rem"
                                ></p-inputNumber>
                                <label for="kea-subnet-id">Kea Subnet ID</label>
                            </p-floatlabel>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter
                    type="boolean"
                    field="isGlobal"
                    matchMode="equals"
                    [showMenu]="false"
                    [showClearButton]="false"
                >
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <app-tri-state-checkbox
                                label="Global"
                                inputID="conflict-filter"
                                [value]="value"
                                (valueChange)="filterTable($event, filterMetadata, false)"
                            />
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value === null ? 'hidden-space' : ''"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter
                    type="boolean"
                    field="conflict"
                    matchMode="equals"
                    [showMenu]="false"
                    [showClearButton]="false"
                >
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex align-items-center">
                            <app-tri-state-checkbox
                                label="Conflict"
                                inputID="conflict-filter"
                                [value]="value"
                                (valueChange)="filterTable($event, filterMetadata, false)"
                            />
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value === null ? 'hidden-space' : ''"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="text" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filterMetadata="filterConstraint">
                        <div class="flex">
                            <p-iconfield iconPosition="left">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input
                                    pInputText
                                    type="text"
                                    (input)="filterTable($event.target.value, filterMetadata)"
                                    [ngModel]="value"
                                    placeholder="Search IP or identifier"
                                />
                            </p-iconfield>
                            <p-button
                                icon="pi pi-filter-slash"
                                [rounded]="true"
                                [text]="true"
                                severity="secondary"
                                [styleClass]="value ? '' : 'hidden-space'"
                                (onClick)="clearFilter(filterMetadata)"
                            />
                        </div>
                    </ng-template>
                </p-columnFilter>
            </div>
        </p-panel>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 28%">DHCP Identifiers</th>
            <th style="width: 18%">IP Addresses</th>
            <th style="width: 14%">IPv6 Prefixes</th>
            <th style="width: 14%">Hostname</th>
            <th style="width: 12%">Global/Subnet</th>
            <th style="width: 14%">App Name</th>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="6">
                No hosts found.
                <span *ngIf="tableHasFilter(hostsTable)">
                    Clear filtering and try again.
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearTableState()"
                    ></button>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template #body let-h>
        <tr id="host-row-{{ h.id }}">
            <td>
                <app-identifier
                    *ngFor="let i of h.hostIdentifiers"
                    [label]="i.idType"
                    [hexValue]="i.idHexValue"
                    [defaultHexFormat]="['hw-address', 'duid', 'client-id'].includes(i.idType)"
                    link="/dhcp/hosts/{{ h.id }}"
                >
                </app-identifier>
            </td>
            <td>
                <app-entity-link
                    *ngFor="let r of h.addressReservations"
                    entity="host"
                    [showEntityName]="false"
                    [attrs]="{ id: h.id, label: r.address }"
                ></app-entity-link>
            </td>
            <td>
                <app-entity-link
                    *ngFor="let r of h.prefixReservations"
                    entity="host"
                    [showEntityName]="false"
                    [attrs]="{ id: h.id, label: r.address }"
                ></app-entity-link>
            </td>
            <td>
                {{ h.hostname }}
            </td>
            <td *ngIf="h.subnetId; else globalSubnetBlock">
                <app-entity-link
                    entity="subnet"
                    [showEntityName]="false"
                    [attrs]="{ id: h.subnetId, subnet: h.subnetPrefix }"
                ></app-entity-link>
            </td>
            <ng-template #globalSubnetBlock>
                <td>global</td>
            </ng-template>
            <td>
                <div *ngFor="let lhs of localHostsGroupedByApp[h.id]" class="flex align-items-baseline">
                    <!-- Hyperlink to the host page -->
                    <a routerLink="/apps/{{ lhs[0].appId }}" class="block white-space-nowrap">{{ lhs[0].appName }} </a>
                    <!-- Data source labels -->
                    <app-host-data-source-label
                        *ngFor="let lh of lhs"
                        class="ml-2 mt-1"
                        [dataSource]="lh.dataSource"
                    ></app-host-data-source-label>
                    <!-- Conflict label -->
                    <p-tag
                        *ngIf="getLocalHostsState(lhs) === 'conflict'"
                        class="ml-2 mt-1"
                        value="conflict"
                        severity="danger"
                        pTooltip="The host's configurations are different in the configuration file and the host database."
                    ></p-tag>
                    <!-- Duplicate label -->
                    <p-tag
                        *ngIf="getLocalHostsState(lhs) === 'duplicate'"
                        class="ml-2 mt-1"
                        value="duplicate"
                        severity="warning"
                        pTooltip="The host is duplicated in the configuration file and host database."
                    ></p-tag>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template #paginatorright let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'host' }}
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="6">
                No hosts found.
                <span *ngIf="tableHasFilter(hostsTable)">
                    Clear filtering and try again.
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearTableState()"
                    ></button>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
