<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <div class="flex align-items-center flex-auto">
        <div *ngIf="filterTextFormatErrors?.length > 0">
            <small *ngFor="let err of filterTextFormatErrors" class="p-error block">{{ err }}</small>
        </div>
    </div>
    <a
        label="New Host"
        icon="pi pi-plus"
        class="block p-button p-button-primary no-underline"
        type="button"
        routerLink="/dhcp/hosts/new"
        pButton
    ></a>
    <p-button
        label="Refresh List"
        icon="pi pi-refresh"
        styleClass="block p-button-primary no-underline"
        (onClick)="reloadData(hostsTable)"
    ></p-button>
</div>
<p-table
    id="hosts-table"
    #hostsTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    (onStateRestore)="stateRestored($event, hostsTable)"
    (onStateSave)="stateSaved(hostsTable)"
    (onFilter)="onFilter()"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    stateStorage="session"
    [stateKey]="stateKey"
    [currentPageReportTemplate]="currentPageReportTemplate"
    styleClass="p-datatable-striped"
>
    <ng-template pTemplate="caption">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-filter"></i>
                    <span class="font-bold">Filters</span>
                    <p-tag
                        icon="pi pi-check"
                        value="Filter applied"
                        severity="success"
                        *ngIf="hasFilter(hostsTable)"
                        [rounded]="true"
                    ></p-tag>
                    <app-help-tip subject="filtering" id="filtering-help-button" width="40vw">
                        <p>
                            Hosts in the table below can be filtered by entering text in the search box; the table shows
                            all hosts matching the filter text. The currently supported fields for filtering are:
                        </p>
                        <ul>
                            <li>Identifier</li>
                            <li>Identifier Type</li>
                            <li>Address</li>
                            <li>Hostname</li>
                        </ul>
                        <p>
                            Hosts can be filtered by their identifier value, e.g. <b>00:01:02:03:04:05</b>; a part of
                            the identifier (e.g. the initial three bytes of a MAC address that denotes OUI, a unique
                            identifier of the vendor, effectively showing all devices produced by the same vendor); or
                            identifier type (e.g. <b>hw-address</b> to show all reservations made by a MAC address).
                        </p>
                        <p>
                            Hosts can be also filtered by a full or partial IP address. For example, all reservations in
                            a 192.0.2.0/24 subnet can found by entering
                            <b>192.0.2</b> as the filter text.
                        </p>
                        <p>
                            The <b>Global</b> checkbox allows users to see global hosts (i.e. the hosts valid for all
                            subnets), hosts associated with specific subnets, or all hosts. When the box is clicked
                            once, the results show all DHCP identifiers set at the global level; when clicked a second
                            time, it excludes the global hosts and shows only hosts that are associated with defined
                            subnets.
                        </p>
                        <p>
                            Hosts with inconsistent DHCP configurations can be filtered using the
                            <b>Conflict</b> checkbox. When the box is clicked once, the filter returns all hosts whose
                            configurations contain conflicts between the configuration file and host database. When
                            clicked a second time, the results exclude any hosts with configuration conflicts.
                        </p>
                        <p>
                            In addition, hosts can be filtered by an explicitly selected field using text input filters.
                            The currently supported fields for explicit filtering are:
                        </p>
                        <ul>
                            <li>Kea App ID - the ID of the Kea App used by Stork.</li>
                            <li>Subnet ID - the subnet ID used by Stork.</li>
                            <li>Kea Subnet ID - the subnet ID assigned to the subnet in the Kea configuration.</li>
                        </ul>
                        <p>
                            Hosts can be filtered by multiple fields. Currently, all provided filtering conditions are
                            joined using a logical AND.
                        </p>
                    </app-help-tip>
                </div>
            </ng-template>
            <div class="flex flex-wrap gap-3 row-gap-5 mt-3 align-items-center">
                <button
                    pButton
                    label="Clear"
                    [class.p-button-warning]="hasFilter(hostsTable)"
                    [class.p-button-secondary]="!hasFilter(hostsTable)"
                    icon="pi pi-filter-slash"
                    (click)="clearFilters(hostsTable)"
                    [disabled]="!hasFilter(hostsTable)"
                ></button>
                <div class="flex-auto"></div>
                <p-columnFilter field="appId" matchMode="equals" [showMenu]="false" [showClearButton]="!hasPrefilter()">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-float-label">
                            <p-inputNumber
                                inputId="app-id"
                                mode="decimal"
                                [useGrouping]="false"
                                (onInput)="filter($event.value)"
                                [ngModel]="value"
                                [disabled]="hasPrefilter()"
                            ></p-inputNumber>
                            <label for="app-id">Kea App ID</label>
                        </span>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="subnetId" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-float-label">
                            <p-inputNumber
                                inputId="subnet-id"
                                mode="decimal"
                                [useGrouping]="false"
                                (onInput)="filter($event.value)"
                                [ngModel]="value"
                            ></p-inputNumber>
                            <label for="subnet-id">Subnet ID</label>
                        </span>
                    </ng-template>
                </p-columnFilter>
                <p-columnFilter field="keaSubnetId" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-float-label">
                            <p-inputNumber
                                inputId="kea-subnet-id"
                                mode="decimal"
                                [useGrouping]="false"
                                (onInput)="filter($event.value)"
                                [ngModel]="value"
                            ></p-inputNumber>
                            <label for="kea-subnet-id">Kea Subnet ID</label>
                        </span>
                    </ng-template>
                </p-columnFilter>
                <div class="flex align-items-center gap-1">
                    Global
                    <p-columnFilter type="boolean" field="isGlobal" matchMode="equals"></p-columnFilter>
                </div>
                <div class="flex align-items-center gap-1">
                    Conflict
                    <p-columnFilter type="boolean" field="conflict" matchMode="equals"></p-columnFilter>
                </div>
                <p-columnFilter field="text" matchMode="contains" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="filter($event.target.value)"
                                [ngModel]="value"
                                placeholder="Search IP or identifier"
                            />
                        </span>
                    </ng-template>
                </p-columnFilter>
            </div>
        </p-panel>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 28%">DHCP Identifiers</th>
            <th style="width: 18%">IP Addresses</th>
            <th style="width: 14%">IPv6 Prefixes</th>
            <th style="width: 14%">Hostname</th>
            <th style="width: 12%">Global/Subnet</th>
            <th style="width: 14%">App Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">
                No hosts found.
                <span *ngIf="hasFilter(hostsTable)">
                    Clear filtering and try again.
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearFilters(hostsTable)"
                    ></button>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-h>
        <tr id="host-row-{{ h.id }}">
            <td>
                <app-identifier
                    *ngFor="let i of h.hostIdentifiers"
                    [label]="i.idType"
                    [hexValue]="i.idHexValue"
                    [defaultHexFormat]="i.idType === 'hw-address'"
                    link="/dhcp/hosts/{{ h.id }}"
                >
                </app-identifier>
            </td>
            <td>
                <app-entity-link
                    *ngFor="let r of h.addressReservations"
                    entity="host"
                    [showEntityName]="false"
                    [attrs]="{ id: h.id, label: r.address }"
                ></app-entity-link>
            </td>
            <td>
                <app-entity-link
                    *ngFor="let r of h.prefixReservations"
                    entity="host"
                    [showEntityName]="false"
                    [attrs]="{ id: h.id, label: r.address }"
                ></app-entity-link>
            </td>
            <td>
                {{ h.hostname }}
            </td>
            <td *ngIf="h.subnetId; else globalSubnetBlock">
                <app-entity-link
                    entity="subnet"
                    [showEntityName]="false"
                    [attrs]="{ id: h.subnetId, subnet: h.subnetPrefix }"
                ></app-entity-link>
            </td>
            <ng-template #globalSubnetBlock>
                <td>global</td>
            </ng-template>
            <td>
                <div *ngFor="let lhs of localHostsGroupedByApp[h.id]" class="flex align-items-baseline">
                    <!-- Hyperlink to the host page -->
                    <a routerLink="/apps/kea/{{ lhs[0].appId }}" class="block white-space-nowrap"
                        >{{ lhs[0].appName }}
                    </a>
                    <!-- Data source labels -->
                    <app-host-data-source-label
                        *ngFor="let lh of lhs"
                        class="ml-2 mt-1"
                        [dataSource]="lh.dataSource"
                    ></app-host-data-source-label>
                    <!-- Conflict label -->
                    <p-tag
                        *ngIf="getLocalHostsState(lhs) === 'conflict'"
                        class="ml-2 mt-1"
                        value="conflict"
                        severity="danger"
                        pTooltip="The host's configurations are different in the configuration file and the host database."
                    ></p-tag>
                    <!-- Duplicate label -->
                    <p-tag
                        *ngIf="getLocalHostsState(lhs) === 'duplicate'"
                        class="ml-2 mt-1"
                        value="duplicate"
                        severity="warning"
                        pTooltip="The host is duplicated in the configuration file and host database."
                    ></p-tag>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'host' }}
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">
                No hosts found.
                <span *ngIf="hasFilter(hostsTable)">
                    Clear filtering and try again.
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearFilters(hostsTable)"
                    ></button>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>
