<div class="mb-2 flex gap-2 flex-wrap justify-content-end">
    <div class="flex align-items-center flex-auto">
        <div *ngIf="filterTextFormatErrors?.length > 0">
            <small *ngFor="let err of filterTextFormatErrors" class="p-error block">{{ err }}</small>
        </div>
    </div>
    <p-button
            *ngIf="selectedMachines?.length > 0"
            label="Authorize selected"
            icon="pi pi-lock"
            styleClass="block p-button-primary no-underline"
            (onClick)="onAuthorizeMachines(selectedMachines)"
    ></p-button>
    <p-button
        label="Refresh List"
        icon="pi pi-refresh"
        styleClass="block p-button-primary no-underline"
        (onClick)="reloadData(machinesTable)"
    ></p-button>
</div>
<p-table
    #machinesTable
    [value]="dataCollection"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [loading]="dataLoading"
    (onLazyLoad)="loadData($event)"
    [lazyLoadOnInit]="false"
    (onStateRestore)="stateRestored($event, machinesTable)"
    (onStateSave)="stateSaved(machinesTable)"
    (onFilter)="onFilter()"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 30, 100]"
    [showCurrentPageReport]="true"
    stateStorage="session"
    [stateKey]="stateKey"
    [currentPageReportTemplate]="currentPageReportTemplate"
    styleClass="p-datatable-striped"
    [(selection)]="selectedMachines"
>
    <ng-template pTemplate="caption">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-filter"></i>
                    <span class="font-bold">Filters</span>
                    <p-tag
                        icon="pi pi-check"
                        value="Filter applied"
                        severity="success"
                        *ngIf="hasFilter(machinesTable)"
                        [rounded]="true"
                    ></p-tag>
                    <app-help-tip subject="filtering" id="filtering-help-button">
                        <p>
                            Machines in the table below can be filtered by entering a text in the search box; the table shows
                            all machines matching the filter text. Currently supported fields for such filtering are:
                        </p>
                        <ul>
                            <li>Address</li>
                            <li>Agent Version</li>
                            <li>Hostname</li>
                            <li>OS</li>
                            <li>Platform</li>
                            <li>Platform Family</li>
                            <li>Platform Version</li>
                            <li>Kernel Version</li>
                            <li>Kernel Arch</li>
                            <li>Virtualization System</li>
                            <li>Virtualization Role</li>
                            <li>Host ID</li>
                        </ul>
                        <p>
                            The search is performed while typing or on pressing Enter. The minimum number of search characters
                            is 3.
                        </p>
                    </app-help-tip>
                </div>
            </ng-template>
            <div class="flex flex-wrap gap-3 row-gap-5 mt-3 align-items-center">
                <button
                    pButton
                    label="Clear"
                    [class.p-button-warning]="hasFilter(machinesTable)"
                    [class.p-button-secondary]="!hasFilter(machinesTable)"
                    icon="pi pi-filter-slash"
                    (click)="clearFilters(machinesTable)"
                    [disabled]="!hasFilter(machinesTable)"
                ></button>
                <div class="flex-auto"></div>
                <p-columnFilter field="authorized" matchMode="equals" [showMenu]="false" [showClearButton]="!hasPrefilter()">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">

                            <p-triStateCheckbox inputId="authorized-input"
                                                (onChange)="filter($event.value)"
                                                [ngModel]="value"
                                                [disabled]="hasPrefilter()"
                                                styleClass="mr-2"
                            ></p-triStateCheckbox>

                            <label for="authorized-input">Authorized machines</label>

                    </ng-template>
                </p-columnFilter>

                <p-columnFilter field="text" matchMode="contains" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="filter($event.target.value)"
                                [ngModel]="value"
                                placeholder="Search machines"
                            />
                        </span>
                    </ng-template>
                </p-columnFilter>
            </div>
        </p-panel>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="unauthorizedMachinesDisplayed()" style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 8rem">Hostname</th>
            <th style="width: 10rem">
                Location
                <app-help-tip subject="Location" id="location-help-button">
                    <p>
                        Specifies where the server can reach the agent as a hostname:tcp-port pair (e.g.
                        localhost:8888).
                    </p></app-help-tip
                >
            </th>
            <th *ngIf="unauthorizedMachinesDisplayed()">
                Agent Token
                <app-help-tip subject="Agent Token" id="agent-token-help-button">
                    <p>
                        This is a token generated by an agent during its first start up. Verify if value visible here is
                        the same as agent token present in its logs or in
                        <span style="font-family: monospace">/var/lib/stork-agent/tokens/agent-token.txt</span>.
                    </p>
                </app-help-tip>
            </th>
            <th *ngIf="authorizedMachinesDisplayed()" style="width: 4.5rem">Agent Version</th>
            <th *ngIf="authorizedMachinesDisplayed()" class="w-4rem">App(s) Version</th>
            <th *ngIf="authorizedMachinesDisplayed()" style="width: 7rem">Daemons</th>
            <th *ngIf="authorizedMachinesDisplayed()" style="width: 4rem">CPUs</th>
            <th *ngIf="authorizedMachinesDisplayed()" style="width: 8rem">
                CPU Load
                <app-help-tip subject="CPU Load" id="cpu-load-help-button">
                    <p>
                        These three numbers are CPU load averages for last 1 minute, 5 minutes and 15 minutes. This is
                        the usual syntax used by <b>top</b> command.
                    </p>

                    <p>
                        High load averages imply that a system is overloaded. A value of 1.00 means one CPU core is
                        fully utilized. For example, if your system has load of 1.22 and you have only 1 CPU core, the
                        system is overloaded. However, if there are 4 cores, you system is working at a bit over 30% of
                        its capacity.
                    </p>
                </app-help-tip>
            </th>
            <th *ngIf="authorizedMachinesDisplayed()" style="width: 5rem">Total Memory [GB]</th>
            <th *ngIf="authorizedMachinesDisplayed()" style="width: 7rem">Memory Usage [%]</th>
            <th *ngIf="authorizedMachinesDisplayed()" class="hiding-column" style="width: 6rem">Uptime</th>
            <th *ngIf="authorizedMachinesDisplayed()" class="hiding-column" style="width: 6rem">
                Last Refreshed
                <app-help-tip subject="Last refreshed" id="last-refreshed-help-button"
                    ><p>
                        When the machine status was last retrieved. You can refresh it by clicking Refresh in the Action
                        menu.
                    </p></app-help-tip
                >
            </th>
            <th *ngIf="authorizedMachinesDisplayed()" style="width: 13rem">Error</th>
            <th style="width: 4rem">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
        <tr>
            <td *ngIf="unauthorizedMachinesDisplayed()">
                <p-tableCheckbox [value]="m"></p-tableCheckbox>
            </td>
            <td>
                <a routerLink="/machines/{{ m.id }}">{{ m.hostname || m.address }}</a>
            </td>
            <td>{{ m.address }}:{{ m.agentPort }}</td>
            <td *ngIf="unauthorizedMachinesDisplayed()" [class.word-break-all]="authorizedMachinesDisplayed()">
                {{ !m.authorized ? m.agentToken : '' }}
            </td>
            <td *ngIf="authorizedMachinesDisplayed()">
                {{ m.agentVersion }}
                <app-version-status app="stork" [version]="m.agentVersion"></app-version-status>
            </td>
            <td *ngIf="authorizedMachinesDisplayed()">
                <ng-container *ngFor="let a of m.apps"
                    ><app-version-status [app]="a.type" [version]="a.version" [showAppName]="true"></app-version-status
                ></ng-container>
            </td>
            <td *ngIf="authorizedMachinesDisplayed()">
                <div *ngFor="let a of m.apps">
                    <app-app-daemons-status [app]="a"></app-app-daemons-status>
                </div>
            </td>
            <td *ngIf="authorizedMachinesDisplayed()">{{ m.cpus }}</td>
            <td *ngIf="authorizedMachinesDisplayed()">{{ m.cpusLoad }}</td>
            <td *ngIf="authorizedMachinesDisplayed()">{{ m.memory }}</td>
            <td *ngIf="authorizedMachinesDisplayed()">
                <p-progressBar *ngIf="m.usedMemory" [value]="m.usedMemory"></p-progressBar>
            </td>
            <td *ngIf="authorizedMachinesDisplayed()" class="hiding-column">{{ m.uptime || '?' }} days</td>
            <td *ngIf="authorizedMachinesDisplayed()" class="hiding-column">
                {{ m.lastVisitedAt | localtime | placeholder: 'never' }}
            </td>
            <td *ngIf="authorizedMachinesDisplayed()">
                <p-message *ngIf="m.error" severity="error" text="{{ m.error }}"></p-message>
            </td>
            <td>
                <button
                    type="button"
                    pButton
                    icon="pi pi-bars"
                    id="show-machines-menu-{{ m.id }}"
                    (click)="onMachineMenuDisplay(m)"
                ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3">
                <i class="pi pi-info-circle text-2xl text-primary vertical-align-middle font-bold"></i>
                No authorized machines found.
                <span *ngIf="hasFilter(machinesTable)">
                    Try to clear filtering.
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="clearFilters(machinesTable)"
                    ></button>
                </span>
                <div class="mt-3">
                    <i class="pi pi-info-circle text-xl text-primary-600 vertical-align-middle"></i>
                    Information about adding new machines to Stork server is available after clicking on the
                    <b>How to Install Agent to New Machine</b> button at the top.
                </div>
                <div *ngIf="unauthorizedMachinesCount > 0">
                    <i class="pi pi-info-circle text-xl text-primary-600 vertical-align-middle"></i>
                    There {{ unauthorizedMachinesCount === 1 ? 'is' : 'are' }}
                    <b class="text-xl text-red-500">{{ unauthorizedMachinesCount }}</b>
                    unauthorized machine{{ unauthorizedMachinesCount > 1 ? 's' : '' }}. Check
                    {{ unauthorizedMachinesCount === 1 ? 'it' : 'them' }} <a routerLink="/machines/all" [queryParams]="{authorized: 'false'}">here</a>.
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-paginatorState>
        Total: {{ paginatorState.totalRecords | pluralize: 'machine' }}
    </ng-template>
</p-table>
