<table *ngIf="daemon" class="access-point-list">
    <tr>
        <td class="p-1">Machine:</td>
        <td>
            <app-entity-link [showEntityName]="false" [attrs]="daemon.machine" entity="machine"></app-entity-link>
        </td>
    </tr>
    <tr *ngFor="let ap of daemon.accessPoints">
        <td class="access-point-list__label capitalize-first p-1">{{ ap.type }} access point:</td>
        <td class="word-break-all">{{ formatAddress(ap.address) }}:{{ ap.port }}</td>
        <td class="p-1">
            <span
                *ngIf="ap.protocol === 'https' || ap.protocol === 'rndc'; else unsecure"
                class="access-point-list__icon--secured pi pi-lock"
                pTooltip="secured connection"
            ></span>
            <ng-template #unsecure>
                <span class="access-point-list__icon--unsecured pi pi-lock-open" pTooltip="unsecured connection"></span>
            </ng-template>
        </td>
        <td class="p-1">
            <br class="block lg:hidden" />
            <span
                id="access-point-key"
                *ngIf="daemon.name === 'named' && ap.protocol === 'rndc'"
                appAccessType="read"
                appAccessEntity="app-access-point-key"
                [appHideIfNoAccess]="true"
            >
                Key:
                <app-access-point-key [accessPointType]="ap.type" [daemonId]="daemon.id"></app-access-point-key>
            </span>
        </td>
    </tr>
</table>
