<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page allows changing user's password.</p>
        <p>
            Specify the current password and then create a new one. The new password must be at least 8 characters long.
        </p>
    </div>
</app-breadcrumbs>

<div class="grid mt-2">
    <div class="col-fixed ml-2" style="width: 200px">
        <app-settings-menu></app-settings-menu>
    </div>
    <p-message
        severity="error"
        text="You have authenticated by the external authentication service. You cannot change the password; you should use a change password form provided by your authentication service."
        *ngIf="isExternalUser"
    >
    </p-message>
    <div class="col ml-2">
        <form [formGroup]="passwordChangeForm">
            <p-panel header="New password setting">
                <div class="grid">
                    <div class="col-7">
                        <p>Current password</p>
                        <p-password
                            [feedback]="false"
                            inputId="old-password"
                            formControlName="oldPassword"
                            inputStyleClass="password-input"
                            styleClass="password-component"
                        ></p-password>
                        <p-message
                            severity="error"
                            text="Please specify current password"
                            *ngIf="
                                !passwordChangeForm.controls['oldPassword'].valid &&
                                passwordChangeForm.controls['oldPassword'].dirty &&
                                passwordChangeForm.controls['oldPassword'].touched
                            "
                        ></p-message>
                    </div>

                    <div class="col-7">
                        <p>New password</p>
                        <p-password
                            inputId="new-password"
                            formControlName="newPassword"
                            pattern="[a-zA-Z0-9@.!\+\-]+"
                            inputStyleClass="password-input"
                            styleClass="password-component"
                        ></p-password>
                        <p-message
                            severity="error"
                            text="Password must only contain letters, digits, @, ., !, +, - and must be at least 8 characters long"
                            *ngIf="
                                !passwordChangeForm.controls['newPassword'].valid &&
                                passwordChangeForm.controls['newPassword'].dirty &&
                                passwordChangeForm.controls['newPassword'].touched
                            "
                        ></p-message>
                    </div>
                    <div class="col-7">
                        <p>Confirm password</p>
                        <p-password
                            inputId="confirm-password"
                            formControlName="confirmPassword"
                            inputStyleClass="password-input"
                            styleClass="password-component"
                        ></p-password>
                        <p-message
                            severity="error"
                            text="Password and confirmed password must match"
                            *ngIf="
                                passwordChangeForm.controls['confirmPassword'].touched &&
                                passwordChangeForm.errors?.['mismatchedPasswords']
                            "
                        ></p-message>
                    </div>
                    <div class="col-7">
                        <button
                            pButton
                            type="submit"
                            label="Save"
                            id="save-new-password-button"
                            icon="pi pi-pencil"
                            [disabled]="passwordChangeForm.invalid || isExternalUser"
                            (click)="passwordChangeFormSubmit()"
                        ></button>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>
