<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page allows changing user's password.</p>
        <p>
            Specify the current password and then create a new one. The new password must be at least 8 characters long.
        </p>
    </div>
</app-breadcrumbs>

<div class="grid mt-2">
    <div class="col-fixed ml-2" style="width: 200px">
        <app-settings-menu></app-settings-menu>
    </div>
    <div class="col ml-2">
        <app-password-change-form></app-password-change-form>
    </div>
</div>
