<div class="p-grid">
    <div class="p-col-fixed" style="margin:10px 0px; width:200px">
        <app-settings-menu></app-settings-menu>
    </div>
    <div class="p-col" style="margin:10px 0px">
        <form [formGroup]="passwordChangeForm">
            <div class="p-grid">
                <div class="p-col-3">
                    <p-panel header="Changing password">
                        Specify the current password and then create a new one. The new password must be at least 8
                        characters long.
                    </p-panel>
                </div>
                <div class="p-col-7">
                    <p-panel header="New password setting">
                        <div class="p-grid">
                            <div class="p-col-7">
                                <p>Current password</p>
                                <input
                                    pPassword
                                    [feedback]="false"
                                    type="password"
                                    formControlName="oldPassword"
                                    style="width:80%"
                                />
                                <p-message
                                    severity="error"
                                    text="Please specify current password"
                                    *ngIf="
                                        !passwordChangeForm.controls['oldPassword'].valid &&
                                        passwordChangeForm.controls['oldPassword'].dirty &&
                                        passwordChangeForm.controls['oldPassword'].touched
                                    "
                                ></p-message>
                            </div>

                            <div class="p-col-7">
                                <p>New password</p>
                                <input
                                    pPassword
                                    type="password"
                                    formControlName="newPassword"
                                    pattern="[a-zA-Z0-9@.!\+\-]*"
                                    style="width:80%"
                                />
                                <p-message
                                    severity="error"
                                    text="Password must only contain letters, digits, @, ., !, +, - and must be at least 8 characters long"
                                    *ngIf="
                                        !passwordChangeForm.controls['newPassword'].valid &&
                                        passwordChangeForm.controls['newPassword'].dirty &&
                                        passwordChangeForm.controls['newPassword'].touched
                                    "
                                ></p-message>
                            </div>
                            <div class="p-col-7">
                                <p>Confirm password</p>
                                <input
                                    pPassword
                                    type="password"
                                    formControlName="confirmPassword"
                                    pattern="{{ passwordChangeForm.controls['newPassword'].value }}"
                                    style="width:80%"
                                />
                                <p-message
                                    severity="error"
                                    text="Password and confirmed password must match"
                                    *ngIf="
                                        !passwordChangeForm.controls['confirmPassword'].valid &&
                                        passwordChangeForm.controls['confirmPassword'].dirty &&
                                        passwordChangeForm.controls['confirmPassword'].touched
                                    "
                                ></p-message>
                            </div>
                            <div class="p-col-7">
                                <button
                                    pButton
                                    type="submit"
                                    label="Save"
                                    icon="pi pi-pencil"
                                    [disabled]="passwordChangeForm.invalid"
                                    (click)="passwordChangeFormSubmit()"
                                ></button>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </form>
    </div>
</div>
