---
swagger: "2.0"
info:
  description: An API for Stork
  title: Stork API
  version: 2.3.2
consumes:
  - application/json
produces:
  - application/json
schemes:
- http
basePath: /api

securityDefinitions:
  Token:
    type: apiKey
    in: header
    name: Cookie

security:
  - Token: []

paths:
  /version:
    get:
      summary: Get version.
      operationId: getVersion
      security: []
      tags:
        - General
      responses:
        200:
          description: Version of Stork
          schema:
            $ref: "#/definitions/Version"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/ApiError"

  /software-versions:
    get:
      summary: Get information about ISC Kea, BIND9 and Stork software versions.
      description: >-
        Returns detailed metadata for latest releases of
        ISC Kea, BIND9 and Stork software. This is to provide
        up-to-date ISC software releases so that it could be
        compared with currently used releases.
      operationId: getSoftwareVersions
      security: []
      tags:
        - General
      responses:
        200:
          description: Metadata for latest Kea, BIND9 and Stork software versions.
          schema:
            $ref: "#/definitions/AppsVersions"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/ApiError"

  $include: users-paths.yaml
  $include: services-paths.yaml
  $include: dhcp-paths.yaml
  $include: settings-paths.yaml
  $include: search-paths.yaml
  $include: events-paths.yaml
  $include: dns-paths.yaml

definitions:
  Version:
    type: object
    required:
      - version
      - date
    properties:
      version:
        type: string
      date:
        type: string

  VersionDetails:
    type: object
    required:
      - version
      - releaseDate
    properties:
      version:
        type: string
      releaseDate:
        type: string
        format: date
      eolDate:
        type: string
        format: date
        x-nullable: true
      esv:
        type: string
      status:
        type: string
      major:
        type: integer
        x-omitempty: false
      minor:
        type: integer
        x-omitempty: false
      range:
        type: string

  AppVersionMetadata:
    type: object
    required:
      - currentStable
    properties:
      latestDev:
        $ref: '#/definitions/VersionDetails'
      currentStable:
        type: array
        items:
          $ref: '#/definitions/VersionDetails'
      latestSecure:
        type: array
        items:
          $ref: '#/definitions/VersionDetails'
      sortedStableVersions:
        type: array
        items:
          type: string

  VersionsDataSource:
    type: string
    enum: &VERSIONSDATASOURCE
      - "offline"
      - "online"

  AppsVersions:
    type: object
    required:
      - bind9
      - kea
      - stork
      - date
    properties:
      bind9:
        $ref: '#/definitions/AppVersionMetadata'
      kea:
        $ref: '#/definitions/AppVersionMetadata'
      stork:
        $ref: '#/definitions/AppVersionMetadata'
      date:
        type: string
        format: date
      dataSource:
        enum: *VERSIONSDATASOURCE

  ApiError:
    type: object
    required:
      - message
    properties:
      message:
        type: string

  principal:
    type: string

  DNSDaemonName:
    type: string
    enum: &DNSDAEMONNAME
      - bind9
      - pdns

  DNSClass:
    type: string
    enum: &DNSCLASS
      - IN
      - CH
      - HS
      - ANY

  DNSZoneType:
    type: string
    enum: &DNSZONETYPE
      - builtin
      - consumer
      - delegation-only
      - forward
      - hint
      - mirror
      - native
      - primary
      - producer
      - redirect
      - secondary
      - static-stub
      - stub

  DNSRRType:
    type: string
    enum: &DNSRRTYPE
      - A
      - AAAA
      - AFSDB
      - CAA
      - CDNSKEY
      - CDS
      - CERT
      - CNAME
      - CSYNC
      - DHCID
      - DLV
      - DNAME
      - DNSKEY
      - DS
      - EUI48
      - EUI64
      - HINFO
      - HIP
      - HTTPS
      - IPSECKEY
      - KEY
      - KX
      - LOC
      - MX
      - NAPTR
      - NS
      - NSEC
      - NSEC3
      - NSEC3PARAM
      - OPENPGPKEY
      - PTR
      - RP
      - RRSIG
      - SIG
      - SMIMEA
      - SOA
      - SRV
      - SSHFP
      - SVCB
      - TA
      - TKEY
      - TLSA
      - TSIG
      - TXT
      - URI
      - ZONEMD

  Bind9ConfigFilter:
    type: string
    enum: &BIND9CONFIGFILTER
      - config
      - view
      - zone
      - no-parse

  Bind9ConfigFileType:
    type: string
    enum: &BIND9CONFIGFILETYPE
      - config
      - rndc-key

  MachineSortField:
    type: string
    enum: &MACHINESORTFIELD
      - address
      - last_visited_at
      - hostname
      - cpus
      - cpus_load
      - memory
      - used_memory
      - agent_version

  SubnetSortField:
    type: string
    enum: &SUBNETSORTFIELD
      - prefix
      - addr_utilization
      - total_addresses
      - assigned_addresses
      - total_pds
      - assigned_pds
      - pd_utilization
      - shared_network
      - name
      - kea_subnet_id

  NetworkSortField:
    type: string
    enum: &NETWORKSORTFIELD
      - name
      - addr_utilization
      - total_addresses
      - assigned_addresses
      - total_pds
      - assigned_pds
      - pd_utilization

  UserSortField:
    type: string
    enum: &USERSORTFIELD
      - login
      - email
      - lastname
      - name
      - auth_method
      - external_id

  EventSortField:
    type: string
    enum: &EVENTSORTFIELD
      - created_at
      - text
      - level
      - details

  HostSortField:
    type: string
    enum: &HOSTSORTFIELD
      - subnet
      - hostname
      - identifier
      - reservation_address
      - reservation_ipv6_prefix

  ZoneSortField:
    type: string
    enum: &ZONESORTFIELD
      - rname
      - serial
      - type

  SortDir:
    type: string
    enum: &SORTDIR
      - asc
      - desc

  $include: users-defs.yaml
  $include: services-defs.yaml
  $include: kea-config-defs.yaml
  $include: dhcp-defs.yaml
  $include: settings-defs.yaml
  $include: search-defs.yaml
  $include: events-defs.yaml
  $include: dns-defs.yaml

parameters:
  paginationStartParam:
    name: start
    in: query
    description: First record to retrieve.
    type: integer

  paginationLimitParam:
    name: limit
    in: query
    description: Number of records to retrieve.
    type: integer

  filterTextParam:
    name: text
    in: query
    description: >-
      Filtering text, e.g. hostname for the machines
      or version for the daemons.
    type: string

  dnsDaemonName:
    name: daemonName
    in: query
    description: >-
      Limit returned list of entities (e.g. zones) to the ones served by
      daemons of a given name. The daemon should be one of the supported DNS
      servers.
    type: string
    enum: *DNSDAEMONNAME

  dnsClass:
    name: class
    in: query
    description: >-
      Limit returned list of entities (e.g. zones) to the ones of a given class.
    type: string
    enum: *DNSCLASS

  dnsRRType:
    name: rrType
    in: query
    description: >-
      Limit returned list of RRs to the ones of a given type.
    type: array
    items:
      type: string
      enum: *DNSRRTYPE
    collectionFormat: multi

  dnsZoneType:
    name: zoneType
    in: query
    description: >-
      Limit returned list of entities (e.g. zones) to the ones of a given type.
      Multiple zone types can be specified. If unspecified, all zone types are returned.
    type: array
    items:
      type: string
      enum: *DNSZONETYPE
    collectionFormat: multi

  bind9ConfigFilter:
    name: filter
    in: query
    description: >-
      Filter to apply while retrieving BIND 9 configuration.
    type: array
    items:
      type: string
      enum: *BIND9CONFIGFILTER
    collectionFormat: multi

  bind9ConfigFileSelector:
    name: fileSelector
    in: query
    description: >-
      Selector for the BIND 9 configuration file types to retrieve.
    type: array
    items:
      type: string
      enum: *BIND9CONFIGFILETYPE
    collectionFormat: multi

  machineSortField:
    name: sortField
    in: query
    description: Field name by which returned results shall be sorted.
    type: string
    enum: *MACHINESORTFIELD

  subnetSortField:
    name: sortField
    in: query
    description: Field name by which returned results shall be sorted.
    type: string
    enum: *SUBNETSORTFIELD

  networkSortField:
    name: sortField
    in: query
    description: Field name by which returned results shall be sorted.
    type: string
    enum: *NETWORKSORTFIELD

  userSortField:
    name: sortField
    in: query
    description: Field name by which returned results shall be sorted.
    type: string
    enum: *USERSORTFIELD

  eventSortField:
    name: sortField
    in: query
    description: Field name by which returned results shall be sorted.
    type: string
    enum: *EVENTSORTFIELD

  hostSortField:
    name: sortField
    in: query
    description: Field name by which returned results shall be sorted.
    type: string
    enum: *HOSTSORTFIELD

  zoneSortField:
    name: sortField
    in: query
    description: Field name by which returned results shall be sorted.
    type: string
    enum: *ZONESORTFIELD

  sortDir:
    name: sortDir
    in: query
    description: Sorting direction - either ascending or descending.
    type: string
    enum: *SORTDIR
