<app-breadcrumbs [items]="breadcrumbs">
    <div page-help>
        <p>This page displays a list of DNS zones.</p>
    </div>
</app-breadcrumbs>

<ng-template #emptyMessage let-colspan let-empty="empty">
    <ng-container *ngIf="fetchInProgress">
        <tr>
            <td [attr.colspan]="colspan">
                <p-message
                    styleClass="mb-3"
                    severity="info"
                    [text]="
                        'The server is fetching zones from the agents in the background. It may take some time, depending on the number of the DNS servers and zones. Completed for ' +
                        fetchAppsCompletedCount +
                        ' out of ' +
                        fetchTotalAppsCount +
                        ' DNS apps.'
                    "
                ></p-message>
                <h4>Progress</h4>
                <p-progressBar [value]="(fetchAppsCompletedCount / fetchTotalAppsCount) * 100" styleClass="max-w-30rem">
                    <span>{{ fetchAppsCompletedCount }}/{{ fetchTotalAppsCount }}</span>
                </p-progressBar>
            </td>
        </tr>
        <tr *ngFor="let i of Array(3)">
            <td *ngFor="let j of Array(colspan)">
                <p-skeleton />
            </td>
        </tr>
    </ng-container>

    <tr *ngIf="!fetchInProgress">
        <td [attr.colspan]="colspan">
            <ng-container *ngIf="!wasZoneFetchSent()">
                <p-message
                    styleClass="mb-2 mx-0 md:mx-8"
                    severity="info"
                    [text]="
                        'Zones were not fetched yet from DNS servers. You can now trigger zones fetch operation. ' +
                        'This operation instructs the Stork server to fetch the zones from all DNS servers' +
                        ' and update them in the Stork database. It may take some time, depending on the number of the ' +
                        'DNS servers and zones. If you decide to trigger the zones fetch ' +
                        'operation, you can use the button below.'
                    "
                ></p-message>
                <p-button
                    styleClass="mx-0 md:mx-8"
                    label="Fetch Zones"
                    icon="pi pi-download"
                    (onClick)="sendPutZonesFetch(true)"
                    [disabled]="fetchInProgress || putZonesFetchLocked"
                    appAccessEntity="zones"
                    appAccessType="update"
                />
            </ng-container>
            <p *ngIf="wasZoneFetchSent()">
                {{ empty }}
            </p>
        </td>
    </tr>
</ng-template>

<ng-template #clearFilterBtn let-value let-filterConstraint="filterConstraint">
    <p-button
        icon="pi pi-filter-slash"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        [styleClass]="value ? '' : 'hidden-space'"
        (onClick)="clearFilter(filterConstraint)"
    />
</ng-template>

<ng-template #localZoneCells let-localZone let-serialInfo="serialInfo">
    <td>
        <a routerLink="/apps/{{ localZone.appId }}">{{ localZone.appName }}</a>
    </td>
    <td>
        <a routerLink="/dns/zones" [queryParams]="{ appId: localZone.appId }">{{ localZone.appId }}</a>
    </td>
    <td>
        <a routerLink="/dns/zones" [queryParams]="{ text: localZone.view }">{{ localZone.view }}</a>
    </td>
    <td>
        <div class="flex flex-wrap justify-center align-items-center gap-2">
            <a routerLink="/dns/zones" [queryParams]="{ zoneType: (localZone.zoneType | zoneTypeAlias) }">{{
                localZone.zoneType
            }}</a>
            <p-tag *ngIf="localZone.rpz" value="RPZ" severity="success" />
        </div>
    </td>
    <td [class.app-error]="serialInfo.hasMismatch">
        {{ localZone.serial
        }}<i
            *ngIf="serialInfo.hasMismatch"
            class="pi pi-exclamation-triangle ml-2"
            pTooltip="Serial numbers mismatch across servers"
        ></i>
    </td>
    <td>
        <a routerLink="/dns/zones" [queryParams]="{ zoneClass: localZone.class }">{{ localZone.class }}</a>
    </td>
    <td>{{ localZone.loadedAt | localtime | placeholder: 'never' }}</td>
</ng-template>

<ng-template #zoneSerialInfo let-zoneSerialInfo>
    <ng-container *ngIf="zoneSerialInfo.hasMismatch">
        <p-tag
            severity="danger"
            [value]="zoneSerialInfo.serial"
            pTooltip="Serial numbers mismatch across servers"
            styleClass="text-base serial-mismatch font-normal"
            icon="pi pi-exclamation-triangle"
        />
    </ng-container>
    <ng-container *ngIf="!zoneSerialInfo.hasMismatch">
        {{ zoneSerialInfo.serial }}
    </ng-container>
</ng-template>

<p-dialog header="Zones Fetch Status" [modal]="true" [(visible)]="fetchStatusVisible" styleClass="max-w-screen">
    <div class="mb-2 flex gap-2 flex-wrap justify-content-end">
        <p-button
            label="Refresh List"
            icon="pi pi-refresh"
            (onClick)="refreshFetchStatusTable()"
            id="refresh-fetch-status-data"
        />
    </div>
    <p-table
        [value]="zonesFetchStates"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 30, 100]"
        [totalRecords]="zonesFetchStatesTotal"
        [loading]="zonesFetchStatesLoading"
        [alwaysShowPaginator]="false"
        styleClass="md:datatable-responsive"
        [stripedRows]="true"
    >
        <ng-template #header>
            <tr>
                <th>App Name</th>
                <th>App ID</th>
                <th
                    pTooltip="Zone config is a zone specification in the BIND9 view.
If the zone appears in several views, this count is increased
for each occurrence of that zone.
"
                    class="cursor-pointer"
                >
                    Zone Configs Count
                </th>
                <th
                    pTooltip="The number of distinct zone (zone names) in all views.
If the zone appears in several views, it is counted only once.
"
                    class="cursor-pointer"
                >
                    Distinct Zones
                </th>
                <th
                    pTooltip="The number of distinct builtin zones in all views.
Builtin zones are special types of zones generated by BIND9. Their
number is interesting to see how many zones are generated comparing
to the number of configured zones.
"
                    class="cursor-pointer"
                >
                    Builtin Zones
                </th>
                <th>Status</th>
                <th>Error</th>
                <th>Created At</th>
            </tr>
        </ng-template>
        <ng-template #body let-state>
            <tr>
                <td>
                    <a routerLink="/apps/{{ state.appId }}">{{ state.appName }}</a>
                </td>
                <td>{{ state.appId }}</td>
                <td>{{ state.zoneConfigsCount || 'n/a' }}</td>
                <td>{{ state.distinctZonesCount || 'n/a' }}</td>
                <td>{{ state.builtinZonesCount || 'n/a' }}</td>
                <td>
                    <p-tag
                        value="{{ state.status === 'erred' ? 'Error' : (state.status | titlecase) }} "
                        [severity]="getSeverity(state.status)"
                        [pTooltip]="getTooltip(state.status)"
                    />
                </td>
                <td>
                    <p-message
                        *ngIf="state.error"
                        severity="error"
                        [text]="getStateErrorMessage(state.error)"
                    ></p-message>
                </td>
                <td>{{ state.createdAt | localtime | placeholder: 'never' }}</td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <ng-container
                *ngTemplateOutlet="
                    emptyMessage;
                    context: {
                        $implicit: 8,
                        empty: 'There is no Zones Fetch Status information available in the Stork server database.',
                    }
                "
            ></ng-container>
        </ng-template>
    </p-table>
</p-dialog>

<p-confirmdialog styleClass="w-30rem">
    <ng-template #message let-message>
        <div class="p-dialog-content">
            <i class="pi pi-exclamation-triangle p-confirmdialog-icon"></i>
            <div class="flex flex-column gap-4 p-confirmdialog-message">
                <div>{{ message.message }}</div>
                <div>Are you sure you want to continue?</div>
                <div class="flex items-center">
                    <p-checkbox
                        inputId="force-populate-zone-inventory"
                        [(ngModel)]="forcePopulateZoneInventory"
                        binary="true"
                    />
                    <label for="force-populate-zone-inventory" class="ml-2"
                        >Refresh cached zones from DNS servers</label
                    >
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>

<app-tab-view
    routePath="/dns/zones/"
    [entityProvider]="zoneProvider"
    firstTabTitle="Zones"
    [entityTitleProvider]="tabTitleProvider"
    [tableQueryParamFilters]="supportedQueryParamFilters"
    [entitiesTable]="zonesTable"
>
    <ng-template #firstTab>
        <div class="my-2 flex gap-2 flex-wrap justify-content-end">
            <p-button
                label="Fetch Status"
                [icon]="fetchInProgress ? 'pi pi-spin pi-spinner' : 'pi pi-info-circle'"
                (onClick)="fetchStatusVisible = true"
                id="fetch-status"
            />
            <p-button
                label="Fetch Zones"
                icon="pi pi-download"
                (onClick)="sendPutZonesFetch()"
                [disabled]="fetchInProgress || putZonesFetchLocked"
                id="fetch-zones"
                appAccessEntity="zones"
                appAccessType="update"
            />
            <p-button
                label="Refresh List"
                icon="pi pi-refresh"
                (onClick)="onLazyLoadZones(zonesTable.createLazyLoadMetadata())"
                id="refresh-zones-data"
            />
        </div>
        <p-table
            #zonesTable
            id="zones-table"
            [value]="zones"
            [lazyLoadOnInit]="false"
            [lazy]="true"
            (onLazyLoad)="onLazyLoadZones($event)"
            [paginator]="true"
            [rows]="zonesRows"
            [rowsPerPageOptions]="[10, 30, 100]"
            [showCurrentPageReport]="true"
            stateStorage="local"
            currentPageReportTemplate="{currentPage} of {totalPages} pages"
            styleClass="md:datatable-responsive"
            [stripedRows]="true"
            dataKey="id"
            [expandedRowKeys]="zonesExpandedRows"
            [loading]="zonesLoading"
            [totalRecords]="zonesTotal"
            (rowsChange)="storeZonesTableRowsPerPage($event)"
            class="full-w-table"
        >
            <ng-template #caption>
                <p-panel #filtersPanel [toggleable]="true" styleClass="p-panel-icons-hidden">
                    <ng-template #header>
                        <div class="flex align-items-center gap-2">
                            <p-button
                                [text]="true"
                                [rounded]="true"
                                severity="secondary"
                                [icon]="!filtersPanel.collapsed ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                (click)="filtersPanel.toggle($event)"
                            />
                            <i class="pi pi-filter"></i>
                            <span class="font-bold">Filters</span>
                            <p-tag
                                icon="pi pi-check"
                                value="Filter applied"
                                severity="success"
                                *ngIf="tableHasFilter(zonesTable)"
                            ></p-tag>
                            <app-help-tip subject="Filtering" id="filtering-help-button">
                                <p>
                                    Zones in the table below can be filtered by explicitly selected fields using text,
                                    dropdown or multiselect input filters. The currently supported fields for explicit
                                    filtering are:
                                </p>
                                <ul>
                                    <li>
                                        Zone Type - multiple zone types can be specified. If unspecified, all zone types
                                        are returned. Next to this filter there is a toggle button that allows to
                                        quickly filter out builtin zones.
                                    </li>
                                    <li>
                                        RPZ - a response policy zone is a special type of zone in BIND 9 that defines a
                                        set of rules that are applied to the response to a DNS query. Stork identifies
                                        these special zones and marks them with the RPZ tag on the zone list. The filter
                                        allows for selecting whether the response policy zones should be included along
                                        with other zones, should be excluded (only non-RPZ are listed), or only the RPZ
                                        should be listed (and regular zones excluded).
                                    </li>
                                    <li>App ID - the ID of the DNS App.</li>
                                    <li>Serial - partial or exact zone serial.</li>
                                    <li>Zone Class - exact zone class.</li>
                                    <li>App Type - type of the DNS App.</li>
                                </ul>
                                <p>
                                    Zones can also be filtered by entering text in the search box; the table shows all
                                    zones matching the exact or partial filter text. The text is matched against the
                                    zone name, app name, or view. For clarity, the
                                    <span class="font-bold">(root)</span> keyword marks a root zone. Typing
                                    <span class="font-italic white-space-nowrap">(root)</span> or
                                    <span class="font-italic white-space-nowrap">root</span> will return the root zone.
                                </p>
                                <p>
                                    Multiple filtering conditions are combined using logical AND (i.e., filtered zones
                                    match all specified conditions).
                                </p>
                            </app-help-tip>
                        </div>
                    </ng-template>
                    <div class="flex flex-wrap gap-2 row-gap-3 mt-3 align-items-center">
                        <p-button
                            label="Clear"
                            [severity]="tableHasFilter(zonesTable) ? 'info' : 'secondary'"
                            icon="pi pi-filter-slash"
                            (click)="clearTableFiltering()"
                            [disabled]="!tableHasFilter(zonesTable)"
                        />
                        <div class="flex-auto"></div>
                        <p-button
                            icon="pi {{ builtinZonesDisplayed ? 'pi-eye' : 'pi-eye-slash' }}"
                            id="builtin-type-filtered"
                            [severity]="builtinZonesDisplayed ? 'primary' : 'secondary'"
                            [pTooltip]="
                                builtinZonesDisplayed ? 'Click to hide builtin zones' : 'Click to show builtin zones'
                            "
                            (onClick)="toggleBuiltinZones()"
                            label="Toggle builtin zones"
                            iconPos="right"
                        />
                        <p-columnFilter
                            field="zoneType"
                            matchMode="equals"
                            [showMenu]="false"
                            [showClearButton]="false"
                        >
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel variant="on">
                                        <p-multiSelect
                                            inputId="zone-type"
                                            [options]="zoneTypes"
                                            [ngModel]="value"
                                            styleClass="w-12rem"
                                            (onChange)="filterZonesTable($event.value, filterConstraint)"
                                        />
                                        <label for="zone-type">Zone Type</label>
                                    </p-floatlabel>
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clearFilterBtn;
                                            context: {
                                                $implicit: value,
                                                filterConstraint: filterConstraint,
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter field="rpz" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel variant="on">
                                        <p-select
                                            inputId="rpz"
                                            [options]="rpzOptions"
                                            optionLabel="name"
                                            optionValue="value"
                                            (onChange)="filterZonesTable($event.value, filterConstraint)"
                                            [ngModel]="value"
                                            styleClass="w-10rem"
                                        ></p-select>
                                        <label for="rpz">RPZ</label>
                                    </p-floatlabel>
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clearFilterBtn;
                                            context: {
                                                $implicit: value,
                                                filterConstraint: filterConstraint,
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter field="appId" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel variant="on">
                                        <p-inputNumber
                                            inputId="app-id"
                                            mode="decimal"
                                            [useGrouping]="false"
                                            (onInput)="
                                                filterZonesTable(
                                                    $event.value === 0 ? 1 : $event.value,
                                                    filterConstraint
                                                )
                                            "
                                            [ngModel]="value"
                                            min="1"
                                            styleClass="w-6rem"
                                        ></p-inputNumber>
                                        <label for="app-id">App ID</label>
                                    </p-floatlabel>
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clearFilterBtn;
                                            context: {
                                                $implicit: value,
                                                filterConstraint: filterConstraint,
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter
                            field="zoneSerial"
                            matchMode="contains"
                            [showMenu]="false"
                            [showClearButton]="false"
                        >
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel variant="on">
                                        <input
                                            pInputText
                                            type="text"
                                            (input)="filterZonesTable($event.target.value, filterConstraint)"
                                            [ngModel]="value"
                                            id="zone-serial"
                                            class="w-8rem"
                                        />
                                        <label for="zone-serial">Serial</label>
                                    </p-floatlabel>
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clearFilterBtn;
                                            context: {
                                                $implicit: value,
                                                filterConstraint: filterConstraint,
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter
                            field="zoneClass"
                            matchMode="equals"
                            [showMenu]="false"
                            [showClearButton]="false"
                        >
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel variant="on">
                                        <p-select
                                            inputId="zone-class"
                                            [options]="zoneClasses"
                                            (onChange)="filterZonesTable($event.value, filterConstraint)"
                                            [ngModel]="value"
                                            styleClass="w-10rem"
                                        ></p-select>
                                        <label for="zone-class">Zone Class</label>
                                    </p-floatlabel>
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clearFilterBtn;
                                            context: {
                                                $implicit: value,
                                                filterConstraint: filterConstraint,
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter field="appType" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-floatlabel variant="on">
                                        <p-select
                                            inputId="app-type"
                                            [options]="appTypes"
                                            optionLabel="name"
                                            optionValue="value"
                                            (onChange)="filterZonesTable($event.value, filterConstraint)"
                                            [ngModel]="value"
                                            styleClass="w-10rem"
                                        ></p-select>
                                        <label for="app-type">App Type</label>
                                    </p-floatlabel>
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clearFilterBtn;
                                            context: {
                                                $implicit: value,
                                                filterConstraint: filterConstraint,
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                        <p-columnFilter field="text" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filterConstraint="filterConstraint">
                                <div class="flex align-items-center">
                                    <p-iconfield iconPosition="left">
                                        <p-inputicon>
                                            <i class="pi pi-search"></i>
                                        </p-inputicon>
                                        <input
                                            pInputText
                                            type="text"
                                            id="text-filter"
                                            (input)="filterZonesTable($event.target.value, filterConstraint)"
                                            [ngModel]="value"
                                            placeholder="App name, Zone name or view"
                                            class="max-w-13rem sm:w-18rem sm:max-w-18rem"
                                        />
                                    </p-iconfield>
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clearFilterBtn;
                                            context: {
                                                $implicit: value,
                                                filterConstraint: filterConstraint,
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </p-panel>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th class="w-3rem sm:w-5rem"></th>
                    <th [pSortableColumn]="ZoneSortField.Rname">
                        <div class="flex gap-1 white-space-nowrap">
                            Zone Name<p-sortIcon [field]="ZoneSortField.Rname" />
                        </div>
                    </th>
                    <th [pSortableColumn]="ZoneSortField.Serial">
                        <div class="flex gap-1">Serial<p-sortIcon [field]="ZoneSortField.Serial" /></div>
                    </th>
                    <th [pSortableColumn]="ZoneSortField.Type">
                        <div class="flex gap-1 white-space-nowrap">
                            Zone Type<p-sortIcon [field]="ZoneSortField.Type" />
                        </div>
                    </th>
                    <th>Number of Associated DNS Views</th>
                </tr>
            </ng-template>
            <ng-template #body let-zone let-expanded="expanded">
                <tr>
                    <td>
                        <p-button
                            [pRowToggler]="zone"
                            [text]="true"
                            severity="secondary"
                            [rounded]="true"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        />
                    </td>
                    <td>
                        <a routerLink="/dns/zones/{{ zone.id }}" class="font-semibold">{{ zone.name | unroot }}</a>
                    </td>
                    <td>
                        <ng-container
                            *ngTemplateOutlet="zoneSerialInfo; context: { $implicit: getZoneSerialInfo(zone) }"
                        ></ng-container>
                    </td>
                    <td>
                        <div class="flex flex-wrap justify-center align-items-center gap-2">
                            <span>{{ getUniqueZoneTypes(zone).join(', ') }}</span>
                            <p-tag *ngIf="includesRPZ(zone)" value="RPZ" severity="success" />
                        </div>
                    </td>
                    <td>
                        {{ zone?.localZones?.length ?? 0 }}
                    </td>
                </tr>
            </ng-template>

            <ng-template #expandedrow let-zone>
                <tr>
                    <td colspan="5">
                        <div class="p-2">
                            <p-table
                                [value]="zone.localZones ?? []"
                                dataKey="serial"
                                [paginator]="true"
                                [rows]="10"
                                [rowsPerPageOptions]="[10, 30, 100]"
                                [alwaysShowPaginator]="false"
                                [columns]="localZoneColumns"
                                [stripedRows]="true"
                                styleClass="md:datatable-responsive"
                            >
                                <ng-template #header let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">{{ col }}</th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-localZone>
                                    <tr>
                                        <ng-container
                                            *ngTemplateOutlet="
                                                localZoneCells;
                                                context: { $implicit: localZone, serialInfo: getZoneSerialInfo(zone) }
                                            "
                                        ></ng-container>
                                    </tr>
                                </ng-template>
                                <ng-template #emptymessage let-columns>
                                    <tr>
                                        <td [attr.colspan]="columns.length">
                                            There are no DNS views associated with this zone.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <ng-container
                    *ngTemplateOutlet="
                        emptyMessage;
                        context: {
                            $implicit: 5,
                            empty:
                                'No zones were found in the Stork server database' +
                                (tableHasFilter(zonesTable) ? ' for the applied filter' : '') +
                                '.',
                        }
                    "
                ></ng-container>
            </ng-template>
            <ng-template #paginatorright let-paginatorState>
                Total: {{ paginatorState.totalRecords | pluralize: 'zone' }}
            </ng-template>
        </p-table>
    </ng-template>
    <ng-template #entityTab let-zone>
        <div class="max-w-100rem">
            <div class="flex text-xl align-items-baseline font-normal text-primary mb-4">
                <div class="pi pi-sitemap mr-2"></div>
                <div class="word-break-all">
                    DNS Zone <span class="font-semibold">{{ zone.name | unroot }}</span>
                </div>
            </div>
            <div class="mb-4">
                <p-fieldset legend="Zone Data">
                    <p-table [value]="[zone]">
                        <ng-template #body let-zoneData>
                            <tr>
                                <td class="font-semibold w-14rem">Name</td>
                                <td>{{ zoneData.name | unroot }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold w-14rem">Stork Internal Zone ID</td>
                                <td>{{ zoneData.id }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
            </div>
            <div class="mb-4">
                <p-fieldset legend="DNS Views Associated with the Zone">
                    <p-table
                        [value]="zone.localZones"
                        dataKey="serial"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[10, 30, 100]"
                        [alwaysShowPaginator]="false"
                        [columns]="localZoneColumns"
                        [stripedRows]="true"
                        styleClass="md:datatable-responsive"
                    >
                        <ng-template #header let-columns>
                            <tr>
                                <th *ngFor="let col of columns">{{ col }}</th>
                                <th>Fetch Status</th>
                                <th>Show Zone</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-localZone>
                            <tr>
                                <ng-container
                                    *ngTemplateOutlet="
                                        localZoneCells;
                                        context: { $implicit: localZone, serialInfo: getZoneSerialInfo(zone) }
                                    "
                                ></ng-container>
                                <td>
                                    <p-tag
                                        *ngIf="zoneInventoryStateMap.get(localZone.daemonId)"
                                        value="{{
                                            zoneInventoryStateMap.get(localZone.daemonId).status === 'erred'
                                                ? 'Error'
                                                : (zoneInventoryStateMap.get(localZone.daemonId).status | titlecase)
                                        }} "
                                        [severity]="getSeverity(zoneInventoryStateMap.get(localZone.daemonId).status)"
                                        [pTooltip]="getTooltip(zoneInventoryStateMap.get(localZone.daemonId).status)"
                                    />
                                </td>
                                <td>
                                    <p-button
                                        [disabled]="localZone.disableShowZone"
                                        severity="secondary"
                                        icon="pi pi-file-import"
                                        (click)="
                                            setZoneViewerDialogVisible(
                                                localZone.daemonId,
                                                localZone.view,
                                                zone.id,
                                                true
                                            )
                                        "
                                    />
                                    <!-- Dialog displaying a zone viewer for a selected view and daemon -->
                                    <p-dialog
                                        *ngIf="!localZone.disableShowZone"
                                        [modal]="true"
                                        [visible]="
                                            zoneViewerDialogVisible()[
                                                `${localZone.daemonId}:${localZone.view}:${zone.id}`
                                            ]
                                        "
                                        [maximizable]="true"
                                        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
                                        styleClass="h-screen"
                                        [draggable]="false"
                                        [resizable]="false"
                                        (visibleChange)="
                                            setZoneViewerDialogVisible(
                                                localZone.daemonId,
                                                localZone.view,
                                                zone.id,
                                                $event
                                            )
                                        "
                                    >
                                        <ng-template #header>
                                            <div class="inline-flex align-items-center justify-content-center gap-2">
                                                <span>
                                                    <span class="font-bold text-2xl">{{ zone.name | unroot }}</span>
                                                    <span class="text-lg">
                                                        for
                                                        <a routerLink="/apps/{{ localZone.appId }}">{{
                                                            localZone.appName
                                                        }}</a
                                                        >, view:
                                                        <a
                                                            routerLink="/dns/zones"
                                                            [queryParams]="{ text: localZone.view }"
                                                            (click)="
                                                                setZoneViewerDialogVisible(
                                                                    localZone.daemonId,
                                                                    localZone.view,
                                                                    zone.id,
                                                                    false
                                                                )
                                                            "
                                                            >{{ localZone.view }}</a
                                                        >
                                                    </span>
                                                </span>
                                            </div>
                                        </ng-template>
                                        @if (
                                            zoneViewerDialogVisible()[
                                                `${localZone.daemonId}:${localZone.view}:${zone.id}`
                                            ]
                                        ) {
                                            <app-zone-viewer
                                                [daemonId]="localZone.daemonId"
                                                [viewName]="localZone.view"
                                                [zoneId]="zone.id"
                                                (viewerError)="
                                                    setZoneViewerDialogVisible(
                                                        localZone.daemonId,
                                                        localZone.view,
                                                        zone.id,
                                                        false
                                                    )
                                                "
                                            ></app-zone-viewer>
                                        }
                                    </p-dialog>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td [attr.colspan]="localZoneColumns.length + 1">
                                    There are no DNS views associated with this zone.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-fieldset>
            </div>
        </div>
    </ng-template>
</app-tab-view>
