:host ::ng-deep
  // Decrease default PrimeNG padding for TabView panel containing detailed view of the zone.
  // This is to be inline with other Stork components margin/padding.
  .p-tabview-panels
    padding-left: 0.5rem
    padding-top: 1.5rem
    padding-right: 0