@layer high
  :host ::ng-deep
    // Ensure the width of the zone viewer dialog when the data is loading.
    .p-dialog
      width: 75vw

    // Compensate left padding for p-tag marking zone serial mismatch.
    .serial-mismatch
      margin-left: -0.4rem

      // Change the order inside p-tag so that the icon will be visible after the serial.
      // And add little margin to the icon.
      .p-tag-icon
        order: 1
        margin-left: 0.25rem
