:host ::ng-deep .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text
  font-size: 1.5em
  font-weight: bold
  color: #59a2e1

// Overwrite default .p-breadcrumb bordered style.
:host ::ng-deep .p-breadcrumb
  margin: 2px 0 0 -5px
  border: 0
