:host ::ng-deep .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text,
:host ::ng-deep .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-icon
  font-size: 1.5em
  font-weight: bold

// Overwrite default .p-breadcrumb bordered style.
// Disable border which by default is visible.
:host ::ng-deep .p-breadcrumb
  border: 0

// Set max-width to prevent horizontal overflow.
.max-w-100vw
  // full viewport width minus some space for margins and paddings
  max-width: calc(100vw - 5rem)
